@media only screen and (max-width: 2560px) {
  #icon-logo {
    margin-left: 518px;
  }

  #icon-logo-profile {
    margin-left: 186px;
  }
}



@media only screen and (max-width: 1920px) {
  /*#icon-logo {
      width: 100%;
      margin-top: 13px;
  }*/
/*
  #icon-logo {
    margin-left: 120px;
  }*/

  #boton-borde {
    margin-left: 60px;
  }

  #icon-logo {
    margin-left: 368px;
  }
}

@media only screen and (max-width: 1680px) {
  #icon-logo {
    background-size: 160px;
    margin-top: -0.5px;
    margin-left: 100px;

  }
}

@media only screen and (max-width: 1560px){
  #icon-logo {
    background-size: 150px;
    margin-top: 2.5px;
  }
}
