  #tabs-responsive {
    min-height: 734px;
  }

  #content-cards{
    height: 235px;
  }

  #califichas-content-happy img{
    width: 40px;
    cursor: pointer;
  }

  #califichas-content-sad img{
    width: 40px;
    cursor: pointer;
  }

  #califichas-content-bad img{
    width: 40px;
    cursor: pointer;
  }

  #califichas-content-happy,
  #califichas-content-sad,
  #califichas-content-bad{
     text-align: center;
  }

  #content-socials-card{
    text-align: center;
  }

  #score-card {
  }

  #score-card img{
    width: 100%;
    /*margin-left: 35px;*/
    cursor: pointer;
  }

  #score-card span{
    margin-top: 38px;
    position: absolute;
    font-size: 32px;
    letter-spacing: 2px;
    margin-left: -77px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    -webkit-margin-start: 38px;
    -webkit-margin-before: -75px;
  }

  #score-card span.menorVeinte{
    margin-top: 38px;
    position: absolute;
    font-size: 32px;
    letter-spacing: 2px;
    margin-left: -72px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    -webkit-margin-start: 40px;
    -webkit-margin-before: -75px;
  }

  #score-card span.menorDiez {
    margin-top: 40px;
    position: absolute;
    font-size: 32px;
    letter-spacing: 2px;
    margin-left: -66px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    -webkit-margin-start: 48px;
    -webkit-margin-before: -75px;
  }

  #score-card p{
    position: absolute;
    font-size: 32px;
    letter-spacing: 2px;
    margin-left: 28px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    margin-top: -75px;
  }

  #text-chamber-card{
    font-size: 30px;
    margin-top: 7px;
    margin-right: 20px;
    text-transform: uppercase;
    text-align: right;
    color: #BBB;
    cursor: pointer;
  }

  #text-state-card{
    font-size: 23px;
    text-transform: capitalize;
    text-align: right;
    margin-right: 20px;
    color: #BBB;
    letter-spacing: 2px;
    cursor: pointer;
  }

  #text-state-card span{
    font-size: 23px;
    text-transform: capitalize;
    text-align: right;
    margin-right: 0px;
    color: #BBB;
    letter-spacing: 2px;
    cursor: pointer;
  }

  #image-card img{
    width: 200px;
    height: 200px;
    margin-top: -65px;
    border-radius: 50%;
    cursor: pointer;
  }

  #image-party-card img{
    width: 75px;
    margin-left: -30px;
    margin-top: 65px;
    cursor: pointer;
  }

  #image-state-card {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    cursor: pointer;
  }

  #facebook-card img{
    margin-top: 5px;
    width: 40px;
    cursor: pointer;
  }

  #twitter-card img{
    margin-top: 5px;
    width: 40px;
    cursor: pointer;
  }

  #mail-card img{
    margin-top: 5px;
    width: 40px;
    cursor: pointer;
  }

  #text-name-card{
    font-size: 19px;
    margin-top: 3px;
    color: #EE4656;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 3px;
    cursor: pointer;
  }

  #text-election-card{
    font-size: 19px;
    margin-top: 3px;
    margin-left: 0px;
    color: #BBB;
    text-transform: capitalize;
    text-align: left;
    cursor: pointer;
  }

  #text-commission-card{
    font-size: 19px;
    margin-left: 0px;
    padding-bottom: 5px;
    text-transform: capitalize;
    color: #BBB;
    text-align: left;
    cursor: pointer;
  }

  md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
    margin-left: 170px;
    color:#FFF;
  }

  md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
    color:#FFF;
  }

  #depscontent{
    background: #EEE;
  }

  #senatorscontent{
    background: #EEE;
  }

  /* ************** */

  /* Styles Profile */
  #califichas-content-happy-profile img{
    width: 55px;
    cursor: pointer;
  }

  #califichas-content-sad-profile img{
    width: 55px;
    cursor: pointer;
  }

  #califichas-content-bad-profile{
    z-index: 2;
  }

  #califichas-content-bad-profile img{
    width: 55px;
    cursor: pointer;
  }

  #content-socials-card-profile{
    text-align: center;
    margin-left: 0px;
    margin-top: 35px;
  }

  #score-card-profile {
    z-index: 2;
  }

  #score-card-profile img{
    /*margin-top: 50px;*/
    width: 100%;
    /*margin-left: -5px;*/
  }

  #score-card-profile span{
    margin-top: -95px;
    position: absolute;
    font-size: 55px;
    letter-spacing: 2px;
    margin-left: -35px;
    font-weight: bold;
    color: #FFF;
  }

  #score-card-profile span.menorVeinte{
    margin-top: -95px;
    position: absolute;
    font-size: 55px;
    letter-spacing: 2px;
    margin-left: -28px;
    font-weight: bold;
    color: #FFF;
  }

  #score-card-profile span.menorDiez {
    margin-top: -95px;
    position: absolute;
    font-size: 55px;
    letter-spacing: 2px;
    margin-left: -17px;
    font-weight: bold;
    color: #FFF;
  }

  #score-card-profile p{
    margin-top: -95px;
    position: absolute;
    font-size: 55px;
    letter-spacing: 0px;
    margin-left: 15px;
    font-weight: bold;
    color: #FFF;
  }

  #text-chamber-card-profile{
    font-size: 30px;
    margin-top: 105px;
    text-transform: uppercase;
    text-align: right;
    color: #BBB;
    font-weight: bold;
    letter-spacing: 9px;
  }

  #text-state-card-profile {
    font-size: 25px;
    text-transform: uppercase;
    text-align: right;
    color: #BBB;
    letter-spacing: 2px;
    font-weight: bold;
  }

  #text-state-card-profile span{
    font-size: 18px;
    /* margin-top: 2px; */
    margin-right: 0px;
    text-transform: uppercase;
    text-align: right;
    color: #BBB;
    letter-spacing: 3px;
  }

  .image-card-profile img{
    width: 220px;
    height: 220px;
    margin-top: -45px;
    margin-left: 0px;
    border-radius: 50%;
  }

  .image-party-card-profile img{
    width: 95px;
    margin-left: -12px;
    margin-top: 80px;
    cursor: pointer;
  }

  #image-state-card-profile {
    width: 75px;
    height: 75px;
    margin-top: 115px;
    cursor: pointer;
  }

  .facebook-card-profile img{
    margin-top: -30px;
    width: 55px;
    margin-left: 0px;
  }

  .twitter-card-profile img{
    width: 55px;
  }

  .mail-card-profile img{
    width: 55px;
  }

  #text-name-card-profile{
    font-size: 25px;
    margin-top: 3px;
    color: #EE4656;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 3px;
    font-weight: bold;
    margin-left: 20px;
  }

  #text-election-card-profile{
    font-size: 20px;
    margin-top: 3px;
    color: #BBB;
    text-transform: capitalize;
    text-align: left;
    font-weight: bold;
    margin-left: 20px;
  }

  #text-commission-card-profile{
    font-size: 20px;
    padding-bottom: 0px;
    text-transform: capitalize;
    color: #BBB;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0px;
  }

  #style-trabajo{
    color: #EE4455;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 25px;
    margin-top: 80px;
  }

  #style-rol{
    color:#FFC73F;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 25px;
  }

  #style-extra{
    color:#FF974C;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 25px;
  }

  #style-trabajo .letter {
    margin-left: -20px;
  }

  #style-rol .letter{
    margin-left: -20px;
  }

  #style-extra .letter{
    margin-left: -20px;
  }

  #content-cards-profile{
    margin-top: 180px;
    /*height: 275px;*/
    /*padding: 20px;*/
    /*border: 1px solid red;*/
  }

  #content-cards-profile-graph {
    margin-top: 200px;
  }

  @media only screen and (max-width: 2350px) {
    #score-card-profile p {
      margin-top: -88px;
      margin-left: 15px;
    }

    #score-card-profile span {
      margin-top: -92px;
      margin-left: -31px;
    }

    #score-card-profile span.menorDiez {
      margin-top: -92px;
      margin-left: -19px;
    }
  }

  @media only screen and (max-width: 2250px) {
    .image-card-profile img {
      width: 200px;
      height: 200px;
    }

    .image-party-card-profile img {
      width: 80px;
    }
  }

  @media only screen and (max-width: 2150px) {
    #image-card img {
      margin-top: -55px;
    }
  }

  @media only screen and (max-width: 2200px) {
    #score-card span{
      margin-top: 35px;
      margin-left: -72px;
      -webkit-margin-start: 34px;
      -webkit-margin-before: -71px;
    }

    #score-card span.menorVeinte {
    margin-top: 38px;
    margin-left: -72px;
    -webkit-margin-start: 37px;
    -webkit-margin-before: -71px;
    }

    #score-card span.menorDiez {
    margin-top: 44px;
    margin-left: -72px;
    -webkit-margin-start: 44px;
    -webkit-margin-before: -72px;
    }
  }
  @media only screen and (max-width: 2000px) {
    #content-socials-card-profile {
      margin-left: 20px;
    }

    #califichas-content-happy-profile img {
      width: 50px;
      cursor: pointer;
    }

    #califichas-content-sad-profile img {
      width: 50px;
    }

    #califichas-content-bad-profile img {
      width: 50px;
    }

    .facebook-card-profile img {
      width: 50px;
    }

    .twitter-card-profile img {
      width: 50px;
    }

    .mail-card-profile img {
      width: 50px;
    }

    #text-chamber-card-profile {
      margin-top: 65px;
    }

    #image-state-card-profile {
      margin-top: 65px;
    }

    #image-card img {
      margin-top: -40px;
      width: 180px;
      height: 180px;
    }

    #score-card p {
      margin-left: 21px;
      margin-top: -67px;
    }

    #score-card span {
      margin-top: 30px;
      margin-left: -67px;
      -webkit-margin-start: 30px;
      -webkit-margin-before: -67px;
    }

    #score-card span.menorVeinte {
      margin-top: 38px;
      margin-left: -72px;
      -webkit-margin-start: 33px;
      -webkit-margin-before: -67px;
    }

    #score-card span.menorDiez {
      margin-top: 40px;
      margin-left: -66px;
      -webkit-margin-start: 40px;
      -webkit-margin-before: -66px;
    }
  }

  @media only screen and (max-width: 1920px) {

    #style-trabajo .letter {
        margin-left: 0px;
    }

    #style-trabajo {
      margin-left: 0px;
      margin-top: 55px;
    }

    #style-rol .letter {
        margin-left: 0px;
    }

    #style-rol {
      margin-left: 0px;
    }

    #style-extra .letter {
        margin-left: 0px;
    }

    #style-extra {
      margin-left: 0px;
    }

    .image-party-card-profile img {
      margin-left: 0px;
      width: 70px;
      margin-top: 80px;
    }

    #score-card span {
      margin-top: 27px;
      margin-left: -64px;
      -webkit-margin-start: 27px;
      -webkit-margin-before: -64px;
    }

    #score-card-profile span.menorVeinte {
      margin-top: -74px;
      font-size: 45px;
      margin-left: -22px;
      -webkit-margin-start: 33px;
      -webkit-margin-before: -64px;
    }

    #score-card-profile span.menorDiez {
      margin-top: -75px;
      margin-left: -14px;
      font-size: 45px;
      -webkit-margin-start: 36px;
      -webkit-margin-before: -66px;
    }

    #score-card-profile p {
      margin-left: 8px;
      font-size: 45px;
      margin-top: -75px;
    }

    #score-card p {
      margin-left: 19px;
      margin-top: -63px;
    }

    #score-card-profile span {
      margin-top: -75px;
      margin-left: -26px;
      font-size: 45px;
    }

    #score-card span.menorVeinte {
      margin-top: 38px;
      margin-left: -72px;
      -webkit-margin-start: 30px;
      -webkit-margin-before: -65px;
    }

    #score-card span.menorDiez {
      margin-top: 40px;
      margin-left: -66px;
      -webkit-margin-start: 36px;
      -webkit-margin-before: -64px;
    }

    #califichas-content-happy-profile img {
      width: 45px;
    }

    #califichas-content-sad-profile img {
      width: 45px;
    }

    #califichas-content-bad-profile img {
      width: 45px;
    }

    .facebook-card-profile img {
      width: 45px;
    }

    .twitter-card-profile img {
      width: 45px;
    }

    .mail-card-profile img {
      width: 45px;
    }

    #image-card img {
      width: 180px;
      height: 180px;
      margin-top: -40px;
    }

    .image-card-profile img {
      width: 180px;
      height: 180px;
    }

    #text-chamber-card-profile {
      margin-top: 60px;
    }

    #image-state-card-profile {
      margin-top: 65px;
    }
  }

  @media only screen and (max-width: 1919px) {
    #image-card img {
      width: 200px;
      height: 200px;
      margin-top: -65px;
    }

    #score-card p {
      margin-left: 30px;
      margin-top: -74px;
    }

    #score-card span {
      margin-top: 27px;
      margin-left: -64px;
      -webkit-margin-start: 38px;
      -webkit-margin-before: -73px;
    }

    #score-card span.menorVeinte {
      margin-top: 38px;
      margin-left: -72px;
      -webkit-margin-start: 46px;
      -webkit-margin-before: -73px;
    }

    #score-card span.menorDiez {
      margin-top: 40px;
      margin-left: -66px;
      -webkit-margin-start: 47px;
      -webkit-margin-before: -76px;
    }
}

  @media only screen and (max-width: 1800px) {
    .image-card-profile img {
      width: 160px;
      height: 160px;
      margin-top: -30px;
    }

    .image-party-card-profile img {
      margin-left: 0px;
      width: 60px;
      margin-top: 70px;
    }

    #score-card p {
      margin-left: 28px;
      margin-top: -73px;
    }

    #score-card span {
      margin-top: 27px;
      margin-left: -64px;
      -webkit-margin-start: 37px;
      -webkit-margin-before: -70px;
    }

    #score-card span.menorVeinte {
      margin-top: 38px;
      margin-left: -72px;
      -webkit-margin-start: 41px;
      -webkit-margin-before: -72px;
    }

    #score-card span.menorDiez {
      margin-top: 40px;
      margin-left: -66px;
      -webkit-margin-start: 45px;
      -webkit-margin-before: -72px;
    }

    #score-card-profile p {
      margin-left: 9px;
      font-size: 40px;
      margin-top: -66px;
    }

    #score-card-profile span {
      margin-top: -66px;
      margin-left: -23px;
      font-size: 40px;
    }

    #score-card-profile span.menorVeinte {
      margin-top: -66px;
      font-size: 40px;
      margin-left: -16px;
    }

    #score-card-profile span.menorDiez {
      margin-top: -69px;
      margin-left: -13px;
      font-size: 40px;
    }

    #califichas-content-happy-profile img {
      width: 40px;
    }

    #califichas-content-sad-profile img {
      width: 40px;
    }

    #califichas-content-bad-profile img {
      width: 40px;
    }

    #text-chamber-card-profile {
      margin-top: 0;
    }

    #image-state-card-profile {
      margin-top: 10px;
    }

    #image-card img {
      margin-top: -57px;
    }

  }

  @media only screen and (max-width: 1680px) {
    #text-chamber-card{
      font-size: 25px;
      margin-right: 10px;
    }

    #text-state-card{
      font-size: 18px;
      margin-right: 10px;
    }

    #text-state-card span{
      font-size: 15px;
    }

    #text-name-card{
      font-size: 15px;
    }

    #text-election-card{
      font-size: 15px;
    }

    #text-commission-card{
      font-size: 17px;
    }

    #image-card img {
      width: 190px;
      height: 190px;
      margin-top: -50px;
    }

    #score-card p {
      margin-left: 24px;
      margin-top: -67px;
    }

    #score-card span {
      margin-top: 33px;
      margin-left: -70px;
      -webkit-margin-start: 32px;
      -webkit-margin-before: -68px;
    }

    #score-card span.menorVeinte {
      margin-top: 35px;
      margin-left: -67px;
      -webkit-margin-start: 35px;
      -webkit-margin-before: -68px;
    }

    #score-card span.menorDiez {
      margin-top: 35px;
      margin-left: -60px;
      -webkit-margin-start: 41px;
      -webkit-margin-before: -65px;
    }

    #score-card-profile p {
      margin-left: 7px;
      margin-top: -65px;
    }

    #score-card-profile span {
      margin-top: -65px;
      margin-left: -23px;
    }

    #score-card-profile span.menorVeinte {
      margin-top: -65px;
    }

    #score-card-profile span.menorDiez {
      margin-top: -64px;
    }

  }

  @media only screen and (max-width: 1600px) {

    #score-card p {
      margin-left: 21px;
      margin-top: -67px;
    }

    #score-card span {
      margin-top: 30px;
      margin-left: -68px;
      -webkit-margin-start: 30px;
      -webkit-margin-before: -65px;
    }

    #score-card span.menorVeinte {
      margin-top: 33px;
      margin-left: -64px;
      -webkit-margin-start: 32px;
      -webkit-margin-before: -65px;
    }

    #score-card span.menorDiez {
      margin-top: 30px;
      margin-left: -56px;
      -webkit-margin-start: 38px;
      -webkit-margin-before: -65px;
    }

    #score-card-profile p {
      margin-left: 9px;
      font-size: 35px;
      margin-top: -59px;
    }

    #score-card-profile span {
      margin-top: -60px;
      margin-left: -21px;
      font-size: 35px;
    }

    #score-card-profile span.menorDiez {
      font-size: 35px;
      margin-top: -60px;
      margin-left: -12px;
    }

    #score-card-profile span.menorVeinte {
      margin-top: -59px;
      font-size: 35px;
      margin-left: -14px;
    }

    #text-name-card-profile {
      font-size: 23px;
    }

    .facebook-card-profile img {
      width: 40px;
    }

    .twitter-card-profile img {
      width: 40px;
    }

    .mail-card-profile img {
      width: 40px;
    }
  }

  @media only screen and (max-width: 1550px) {

    .image-card-profile img {
      width: 150px;
      height: 150px;
      margin-top: -20px;
    }

    #califichas-content-happy-profile img {
      width: 35px;
    }

    #califichas-content-sad-profile img {
      width: 35px;
    }

    #califichas-content-bad-profile img {
      width: 35px;
    }

    #content-socials-card-profile {
      margin-top: 47px;
    }

    .facebook-card-profile img {
      width: 35px;
    }


    .mail-card-profile img {
      width: 35px;
    }

    .twitter-card-profile img {
      width: 35px;
    }

    #image-card img {
      width: 170px;
      height: 170px;
      margin-top: -40px;
    }
  }

  @media only screen and (max-width: 1520px) {
    #text-chamber-card-profile {
      font-size: 25px;
    }

    #style-trabajo .letter {
      margin-left: -5px;
    }

    #style-extra .letter {
      margin-left: -5px;
    }

    #style-rol .letter {
      margin-left: -5px;
    }

    #score-card p {
      margin-left: 16px;
      margin-top: -64px;
    }

    #score-card span {
      margin-top: 27px;
      margin-left: -65px;
      -webkit-margin-start: 27px;
      -webkit-margin-before: -64px;
    }

    #score-card span.menorVeinte {
      margin-top: 30px;
      margin-left: -58px;
      -webkit-margin-start: 32px;
      -webkit-margin-before: -65px;
    }

    #text-name-card-profile {
      font-size: 21px;
    }

    #text-election-card-profile {
      font-size: 18px;
    }

  }

  @media only screen and (max-width: 1500px) {
    #score-card-profile p {
      margin-left: 11px;
      font-size: 30px;
      margin-top: -53px;
    }

    #score-card-profile span {
      margin-top: -53px;
      margin-left: -18px;
      font-size: 30px;
    }

    #score-card-profile span.menorVeinte {
      margin-top: -55px;
      font-size: 30px;
      margin-left: -12px;
    }

    #score-card-profile span.menorDiez {
      font-size: 30px;
      margin-top: -54px;
      margin-left: -10px;
    }

  }

  @media only screen and (max-width: 1486px) {

    #score-card span.menorVeinte {
      margin-top: 27px;
      margin-left: -61px;
      -webkit-margin-start: 30px;
      -webkit-margin-before: -63px;
    }

    #score-card span.menorDiez {
      margin-top: 30px;
      margin-left: -56px;
      -webkit-margin-start: 34px;
      -webkit-margin-before: -62px;
    }
  }

  @media only screen and (max-width: 1440px) {
    #image-card img {
      width: 165px;
      height: 165px;
      margin-top: -40px;
    }

    #image-party-card img {
      width: 65px;
    }

    #califichas-content-happy img {
      width: 35px;
    }

    #califichas-content-sad img {
      width: 35px;
    }

    #califichas-content-bad img {
      width: 35px;
    }

    #facebook-card img {
      width: 35px;
    }

    #twitter-card img {
      width: 35px;
    }

    #mail-card img {
      width: 35px;
    }

    #image-state-card {
      width: 35px;
      height: 35px;
    }

    #text-state-card-profile span {
      font-size: 17px;
    }

    #text-name-card-profile {
      font-size: 20px;
    }

    #text-election-card-profile {
      font-size: 16px;
    }

    #image-state-card-profile {
      width: 50px;
      height: 50px;
    }

    #score-card p {
      margin-left: 15px;
      margin-top: -60px;
    }

    #score-card span {
      margin-top: 27px;
      margin-left: -65px;
      -webkit-margin-start: 25px;
      -webkit-margin-before: -60px;
    }

    #score-card span.menorDiez {
      margin-top: 26px;
      margin-left: -53px;
      -webkit-margin-start: 34px;
      -webkit-margin-before: -62px;
    }
  }

  @media only screen and (max-width: 1366px) {
    #text-name-card{
      margin-left: 15px;
    }

    #text-election-card{
      margin-left: 15px;
    }

    #text-commission-card{
      margin-left: 15px;
    }

    #image-card img {
      width: 160px;
      height: 160px;
    }

    #image-party-card img {
      width: 60px;
    }

    #text-chamber-card {
      font-size: 22px;
      margin-right: 10px;
    }

    #score-card p {
      margin-left: 13px;
      margin-top: -58px;
    }

    #score-card span {
      margin-top: 23px;
      margin-left: -61px;
      -webkit-margin-start: 21px;
      -webkit-margin-before: -60px;
    }

    #score-card span.menorVeinte {
      margin-top: 23px;
      margin-left: -58px;
      -webkit-margin-start: 25px;
      -webkit-margin-before: -60px;
    }

    #score-card span.menorDiez {
      margin-top: 23px;
      margin-left: -51px;
      -webkit-margin-start: 30px;
      -webkit-margin-before: -60px;
    }

    #score-card-profile img {
      margin-top: 75px;
      width: 120px;
    }

    #score-card-profile p {
      font-size: 35px;
      margin-top: -25px;
    }

    .image-card-profile img {
      width: 180px;
      height: 180px;
    }

    #content-cards-profile-graph {
      padding-top: 145px;
    }
  }

  @media only screen and (max-width: 1280px) {

    #image-card img {
      width: 150px;
      height: 150px;
    }

    #califichas-content-bad-profile img {
      margin-left: 19px;
    }

    #score-card span {
      margin-top: 20px;
      margin-left: -59px;
      -webkit-margin-start: 18px;
      -webkit-margin-before: -57px;
    }

    #score-card span.menorVeinte {
      margin-top: 20px;
      margin-left: -55px;
      -webkit-margin-start: 27px;
      -webkit-margin-before: -56px;
    }

    #score-card span.menorDiez {
      margin-top: 19px;
      margin-left: -47px;
      -webkit-margin-start: 30px;
      -webkit-margin-before: -60px;
    }

    #score-card-profile img {
      margin-top: 90px;
      width: 100px;
    }

    #score-card-profile p {
      font-size: 28px;
      margin-top: -12px;
    }

    #text-name-card-profile {
      font-size: 16px;
    }

    #text-election-card-profile {
      font-size: 16px;
    }

    #text-commission-card-profile {
      font-size: 16px;
    }

    #text-chamber-card-profile {
      font-size: 15px;
    }

    #text-state-card-profile span {
      font-size: 15px;
    }

    .image-party-card-profile img {
      width: 65px;
      margin-top: 85px;
    }

    .twitter-card-profile img {
      margin-top: 10px;
    }

    .mail-card-profile img {
      margin-top: 10px;
    }

    #content-cards-profile-graph {
      padding-top: 165px;
    }

    #califichas-content-happy-profile img {
      width: 35px;
    }

    #califichas-content-sad-profile img {
        width: 35px;
    }

    #califichas-content-bad-profile img {
        width: 35px;
    }

    .facebook-card-profile img {
      width: 35px;
    }

    .twitter-card-profile img {
      width: 35px;
    }

    .mail-card-profile img {
      width: 35px;
    }

    #style-trabajo {
      margin-top: 22px;
      font-size: 18px;
    }

    #style-rol {
      font-size: 18px;
    }

    #style-extra {
      font-size: 18px;
    }
  }


  @media only screen and (max-width: 1024px) {

    #score-card img {
      /*margin-top: 25px;*/
      width: 70px;
      /* margin-left: 35px; */
      cursor: pointer;
    }

    #score-card p {
      margin-top: -50px;
      font-size: 24px;
    }

    #image-card img {
      width: 100px;
      height: 100px;
    }

    #image-party-card img {
      width: 45px;
      margin-left: -15px;
      margin-top: 35px;
    }

    #text-name-card {
      font-size: 13px;
      margin-left: 25px;
    }

    #text-election-card {
      font-size: 13px;
      margin-left: 25px;
    }

    #text-commission-card {
      font-size: 13px;
      margin-left: 25px;
    }

    #califichas-content-happy img {
      width: 25px;
    }

    #califichas-content-sad img {
      width: 25px;
    }

    #califichas-content-bad img {
      width: 25px;
    }

    #facebook-card img {
      width: 25px;
    }

    #twitter-card img {
      width: 25px;
    }

    #mail-card img {
      width: 25px;
    }

    #text-chamber-card {
      font-size: 20px;
    }

    #content-cards {
      height: 155px;
    }

    #score-card span {
      margin-top: -48px;
      font-size: 24px;
      margin-left: 19px;
    }

    #text-state-card {
      font-size: 16px;
      margin-right: 10px;
    }

    #score-card span.menorVeinte {
      margin-top: -48px;
      margin-left: 22px;
      font-size: 24px;
    }

    #score-card span.menorDiez {
      margin-top: -47px;
      margin-left: 27px;
      font-size: 24px;
    }

    .image-card-profile img {
      width: 150px;
      height: 150px;
    }

    .image-party-card-profile img {
      width: 55px;
      margin-top: 61px;
    }

    #califichas-content-happy-profile img {
      width: 30px;
    }

    #califichas-content-sad-profile img {
      width: 30px;
    }

    #califichas-content-bad-profile img {
      width: 30px;
    }

    #score-card-profile p {
      font-size: 20px;
      margin-top: 2px;
      margin-left: 10px;
    }

    #text-chamber-card-profile {
      letter-spacing: 5px;
    }
  }

  @media only screen and (max-width: 960px) {

    #div-buttons-score {
      width: auto;
    }

    #image-party-card img {
      margin-left: -15px;
      margin-top: 45px;
    }

    #content-socials-card {
      margin-left: 10px;
    }

    #image-card img{
      margin-top: -30px;
      width: 105px;
      height: 105px;
    }

    #image-state-card {
      width: 25px;
      height: 35px;
    }

    #califichas-content-happy img {
      width: 20px;
    }

    #califichas-content-sad img {
      width: 20px;
    }

    #califichas-content-bad img {
      width: 20px;
    }

    .facebook-card-profile img {
      width: 25px;
    }

    .twitter-card-profile img {
        width: 25px;
    }

    .mail-card-profile img {
        width: 25px;
    }

    #score-card-profile img {
      margin-top: 102px;
      width: 73px;
    }

    #score-card-profile p {
      font-size: 20px;
      margin-top: 7px;
      margin-left: 3px;
    }

    #style-trabajo {
      font-size: 18px;
    }

    #style-extra {
      font-size: 18px;
    }

    #style-rol {
      font-size: 18px;
    }

    #score-card img {
      width: 60px;
    }

    #score-card p {
      margin-top: -42px;
      font-size: 20px;
    }

    #text-chamber-card {
      margin-top: 0px;
    }

    #text-state-card span {
      font-size: 14px;
    }

    #image-state-card {
      margin-top: 5px;
    }

    #score-card span {
      margin-top: -44px;
      margin-left: 14px;
    }

    #score-card span.menorVeinte {
      margin-top: -44px;
      margin-left: 17px;
      -webkit-margin-start: 17px;
      -webkit-margin-before: -46px;
    }

    #score-card span.menorDiez {
      margin-top: -46px;
      margin-left: 22px;
      -webkit-margin-start: 23px;
      -webkit-margin-before: -45px;
    }

  }

  @media only screen and (max-width: 959px) {
    #image-card img {
      margin-top: -20px;
      width: 130px;
      height: 130px;
      margin-left: 10px;
    }

    #text-name-card {
      margin-left: 0px;
    }

    #text-election-card {
      margin-left: 0px;
    }

    #text-commission-card {
      margin-left: 0px;
    }

    #text-chamber-card {
      margin-top: 60px;
    }

    #image-state-card {
      width: 50px;
      height: 40px;
      margin-top: 5px;
    }

    #image-party-card img {
      margin-left: 0px;
      margin-top: 67px;
    }

    md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
      color: #FFF;
      font-size: 25px;
    }

    #text-name-card-profile {
      margin-left: 0px;
    }

    #score-card-profile p {
      margin-left: -10px;
    }

    #text-state-card-profile {
      font-size: 20px;
    }

    #image-state-card-profile {
      width: 75px;
      height: 76px;
      margin-left: -20px;
      margin-top: 97px;
    }

    #text-election-card-profile {
      margin-left: 0px;
    }

    #text-commission-card-profile {
      margin-left: 0px;
    }

    #image-state-card-profile {
      margin-top: 155px;
      width: 50px;
      height: 50px;
    }

    #text-chamber-card-profile {
      letter-spacing: 5px;
      margin-top: 150px;
    }

    #content-socials-card-profile {
      margin-left: -20px;
      margin-top: 135px;
    }

    .image-card-profile img {
      width: 175px;
      height: 175px;
      margin-top: 47px;
      margin-left: 50px;
    }

    .image-party-card-profile img {
      width: 55px;
      margin-top: 165px;
      margin-left: -2px;
    }

    #style-trabajo {
      font-size: 15px;
      margin-top: 5px;
    }

    #style-rol {
      font-size: 15px;
    }

    #style-extra {
      font-size: 15px;
    }

    #style-trabajo .letter {
      margin-left: 10px;
    }

    #style-rol .letter {
      margin-left: 10px;
    }

    #style-extra .letter {
      margin-left: 10px;
    }
  }

  @media only screen and (max-width: 900px) {
    #content-socials-card-profile {
        margin-left: 0px;
        margin-top: 135px;
    }
  }

  @media only screen and (max-width: 768px) {
    #image-party-card img {
      margin-left: -15px;
      margin-top: 45px;
    }

    md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
      margin-left: 137px;
    }

    #image-card img {
      margin-top: -20px;
      width: 115px;
      height: 115px;
      margin-left: 0px;
    }

    #image-party-card img {
      margin-left: -5px;
      margin-top: 52px;
    }

    #text-state-card span {
      font-size: 15px;
    }

    #text-state-card {
      font-size: 15px;
      margin-right: 0px;
    }

    #text-chamber-card {
      margin-top: 40px;
      margin-right: 38px;
    }

    #image-state-card {
      width: 40px;
      height: 35px;
      margin-top: -20px;
      /* z-index: 1; */
    }

    .image-card-profile img {
      margin-left: 5px;
    }

    #score-card-profile p {
      margin-left: -2px;
    }

  }

  @media only screen and (max-width: 736px) {

    md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
      margin-left: 125px;
    }
  }

  @media only screen and (max-width: 732px){
    md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
        margin-left: 110x;
      }
  }

  @media only screen and (max-width: 667px) {

    md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
      margin-left: 105px;
    }

    #image-card img {
      margin-left: -10px;
    }

    #content-socials-card-profile {
      margin-left: 40px;
      margin-top: 135px;
    }

    #califichas-content-sad-profile img {
      margin-left: 20px;
    }

    #score-card-profile p {
      margin-left: 0px;
    }

  }

  @media only screen and (max-width: 640px) {
    md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
      margin-left: 90px;
    }
  }

  @media only screen and (max-width: 585px) {
    md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
      margin-left: 70px;
    }
  }

  @media only screen and (max-width: 568px) {

    md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
      margin-left: 65px;
    }

    #image-card img {
      margin-left: 10px;
    }

    #text-chamber-card {
      margin-top: 40px;
      margin-right: 56px;
    }

    #califichas-content-happy-profile img {
        width: 35px;
        margin-left: 0px;
    }

    #califichas-content-sad-profile img {
      width: 35px;
      margin-left: 0px;
    }

    #califichas-content-bad-profile img {
      width: 35px;
      margin-left: 0px;
    }

    #score-card-profile p {
      /*margin-left: -20px;
      margin-top: -5px;
      font-size: 25px;*/

      margin-left: -55px;
      margin-top: 175px;
      font-size: 25px;
    }

    #content-socials-card-profile {
      margin-left: -10px;
    }

    #image-state-card-profile {
      margin-left: 6px;
      width: 30px;
      height: 30px;
    }

    #text-chamber-card-profile {
      margin-right: -3px;
    }

    #text-state-card-profile span {
      margin-right: -35px;
    }

    .image-card-profile img {
      margin-left: 45px;
    }

    #score-card-profile img {
      margin-top: 90px;
      width: 90px;
      margin-left: -45px;
    }
  }

  @media only screen and (max-width: 480px) {

  md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
    margin-left: 40px;
  }
}

  @media only screen and (max-width: 414px) {

    #score-card-profile img {
      margin-top: 90px;
      width: 90px;
      margin-left: -30px;
    }

    #califichas-content-happy img {
      width: 30px;
      margin-left: -30px;
    }

    #califichas-content-sad img {
      width: 30px;
      margin-left: -20px;
    }

    #califichas-content-bad img {
      width: 30px;
      margin-left: -10px;
    }

     #input-project {
       margin-left: -4px;
    }

    md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
      margin-left: 15px;
    }

    #text-chamber-card {
      margin-top: 40px;
      margin-right: 43px;
      font-size: 17px;
    }

    #text-name-card {
      font-size: 12px;
    }

    #content-socials-card {
      margin-left: 20px;
    }

    #image-card img {
      margin-left: -10px;
    }

    #image-card img {
      margin-left: -18px;
    }

    .image-card-profile img {
      margin-left: 5px;
      width: 155px;
      margin-top: 65px;
      height: 155px;
    }

    #score-card-profile p {
      margin-left: -20px;
      margin-top: -5px;
    }

    .image-party-card-profile img {
      margin-left: -25px;
      margin-top: 165px;
    }

    #content-socials-card-profile {
      margin-left: 0px;
    }
   }

   @media only screen and (max-width: 375px) {

     #califichas-content-happy img {
       width: 30px;
       margin-left: -30px;
     }

     #califichas-content-sad img {
       width: 30px;
       margin-left: -20px;
     }

     #califichas-content-bad img {
       width: 30px;
       margin-left: -10px;
     }

    md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
      font-size: 20px;
      margin-left: 24px;
    }

    #content-socials-card {
      margin-left: 25px;
    }

    #text-state-card {
      font-size: 15px;
      margin-right: -15px;
    }

    #text-chamber-card {
      margin-top: 40px;
      margin-right: 27px;
      font-size: 17px;
    }

    .image-card-profile img {
      margin-left: -5px;
      width: 145px;
      margin-top: 65px;
      height: 145px;
    }

  }

  @media only screen and (max-width: 360px) {
    md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
      margin-left: 18px;
    }
  }

  @media only screen and (max-width: 320px) {

    #califichas-content-happy img {
      width: 28px;
      margin-left: 0px;
    }

    #califichas-content-sad img {
      width: 28px;
      margin-left: 0px;
    }

    #califichas-content-bad img {
      width: 28px;
      margin-left: 0px;
    }

    #facebook-card img {
      width: 28px;
    }

    #twitter-card img {
      width: 28px;
    }

    #mail-card img {
      width: 28px;
    }


   md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
     font-size: 18px;
     margin-left: 11px;
  }

  #image-party-card img {
    margin-left: 0px;
    margin-top: 55px;
  }

  #text-chamber-card {
    font-size: 15px;
    text-align: center;
  }

  #text-state-card {
    font-size: 15px;
    text-align: left;
  }

  #text-state-card span {
    font-size: 12px;
  }

  #content-socials-card {
    margin-left: 10px;
  }

  #image-card img {
    width: 120px;
    height: 120px;
  }

  #score-card p {
    margin-left: 10px;
  }

  #text-chamber-card {
    margin-top: 15px;
    font-size: 20px;
    text-align: left;
    margin-right: 0px;
  }

  #image-state-card {
    width: 29px;
    height: 40px;
    margin-top: -25px;
    margin-left: 0px;
  }

  #text-state-card span {
    font-size: 15px;
    margin-right: 0px;
  }

  /******/

  /*Styles Home - Profile*/

  #califichas-content-happy-profile img{
    width: 30px;
    margin-top: 40px;
    margin-left: 0px;
  }

  #califichas-content-sad-profile img{
    width: 30px;
    margin-top: 40px;
    margin-left: 0px;
  }


  #califichas-content-bad-profile img{
    width: 30px;
    margin-top: 40px;
    margin-left: 0px;
  }

  #score-card-profile p {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 20px;
  }

  #content-socials-card-profile{
    text-align: center;
    margin-left: 10px;
    margin-top: 80px;
  }

  #score-card-profile {
    margin-top: 7px;
    margin-left: -10px;
    z-index: 1;
  }

  #score-card-profile img{
    margin-top: 30px;
    width: 75px;
    margin-left: 2px;
  }

  #score-card-profile span{
    margin-top: -54px;
    position: absolute;
    font-size: 28px;
    letter-spacing: 2px;
    margin-left: -10px;
  }

  #text-chamber-card-profile{
    font-size: 15px;
    margin-top: 70px;
    margin-right: 28px;
    text-transform: uppercase;
    text-align: right;
    color: #BBB;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
  }

  #text-state-card-profile{
    font-size: 15px;
    text-transform: uppercase;
    text-align: right;
    margin-right: 28px;
    color: #BBB;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
  }

  #text-state-card-profile span{
    font-size: 15px;
    text-transform: uppercase;
    text-align: right;
    margin-right: -1px;
    color: #BBB;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
  }

  .image-card-profile img{
    width: 130px;
    height: 130px;
    margin-top: 10px;
    margin-left: 0px;
    border-radius: 50%;
  }

  .image-party-card-profile img {
    width: 50px;
    margin-left: -15px;
    margin-top: 90px;
  }

  #image-state-card-profile {
    width: 45px;
    height: 45px;
    margin-left: -18px;
    margin-top: 75px;
  }

  .facebook-card-profile img{
    margin-top: -30px;
    width: 30px;
    cursor: pointer;
    margin-left: 2px;
  }

  .twitter-card-profile img{
    margin-top: 5px;
    width: 30px;
  }

  .mail-card-profile img{
    margin-top: 5px;
    width: 30px;
  }

  #text-name-card-profile{
    font-size: 15px;
    margin-top: 3px;
    text-align: left;
    letter-spacing: 3px;
    font-weight: bold;
    margin-left: 4px;
  }

  #text-election-card-profile{
    font-size: 13px;
    margin-top: 3px;
    text-align: left;
    font-weight: bold;
    margin-left: 4px;
  }

  #text-commission-card-profile{
    font-size: 13px;
    padding-bottom: 5px;
    text-align: left;
    font-weight: bold;
    margin-left: 4px;
    margin-bottom: 10px;
  }

  #style-trabajo {
    color: #EE4455;
    font-weight: bold;
    margin-top: 0px;
    letter-spacing: 1px;
    font-size: 13px;
  }

  #style-rol{
    color:#FFC73F;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 13px;
  }

  #style-extra{
    color:#FF974C;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 13px;
  }

  #text-graphics-profile{
    margin-left: 4px;
    color:#FFC73F;
    font-weight: bold;
    font-size: 10px
  }

  #style-trabajo .letter{
    margin-left: 20px;
  }

  #style-rol .letter{
    margin-left: 20px;
  }

  #style-extra .letter{
    margin-left: 20px;
  }

  #image-card img {
      margin-left: 0px;
  }

  /******/
 }
