
@media only screen and (max-width: 320px) {

  #icon-logo{
   margin: 7px;
  }

  #boton-menu{
    margin-top: 10px;
    margin-left: 45px;
  }

  #input-project{
    width: 235px;
    margin-left: 4px;
    margin-top: -10px;
  }
}
