
@media only screen and (max-width: 375px) {

  #boton-menu {
      margin-left: 65px;
  }

  #icon-logo{
   margin:5px;
  }

  #input-project {
    width: 225px;
    margin-left: 1px;
    margin-top: -5px;
  }

}
