@media only screen and (max-width: 1280px){
  #icon-logo {
    background-size: 105px;
    margin-top: 12px;
  }

  #tit-federal {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  #tit-puebla {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  #tit-jalisco {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  #tit-cdmx {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  #tit-federal span{
    font-size: 12px;
  }

  #tit-puebla span{
    font-size: 12px;
  }

  #tit-jalisco span{
    font-size: 12px;
  }

  #tit-cdmx span{
    font-size: 12px;
  }

}
