@media only screen and (max-width: 1280px) {
  #tit-federal span{
    padding-left: 26px;
  }

  #tit-puebla span{
    padding-left: 33px;
  }

  #tit-jalisco span{
    padding-left: 32px;
  }

  #tit-cdmx span{
    padding-left: 38px;
  }
}
