/*SLIDE STYLES*/
#slide-head{
  background-image: url(../imgs/png/slide_head.jpg);
  min-height: 620px;
  background-size: 100%, 620px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: auto;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

#div-circle-score{
  width: auto;
  /* background: purple; */
  margin-top: 100px;
  margin-top: 200px;
  height: 60px;
}

#div-buttons-score{
  width: auto;
  opacity: 0.5;
  margin-top: 90px;
  height: auto;
  /* background: red; */
}

#logo_score{
  background: url(../imgs/svg/logo_circle.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  background-position: center;
}

#color-btn{
  background: #000;
  opacity: 1.0;
  border: 1px solid #FFF;
  margin-top: 0px;
  min-height: 50px;
  cursor: pointer;
  text-align: center;
  padding-top: 8px;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

#content-senado{
  color: #FFF;
  font-size: 50px;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-top: 90px;
  font-family: 'Montserrat';
  border-left: 5px solid #FFF;
  padding-bottom: 0px;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  /* background: red; */
  height: auto;
}

#content-dip{
  color: #FFF;
  font-size: 50px;
  letter-spacing: 10px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  border-right: 5px solid #FFF;
  margin-top: 90px;
  padding-bottom: 0px;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  /* background: red; */
  height: auto;
}

#slide-head-profile-dip{
  background-image: url(../imgs/png/slide_head_dip.jpg);
  min-height: 650px;
  background-size: 100% 950px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: auto;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

#slide-head-profile-sen{
  background-image: url(../imgs/png/slide_head_sen.jpg);
  min-height: 250px;
  background-size: 100% 250px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: auto;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

@media only screen and (max-width: 1920px) {
  #slide-head-profile-dip{
    min-height: 550px;
  }
}

@media only screen and (max-width: 1919px) {
  #slide-head {
    min-height: 500px;
  }

  #div-circle-score {
    margin-top: 150px;
  }

  #color-btn {
    padding-top: 12px;
  }
}

@media only screen and (max-width: 1680px) {
  #slide-head-profile-dip{
    background-size: 100% 540px;
  }

}

@media only screen and (max-width: 1520px) {
  #color-btn {
    margin-top: 20px;
  }


}

@media only screen and (max-width: 1440px) {
  #slide-head-profile-dip{
    background-size: 100% 375px;
  }

  #color-btn{
    background: #000;
    opacity: 1.0;
    min-height: 45px;
    margin-top: 0px;
  }

  #color-btn {
    padding-top: 12px;
  }
}

@media only screen and (max-width: 1366px) {
  #slide-head-profile-dip{
    background-size: 100% 450px;
  }

  #color-btn {
    background: #000;
    opacity: 1.0;
    min-height: 50px;
  }
}

@media only screen and (max-width: 1280px) {
  #slide-head-profile-dip {
    background-size: 100% 550px;
  }
}

@media only screen and (max-width: 1279px){
  #slide-head {
    min-height: 350px;
    background-size: 100% 500px;
    background-position: top;
  }

  #color-btn {
    min-height: 30px;
    padding-top: 2px;
    max-height: 0px;
    margin-bottom: 10px;
  }

  #div-circle-score {
    margin-top: 100px;
  }
}



@media only screen and (max-width: 1024px) {
  #slide-head-profile-dip{
    background-size: 100% 375px;
  }

  #color-btn {
    padding-top: 4px;
  }
}

@media only screen and (max-width: 959px) {
  #slide-head-profile-dip{
    min-height: auto;
    background-size: 100% 595px;
  }

  #slide-head-profile-dip{
    min-height: 300px;
  }

  #slide-head {
    min-height: 300px;
  }

  #content-dip {
    margin-top: 90px;
  }

  #content-sen {
    margin-top: 90px;
  }

  #color-btn {
    padding-top: 4px;
  }
}

/* @media only screen and (max-width: 736px) {
  #slide-head {
    min-height: 250px;
    background-size: 100% 300px;
    background-position: top;
  }

  #color-btn {
    min-height: 30px;
    padding-top: 4px;
    max-height: 0px;
  }
} */

@media only screen and (max-width: 599px) {
  #slide-head {
    min-height: 220px;
    background-size: 100% 220px;
  }
}

@media only screen and (max-width: 480px) {
  #color-btn{
    padding-top: 5px;
  }
}

@media only screen and (max-width: 375px) {
  #slide-head-profile-dip {
    background-size: 100% 460px;
  }
}

@media only screen and (max-width: 320px) {
  #slide-head-profile-dip {
      background-size: 100% 465px;
  }

  #color-btn{
    padding-top: 7px;
  }
}
