@media only screen and (max-width: 320px) {
  #img-site-panel {
    margin-top: 5.5px;
    margin-left: 0px;
  }

  #text-site-panel-menu {
    margin-top: 24px;
    margin-left: 50px;
  }

  #close-btn {
    margin-left: 218px;
  }
}
