@font-face {
  font-family: 'generic';
  src: url('../fonts/montserrat.otf');
}
*:focus { font-family: 'generic'; outline: none; }
html, body{  text-decoration: none;}

  #navbar{
    background: #000;
    position: fixed;
    width: 100%;
    opacity: 0.7;
    z-index: 1;
  }

  #icon-logo{
    background: url(../imgs/svg/logo.svg);
    background-size: 158px;
    margin-top: 5px;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  #input-project{
    width: 235px;
    margin-left: 120px;
    margin-top: 17px;
    z-index: 1;
  }

  md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder {
    color: #CCC;
    letter-spacing:1px;
  }

  md-select.md-default-theme:not([disabled]):focus .md-select-value.md-select-placeholder, md-select:not([disabled]):focus .md-select-value.md-select-placeholder {
    color:#CCC;
    letter-spacing:1px;
  }

  md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
    border-bottom-color: transparent;
  }

  md-content.md-default-theme, md-content {
    background-color: #000;
  }

  md-select-menu.md-default-theme md-option:focus:not([disabled]):not([selected]), md-select-menu md-option:focus:not([disabled]):not([selected]) {
    background:#EE4656;
  }

  md-select-menu.md-default-theme md-option[selected], md-select-menu md-option[selected] {
    background:#EE4656;
  }

  #icon-menu {
   width: 27px;
  }

  #boton-menu{
    background: #EE4353;
    margin-top: 10px;
    margin-left: 5px;
  }

  #boton-borde{
    background: #EE4353;
    margin-top: 10px;
    margin-left: 10px;
  }


  #tit-federal{
    background: #EE4656;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    cursor: pointer;
    transition: all 500ms;
    -webkit-transition:all 500ms;
  }

  #tit-federal span{
    color: #FFF;
    letter-spacing: 1px;
    font-size: 20px;
    transition: all 500ms;
    -webkit-transition:all 500ms;
  }

  #tit-puebla{
    /*background: #EE4656;*/
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    cursor: pointer;
    transition: all 500ms;
    -webkit-transition:all 500ms;
  }

  #tit-puebla span{
    color: #FFF;
    letter-spacing: 1px;
    font-size: 20px;
    transition: all 500ms;
    -webkit-transition:all 500ms;
  }

  #tit-jalisco{
    /*background: #EE4656;*/
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    cursor: pointer;
    transition: all 500ms;
    -webkit-transition:all 500ms;
  }

  #tit-jalisco span{
    color: #FFF;
    letter-spacing: 1px;
    font-size: 20px;
    transition: all 500ms;
    -webkit-transition:all 500ms;
  }

  #tit-cdmx{
    /*background: #EE4656;*/
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    cursor: pointer;
    transition: all 500ms;
    -webkit-transition:all 500ms;
  }

  #tit-cdmx span{
    color: #FFF;
    letter-spacing: 1px;
    font-size: 20px;
    transition: all 500ms;
    -webkit-transition:all 500ms;
  }
