#content-row-menu .party{
  color:#FFF;
}

#content-row-menu .dep{
  color:#EE4556;
}

#content-row-menu .sen{
  color:#FFF;
}

#content-row-menu .score{
  color:#FFF;
}

#toolbar-score-party{
  background:#EE4556;
}

.title-score-party{
  font-size:16;
}
#content-row-party-score{
  margin-bottom: 5px;
}

#content-score-party{
  background:#000;
}

#content-bars-party-score{
  text-align: center;
  max-width: 100%;
}

.content-deputy-party-mc{
  background: #EE4556;
  color: #FFF;
  padding-top: 5px;
  height: 30px;
  margin-top: 12px;
  animation-name: animation-mc;
  animation-duration: 4s;
}

.content-senator-party-mc{
  background:#FFF;
  color: #EE4556;
  padding-top: 5px;
  height: 30px;
  margin-top: 12px;
  animation-name: animation-mc;
  animation-duration: 4s;
}

.content-deputy-party-pvem{
  background: #EE4556;
  color: #FFF;
  padding-top: 5px;
  height: 30px;
  margin-top: 12px;
  animation-name: animation-pvem;
  animation-duration: 4s;
  animation-delay: .1s;
}

.content-senator-party-pvem{
  background:#FFF;
  color: #EE4556;
  padding-top: 5px;
  height: 30px;
  margin-top: 12px;
  animation-name: animation-pvem;
  animation-duration: 4s;
  animation-delay: .1s;
}

.content-deputy-party-pan{
  background: #EE4556;
  color: #FFF;
  padding-top: 5px;
  height: 30px;
  margin-top: 12px;
  animation-name: animation-pvem;
  animation-duration: 4s;
  animation-delay: .2s;
}

.content-senator-party-pan{
  background:#FFF;
  color: #EE4556;
  padding-top: 5px;
  height: 30px;
  margin-top: 12px;
  animation-name: animation-pvem;
  animation-duration: 4s;
  animation-delay: .2s;
}

.content-deputy-party-pes{
  background: #EE4556;
  color: #FFF;
  padding-top: 5px;
  height: 30px;
  margin-top: 12px;
  animation-name: animation-pvem;
  animation-duration: 4s;
  animation-delay: .3s;
}

.content-senator-party-pes{
  background:#FFF;
  color: #EE4556;
  padding-top: 5px;
  height: 30px;
  margin-top: 12px;
  animation-name: animation-pvem;
  animation-duration: 4s;
  animation-delay: .3s;
}

.content-deputy-party-prd{
  background: #EE4556;
  color: #FFF;
  padding-top: 5px;
  height: 30px;
  margin-top: 12px;
  animation-name: animation-pvem;
  animation-duration: 4s;
  animation-delay: .4s;
}

.content-senator-party-prd{
  background:#FFF;
  color: #EE4556;
  padding-top: 5px;
  height: 30px;
  margin-top: 12px;
  animation-name: animation-pvem;
  animation-duration: 4s;
  animation-delay: .4s;
}

.content-deputy-party-pri{
  background: #EE4556;
  color: #FFF;
  padding-top: 5px;
  height: 30px;
  margin-top: 12px;
  animation-name: animation-pvem;
  animation-duration: 4s;
  animation-delay: .5s;
}

.content-senator-party-pri{
  background:#FFF;
  color: #EE4556;
  padding-top: 5px;
  height: 30px;
  margin-top: 12px;
  animation-name: animation-pvem;
  animation-duration: 4s;
  animation-delay: .5s;
}

.content-deputy-party-panal{
  background: #EE4556;
  color: #FFF;
  padding-top: 5px;
  height: 30px;
  margin-top: 12px;
  animation-name: animation-pvem;
  animation-duration: 4s;
  animation-delay: .6s;
}

.content-senator-party-panal{
  background:#FFF;
  color: #EE4556;
  padding-top: 5px;
  height: 30px;
  margin-top: 12px;
  animation-name: animation-pvem;
  animation-duration: 4s;
  animation-delay: .6s;
}

.content-deputy-party-morena{
  background: #EE4556;
  color: #FFF;
  padding-top: 5px;
  height: 30px;
  margin-top: 12px;
  animation-name: animation-pvem;
  animation-duration: 4s;
  animation-delay: .7s;
}

.content-senator-party-morena{
  background:#FFF;
  color: #EE4556;
  padding-top: 5px;
  height: 30px;
  margin-top: 12px;
  animation-name: animation-pvem;
  animation-duration: 4s;
  animation-delay: .7s;
}

#content-res-party-score{
  color: #EE4556;
  padding: 10px;
  margin-top: 9px;
}

#content-imgs-party-score img{
  max-width: 45px;
  margin-top: 4px;
}

.icon-dwn-dialog{
  width: 25px;
  margin-top: 7px;
}

.text-icon-dialog{
    font-size: 13px;
}

@keyframes animation-mc {
  from {  max-width: 10%;
}
  to { max-width: 100%;}
}

@keyframes animation-pvem {
  from {  max-width: 10%;
}
  to { max-width: 100%;}
}
