
@media only screen and (max-width: 768px) {

    #boton-menu{
      background: #EE4353;
      margin-top: 14px;
      margin-left: 22px;
    }

    #boton-borde{
      background: #EE4353;
      margin-top: 14px;
      margin-left: 98px;
    }
}
