
@media only screen and (max-width: 736px) {
  #input-project{
    margin-left: 140px;
  }

  #icon-menu {
   width: 27px;
  }

  #boton-borde{
    margin-left: 2px;
  }

  #icon-logo {
    background-size: 71px;
    margin-top: 19px;
  }

  #icon-logo-profile {
    background-size: 71px;
    margin-top: 18px;
  }
}
