
  #tit-federal:hover {
    background: #FFF;
    transition: all 500ms;
  }

  #tit-federal:hover span{
    color: #EE4656;
    transition: all 500ms;
  }

  #tit-puebla:hover {
    background: #EE4656;
    transition: all 500ms;
  }

  #tit-jalisco:hover {
    background: #EE4656;
    transition: all 500ms;
  }

  #tit-cdmx:hover {
    background: #EE4656;
    transition: all 500ms;
  }

  
