/*Styles for web*/

#divtrabajo{
  text-align:center;
  border-top: 6px solid #EE4455;
  cursor:pointer;
  transition: 500ms all;
}

#divrol{
  text-align:center;
  border-top: 6px solid #FF974C;
  cursor:pointer;
  transition: 500ms all;
}

#divextra{
  text-align:center;
  border-top: 6px solid #FFC73F;
  cursor:pointer;
  transition: 500ms all;
}

#divtrabajo .active {
  background:#EE4455;
  color: #343434;
  transition: 500ms all;
}

#divrol .active {
  background:#FF974C;
  color: #343434;
  transition: 500ms all;
}

#divextra .active {
  background:#FFC73F;
  color: #343434;
  transition: 500ms all;
}

#bar{
  margin-top: 30px;
  width: auto;
  border-left: 1px solid #FFF;
}

/*Styles Mobile*/
.md-accordion .expandCollapse {
  width:30px;
  height:30px;
  position:relative;
  font-size:20px;
  font-weight:bold;
  cursor:pointer;
  color:#fff;
  display:block;
  margin-top: -2px;
  margin-left: -2px;
  overflow:hidden;
}
.md-accordion .expandCollapse:active {
  border:0px;
}
.md-accordion .expandCollapse:before, .md-accordion .expandCollapse:after {
  width:30px;
  height:30px;
  display:block;
  position:absolute;
  top:0; left:0;
  line-height:32px;
  text-align:center;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}
.md-accordion .expandCollapse:before {
  opacity:1
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  content: "|";
  margin-top:-2px;
}
.md-accordion .expandCollapse:after {
  opacity:1;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  content: "|";
  margin-left:-2px;
}
.md-accordion .active:before {
  opacity:1;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left:3px;
  margin-top:0px;
}

.md-accordion .dataContent {
  background: #F2F2F2;
  height:0px;
  overflow:hidden;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.md-accordion .activeContent {
  height:auto;
  padding:20px;
  display:block;
}

.activeDiv span{
 color:#343434;
}

.activeDiv h2{
 color:#343434;
}

 #headTrabajo{
   border-bottom:1px solid #343434;
   background:#343434;
 }

 #headRol{
   border-bottom:1px solid #343434;
   background:#343434;
 }

  #headExtra{
   border-bottom:1px solid #343434;
   background:#343434;
  }

  .activeDiv #headTrabajo{
    border-bottom:1px solid #EE4656;
    background:#EE4656;
  }

  .activeDiv #headRol{
    border-bottom:1px solid #FF974C;
    background:#FF974C;
  }

  .activeDiv #headExtra{
    border-bottom:1px solid #FFC73F;
    background:#FFC73F;
  }
/*Content nav tabs set(1),set(2),set(3)*/

/*Begin Set(1) Trabajo legislativo*/

/*Iniciativas*/
#contentIniciativasProfile{
  background:#EE4455;
}

#barIniciativa h1{
  color:#FFF; text-align:left; letter-spacing: 1px;
}

#bodyIniciativas{
  background:#FFF; padding-top:30px;
}

/*#imageIniciativasTheme img{}*/

#valueIniciativasTheme{
  background:#FFF; color:#343434; padding-top:10px; font-size:19px; font-weight:bold;
}

#themeIniciativasTheme{
  color: #343434; font-weight: bold; padding-bottom: 25px;
}

#iniciativasTextContent{
  background:#FFF; height:550px;
}

#iniciativasDivContent{
  padding:15px;   letter-spacing:2px;
}

#iniciativasDivContent span{
  font-size:20px;
}

#iniciativasDivContent a{
  font-size:20px;
}

/*******************/
/*Puntos de Acuerdo*/
#contentPuntosProfile{
  background:#EE4455;
}

#barPuntos h1{
  color:#FFF; text-align:left; letter-spacing: 1px;
}

#bodyPuntos{
  background:#FFF; padding-top:30px;
}

/*#imagePuntosTheme img{}*/

#valuePuntosTheme{
  background:#FFF; color:#343434; padding-top:10px; font-size:19px; font-weight:bold;
}

#themePuntosTheme{
  color: #343434; font-weight: bold; padding-bottom: 25px;
}

#PuntosTextContent{
  background:#FFF; height:550px;
}

#PuntosDivContent{
  padding:20px;   letter-spacing:2px;
}

#PuntosDivContent span{
  font-size:20px;
}

#PuntosDivContent a{
  font-size:20px;
}
/*Set(2) Rol*/

#contentRolProfile{
  background:#FF974C;
}

#columnRolProfile{
  margin-left: 40px;
}

#columnRolProfile img{
  width:50px; margin-top:20px;
}

#columnRolProfile span{
  color: #993300;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 23px;
  padding-right: 15px;
}

#divScoreRol{
  border-bottom:1px solid #990000;
  z-index:1;
  width: 225px;
  margin-left: -1px;
}

#divScoreRol img{
  margin-top: 30px;
  margin-bottom: 10px;
  width: 60px;
  margin-left: 10px;
}

.valueScoreRol{
  margin-top: -54px;
  font-size: 22px;
  margin-left: -101px;
  color: #993300;
}

.valueRankingRol{
  font-size: 20px;
  color: #993300;
  text-align: left;
  margin-left:10px;
}

.scoreRol{
 font-size: 20px;
 color: #993300;
 text-align: left;
 margin-left:10px;
}

#commissionsRolExtra md-content{
  background:transparent;
  text-align:left;
  margin-left:40px;
  padding-bottom:30px;
}

#commissionsRolExtra p{
  color:#990000;
  text-transform:uppercase;
  font-size:18px;
  letter-spacing:1px;
}

#commissionsRolExtra span{
  color:#FFF;
  font-size:17px;
  letter-spacing:1px;
}

#commissionsRolExtra .tit_post{
  color:#990000;
  font-size:17px;
  letter-spacing:1px;
}
/*Set(3) Extra*/
/*End Content nav tabs set(1),set(2),set(3)*/

#divImagesThemesNoticias img{
  width:50px;
}

#divTextThemesNoticias span{
  font-size:12px;
  font-weight: bold;
  color: #343434;
}

#NoticiasDivContent{
  padding:5px;
  letter-spacing:2px;
  font-size: 15px;
}

#NoticiasDivContent span{
  color:#343434;
}

#paddingRolProfile{
  padding-top: 20px;
}
/*Content nav tabs set(1),set(2),set(3) Mobile*/

/*Begin Set(1) Trabajo legislativo*/
@media only screen and (max-width: 1920px) {
  #iniciativasDivContent {
      padding: 5px;
  }

  #PuntosDivContent {
      padding: 5px;
  }

  #columnRolProfile {
    margin-left: 10px;
  }

  #commissionsRolExtra md-content{
    margin-left:10px;
  }

  #columnRolProfile span {
    margin-left: 6px;
    font-size: 17px;
  }

  .valueScoreRol {
    margin-left: -72px;
  }

  #divScoreRol {
    width: 180px;
  }

}
@media only screen and (max-width: 1860px) {
  .valueScoreRol {
    margin-left: -70px;
  }
}
@media only screen and (max-width: 1540px) {
  #themeIniciativasTheme {
      font-size: 14px;
  }

  #themePuntosTheme {
      font-size: 14px;
  }

  #columnRolProfile span {
    margin-left: 10px;
    font-size: 14px;
  }

  .valueScoreRol {
    margin-left: -42px;
  }

  #divTextThemesNoticias span {
    font-size: 11px;
  }
}

@media only screen and (max-width: 1440px) {
  #columnRolProfile img {
    width: 45px;
    margin-top: 20px;
  }

  #columnRolProfile span {
    margin-left: 8px;
  }

  #divTextThemesNoticias span {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1366px) {
  #themeIniciativasTheme {
    font-size: 13px;
  }

  #themePuntosTheme {
    font-size: 13px;
  }

  #columnRolProfile img {
    width: 40px;
  }

  #columnRolProfile span {
    margin-left: 5px;
  }

  .valueScoreRol {
    margin-left: -29px;
  }

  #divScoreRol {
    width: 140px;
  }

  #divTextThemesNoticias span {
    font-size:10px;
  }
}

@media only screen and (max-width: 1280px) {
  #imageIniciativasTheme img {
      width: 60px;
  }

  #imagePuntosTheme img {
      width: 60px;
  }

  .valueScoreRol {
    margin-left: -22px;
  }

  #commissionsRolExtra md-content {
    height:auto;
  }

  #divTextThemesNoticias span {
    font-size: 9px;
  }
}

@media only screen and (max-width: 1024px){
  #iniciativasDivContent {
    padding: 5px;
  }

  #PuntosDivContent {
    padding: 5px;
  }

  #barIniciativa h1 {
    margin-left: 30px;
  }

  #barPuntos h1 {
    margin-left: 30px;
  }

  #columnRolProfile img {
    width: 35px;
  }

  #columnRolProfile span {
    margin-left: 2px;
  }
}

@media only screen and (max-width: 959px){
  #imageScoreAccordion{
    width: 40px;
  }

  #valueScoreAccordion{
    margin-left: -32px;
  }

  #titleScoreAccordion{
    margin-left: 15px;
    letter-spacing: 1px;
    font-size: 18px;
  }

  #barIniciativaMobile h1{
    color: #FFF;
    text-align: left;
    letter-spacing: 1px;
    font-size: 17px;
    margin-left: 17px;
  }

  #barPuntosMobile h1{
    color: #FFF;
    text-align: left;
    letter-spacing: 1px;
    font-size: 17px;
    margin-left: 17px;
  }

  #barPuntosMobile{
    margin-top: 30px;
  }

  #bodyIniciativasMobile{
    background: #FFF;
    padding-top: 20px;

  }

  #imageIniciativasThemeMobile img{
    width: 35px;
  }

  #valueIniciativasThemeMobile{
    background: #FFF;
    padding-top: 5px;

  }

  #themeIniciativasThemeMobile{
    color: #343434;
    padding-bottom: 5px;

    background: #FFF;
    font-size: 7px;

  }

  #iniciativasTextContentMobile{
    background:#FFF;
    height:250px;
    margin-top: 10px;
    font-size: 11px;

    padding: 10px;
    letter-spacing: 2px;
  }

  /*Puntos*/
  #bodyPuntosMobile{
    background: #FFF;
    padding-top: 20px;

  }

  #imagePuntosThemeMobile img{
    width: 35px;
  }

  #valuePuntosThemeMobile{
    background: #FFF;
    padding-top: 5px;

  }

  #themePuntosThemeMobile{
    color: #343434;
    padding-bottom: 5px;

    font-size: 7px;
  }

  #PuntosTextContentMobile{
    background:#FFF;
    height:250px;
    margin-top: 10px;
    font-size: 11px;

    padding: 10px;
    letter-spacing: 2px;
  }

  #divScoreRol {
    width: 97px;
  }

  #commissionsRolExtra md-content {
    height: 230px;
    margin-top: 20px;
  }

  .valueScoreRol {
    margin-left: -201px;
  }

  #paddingRolProfile{
    padding-top: 0px;
  }

  .md-accordion .activeContent {
    padding: 10px;
  }

  #rightScoreExtra{
    border-right:1px solid #FFF;
    text-transform:uppercase;
    font-weight:bold;
  }

  #rightScoreExtra .classRanking{
    border-top:1px solid #FFF;
    text-align:right;
    font-size:13px;
    color:#FFF;
    padding: 5px;
    margin-top: 10px;
  }

  #rightScoreExtra .classNews{
    text-align:right;
    font-size:13px;
    color:#FFF;
    padding: 5px;

  }

  #leftScoreExtra{
    border-left:1px solid #990000;
    text-transform:uppercase;
    font-weight:bold;
  }

  #leftScoreExtra .classRanking{
    border-top:1px solid #990000;
    text-align:left;
    font-size:13px;
    color:#990000;
    padding: 5px;
    margin-top: 10px;
  }

  #leftScoreExtra .classKlout{
    text-align:left;
    font-size:13px;
    color:#990000;
    padding: 5px;

  }

  #titleNewsAccordion{
    font-size: 25px;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 20px;
  }

  #divImagesThemesNoticias img {
    width: 35px;
  }

  #divTextThemesNoticias span {
    font-size: 7px;
    font-weight: 100;
  }

  #NoticiasDivContent {
    font-size: 11px;
  }

  #contentNoticias{
    background:transparent;
    height:350px;
    margin-top:0px;
  }

  #contentGraphsPoints{
    margin-left: -15px;
  }

  #contentGraphsIniciativas{
    margin-left: -15px;
  }
}

@media only screen and (max-width: 768px){
  .valueScoreRol {
      margin-left: -145px;
    }
}

@media only screen and (max-width: 736px){
  .valueScoreRol {
    margin-left: -134px;
  }
}

@media only screen and (max-width: 667px){

  .valueScoreRol {
    margin-left: -114px;
  }
}

@media only screen and (max-width: 568px){
  #imageScoreAccordion{
    width: 40px;
  }

  #valueScoreAccordion{
    margin-left: -32px;
  }

  #titleScoreAccordion{
    margin-left: 15px;
    letter-spacing: 1px;
    font-size: 18px;
  }

  #barIniciativaMobile h1{
    color: #FFF;
    text-align: left;
    letter-spacing: 1px;
    font-size: 17px;
    margin-left: 17px;
  }

  #barPuntosMobile h1{
    color: #FFF;
    text-align: left;
    letter-spacing: 1px;
    font-size: 17px;
    margin-left: 17px;
  }

  #barPuntosMobile{
    margin-top: 30px;
  }

  #bodyIniciativasMobile{
    background: #FFF;
    padding-top: 20px;

  }

  #imageIniciativasThemeMobile img{
    width: 35px;
  }

  #valueIniciativasThemeMobile{
    background: #FFF;
    padding-top: 5px;

  }

  #themeIniciativasThemeMobile{
    color: #343434;
    padding-bottom: 5px;

    background: #FFF;
    font-size: 7px;

  }

  #iniciativasTextContentMobile {
    background: #FFF;
    height: 250px;
    margin-top: 0px;
    font-size: 11px;

    padding: 0px;
    letter-spacing: 2px;
  }

  /*Puntos*/
  #bodyPuntosMobile{
    background: #FFF;
    padding-top: 20px;

  }

  #imagePuntosThemeMobile img{
    width: 35px;
  }

  #valuePuntosThemeMobile{
    background: #FFF;
    padding-top: 5px;

  }

  #themePuntosThemeMobile{
    color: #343434;
    padding-bottom: 5px;

    font-size: 7px;
  }

  #PuntosTextContentMobile{
    background: #FFF;
    height: 250px;
    margin-top: 0px;
    font-size: 11px;

    padding: 0px;
    letter-spacing: 2px;
  }

  #divScoreRol {
    width: 97px;
  }

  #commissionsRolExtra md-content {
    height: 230px;
    margin-top: 20px;
  }

  .valueScoreRol {
    margin-left: -82px;
  }

  #paddingRolProfile{
    padding-top: 0px;
  }

  .md-accordion .activeContent {
    padding: 10px;
  }

  #rightScoreExtra{
    border-right:1px solid #FFF;
    text-transform:uppercase;
    font-weight:bold;
  }

  #rightScoreExtra .classRanking{
    border-top:1px solid #FFF;
    text-align:right;
    font-size:13px;
    color:#FFF;
    padding: 5px;
    margin-top: 10px;
  }

  #rightScoreExtra .classNews{
    text-align:right;
    font-size:13px;
    color:#FFF;
    padding: 5px;

  }

  #leftScoreExtra{
    border-left:1px solid #990000;
    text-transform:uppercase;
    font-weight:bold;
  }

  #leftScoreExtra .classRanking{
    border-top:1px solid #990000;
    text-align:left;
    font-size:13px;
    color:#990000;
    padding: 5px;
    margin-top: 10px;
  }

  #leftScoreExtra .classKlout{
    text-align:left;
    font-size:13px;
    color:#990000;
    padding: 5px;

  }

  #titleNewsAccordion{
    font-size: 25px;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 20px;
  }

  #divImagesThemesNoticias img {
    width: 35px;
  }

  #divTextThemesNoticias span {
    font-size: 7px;
    font-weight: 100;
  }

  #NoticiasDivContent {
    font-size: 11px;
  }

  #contentNoticias{
    background:transparent;
    height:350px;
    margin-top:0px;
  }

  #contentGraphsPoints{
    margin-left: -15px;
  }

  #contentGraphsIniciativas{
    margin-left: -15px;
  }

  #iniciativasDivContent a {
    font-size: 20px;
  }

  #puntosDivContent a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 480px){
  #iniciativasDivContent span {
    font-size: 16px;
    letter-spacing: 1px;
  }

  #puntosDivContent span {
    font-size: 16px;
    letter-spacing: 1px;
  }

  #iniciativasDivContent a {
    font-size: 15px;
  }

  #puntosDivContent a {
    font-size: 15px;
  }

  #commissionsRolExtra md-content {
    height: 50px;
    margin-top: 0px;
  }

  #commissionsRolExtra p {
    font-size: 16px;
  }

  #commissionsRolExtra .tit_post {
    font-size: 16px;
  }

  #commissionsRolExtra span {
    font-size: 16px;
  }

  .valueRankingRol {
    font-size: 16px;
  }

  .scoreRol {
    font-size: 16px;
  }

  #titleNewsAccordion {
    text-align: center;
    margin-bottom: 10px;
  }

  #NoticiasDivContent {
    font-size: 16px;
    letter-spacing: 1px;
  }

  #contentNoticias {
    padding: 15px;
  }

  .md-accordion .activeContent .HeightRol{
    height: 450px;
  }
}

/*Esto es ocmentario*/
/*Esto es ocmentario*/
@media only screen and (max-width: 414px){
  .valueScoreRol {
      margin-left: -21px;
  }
}

@media only screen and (max-width: 375px){
  .valueScoreRol {
      margin-left: -16px;
  }
}

@media only screen and (max-width: 320px){

  .valueScoreRol {
    margin-left: -10px;
  }
}
