
*:focus { font-family: 'Montserrat'; outline: none; }
html, body{  text-decoration: none;}

  #navbar{
    background: #000;
    position: fixed;
    width: 100%;
    opacity: 0.8;
    z-index: 3;
  }

  #icon-logo{
    background: url(../imgs/svg/logo.svg);
    /*background-size: 100%;*/
    margin-top: 5px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: contain;
    width: 100%;
    height: auto;
  }

  #icon-logo-profile{
    background: url(../imgs/svg/logo.svg);
    background-size: 158px;
    margin-top: 5px;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  #input-project{
    width: 235px;
    margin-left: 120px;
    margin-top: 17px;
    z-index: 1;
  }

  md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder {
    color: #CCC;
    letter-spacing:1px;
  }

  md-select.md-default-theme:not([disabled]):focus .md-select-value.md-select-placeholder, md-select:not([disabled]):focus .md-select-value.md-select-placeholder {
    color:#CCC;
    letter-spacing:1px;
  }

  md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
    border-bottom-color: transparent;
  }

  md-content.md-default-theme, md-content {
    background-color: #000;
    /* height: 600px; */
  }

  md-select-menu.md-default-theme md-option:focus:not([disabled]):not([selected]), md-select-menu md-option:focus:not([disabled]):not([selected]) {
    background:#EE4656;
  }

  md-select-menu.md-default-theme md-option[selected], md-select-menu md-option[selected] {
    background:#EE4656;
  }

  md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: #EE4656;
    background: #EE4656;
  }

  #icon-menu {
   width: 27px;
  }

  #boton-menu{
    background: #EE4353;
    margin-left: 5px;
  }

  #boton-borde{
    background: #EE4353;
    margin-top: 10px;
    margin-left: 115px;
  }

  #tit-federal{
    background: #EE4656;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    cursor: pointer;
    transition: all 500ms;
    -webkit-transition:all 500ms;
  }

  #tit-federal span{
    color: #FFF;
    letter-spacing: 1px;
    font-size: 20px;
    transition: all 500ms;
    -webkit-transition:all 500ms;
  }

  #tit-puebla{
    /*background: #EE4656;*/
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    cursor: pointer;
    transition: all 500ms;
    -webkit-transition:all 500ms;
  }

  #tit-puebla span{
    color: #FFF;
    letter-spacing: 1px;
    font-size: 20px;
    transition: all 500ms;
    -webkit-transition:all 500ms;
  }

  #tit-jalisco{
    /*background: #EE4656;*/
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    cursor: pointer;
    transition: all 500ms;
    -webkit-transition:all 500ms;
  }

  #tit-jalisco span{
    color: #FFF;
    letter-spacing: 1px;
    font-size: 20px;
    transition: all 500ms;
    -webkit-transition:all 500ms;
  }

  #tit-cdmx{
    /*background: #EE4656;*/
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    cursor: pointer;
    transition: all 500ms;
    -webkit-transition:all 500ms;
  }

  #tit-cdmx span{
    color: #FFF;
    letter-spacing: 1px;
    font-size: 20px;
    transition: all 500ms;
    -webkit-transition:all 500ms;
  }

  @media only screen and (max-width: 2560px) {

    #icon-logo-profile {
      margin-left: 190px;
      margin-top: 2px;
    }
  }

  @media only screen and (max-width: 1920px) {
    #boton-borde {
      margin-left: 60px;
    }


    #icon-logo-profile {
      margin-left: 111px;
      margin-top: 2px;
    }
  }

  @media only screen and (max-width: 1680px) {
    #icon-logo-profile {
      margin-left: 86px;
      margin-top: 2px;
    }
  }

  @media only screen and (max-width: 1560px){
    #icon-logo-profile {
      margin-left: 86px;
      margin-top: 2px;
    }
  }

  @media only screen and (max-width: 1440px) {

    #icon-logo-profile {
      margin-left: 86px;
    }
  }

  @media only screen and (max-width: 1366px) {

    #icon-logo-profile {
      margin-left: 80px;
      margin-top: 2px;
    }

    #icon-logo {
      margin-top:8px;
    }
  }

  @media only screen and (max-width: 1280px){

    #icon-logo-profile {
      margin-left: 80px;
    }

    #tit-federal {
      padding-top: 26px;
      padding-bottom: 26px;
    }

    #tit-puebla {
      padding-top: 26px;
      padding-bottom: 26px;
    }

    #tit-jalisco {
      padding-top: 26px;
      padding-bottom: 26px;
    }

    #tit-cdmx {
      padding-top: 26px;
      padding-bottom: 26px;
    }

    #tit-federal span{
      font-size: 15px;
    }

    #tit-puebla span{
      font-size: 15px;
    }

    #tit-jalisco span{
      font-size: 15px;
    }

    #tit-cdmx span{
      font-size: 15px;
    }

  }


  @media only screen and (max-width: 1024px) {
    #icon-menu {
      width: 20px;
    }
  }

  @media only screen and (max-width: 959px) {

    #icon-logo-profile {
      background-size: 95px;
      margin-top: 15px;
      margin-left: 5px;
    }

    #input-project {
      margin-left: 125px;
    }
  }

  @media only screen and (max-width: 768px) {

      #boton-menu{
        margin-top: 4px;
        margin-left: 20px;
      }

      #boton-borde{
        margin-top: 4px;
        margin-left: 4px;
      }

      #icon-logo{
        margin-top: 2px;
      }

      #icon-logo-profile{
        background-size: 79px;
        margin-top: 16px;
        margin-left: 32px;
      }

      #input-project {
        margin-left: 145px;
      }

      #input-project {
        margin-left: 85px;
    }
  }

  @media only screen and (max-width: 736px) {
    #input-project{
      margin-left: 140px;
    }

    #icon-menu {
     width: 20px;
    }

    #boton-borde{
      margin-left: 2px;
    }


    #icon-logo-profile {
      background-size: 71px;
      margin-top: 18px;
    }

    #input-project {
      margin-left: 80px;
    }
  }

  @media only screen and (max-width: 685px) {
    #input-project {
      margin-left: 55px;
    }
  }

  @media only screen and (max-width: 667px) {

    #boton-borde {
        margin-left: 4px;
    }

    #boton-menu {
      margin-left: 3px;
    }

    #input-project {
      margin-left: 55px;
    }

    #icon-logo {
      margin-top: 5px;
    }
  }

  @media only screen and (max-width: 600px) {
    #icon-logo {
      margin-top: 7px;
    }
  }

  @media only screen and (max-width: 599px) {
    #icon-menu {
      width: 25px;
      padding: 5px;
    }

    #icon-logo {
      margin-left: 13px;
    }

    #icon-logo {
      margin-top: 1px;
    }
  }

  @media only screen and (max-width: 580px) {

    #input-project {
      margin-left: 167px;
      width: 280px;
    }

  }

  @media only screen and (max-width: 568px) {
    #icon-logo-profile {
      margin-top: 3px;
      background-size: 60px;
      margin-left: 8px;
    }

    #input-project {
      margin-left: 47px;
      width: 233px;
      margin-top: 0px;
    }
  }

  @media only screen and (max-width: 480px) {

    #icon-logo {
      background-size: 71px;
    }

    #input-project {
      width: 225px;
      margin-left: 1px;
      margin-top: -5px;
    }

    #boton-menu {
      margin-left: 103px;
      margin-top: 10px;
    }

    #icon-menu {
      width: 25px;
      margin-left: 0px;
      margin-top: 0px;
    }

    #icon-logo {
       background-size:60px;
       margin-top: 5px;
    }

  }


  @media only screen and (max-width: 414px) {
    #icon-logo-profile {
      background-size: 71px;
      margin-top: 4px;
      margin-left: 7px;
    }

    #img-site-panel {
      width: 55px;
    }

    #text-site-panel-menu {
      margin-top: 22px;
      margin-left: 77px;
    }

    #close-btn {
      margin-left: 309px;
    }

    #input-project {
      margin-left: -2px;
      margin-top: 2px;
    }

    #img-site-panel {
      width: 55px;
    }

    #text-site-panel-menu {
      margin-top: 24px;
      margin-left: 65px;
    }


  }

  @media only screen and (max-width: 375px) {
    #close-btn {
        margin-left: 272px;
    }
    #input-project {
      width: 157px;
      margin-left: 17px;
      margin-top: 3px;
    }

    #img-site-panel {
      width: 48px;
      margin-top: 4px;
    }

    #icon-logo {
      background-size: 55px;
      margin-top: 5px;
    }

    #icon-logo-profile {
      margin-top: 5px;
    }
  }

  @media only screen and (max-width: 360px) {
    #boton-menu {
      margin-left: 62px;
    }

    #close-btn {
      margin-left: 218px;
    }

  }

  @media only screen and (max-width: 320px) {
    #icon-logo {
      margin-top: 6px;
      background-size: contain;
      margin-left: 5px;
    }

    #icon-logo-profile {
      margin-top: 1px;
      background-size: 63px;
    }

    #boton-menu{
      margin-top: 10px;
      margin-left: 45px;
    }

    #input-project{
      width: 165px;
      margin-top: -2px;
      margin-left: 10px;
    }

    #text-site-panel-menu {
      margin-top: 23px;
      margin-left: 50px;
    }

    #icon-menu {
      margin-left: 0px;
      width: 20px;
      margin-top: 1px;
    }
  }
