@media only screen and (max-width: 2560px) {

  #tit-federal span{
    color: #FFF;
    letter-spacing: 1px;
    padding-left: 33px;
  }

  #tit-puebla span{
    color: #FFF;
    letter-spacing: 1px;
    padding-left: 36px;
  }

  #tit-jalisco span{
    color: #FFF;
    letter-spacing: 1px;
    padding-left: 38px;
  }

  #tit-cdmx span{
    color: #FFF;
    letter-spacing: 1px;
    padding-left: 46px;
  }
}
