  #tabs-responsive {
    min-height: 734px;
  }

  #content-cards{
    height: 235px;
  }

  #califichas-content-happy img{
    width: 35px;
    margin-top: 20px;
    cursor: pointer;
  }

  #califichas-content-sad img{
    width: 35px;
    margin-top: 20px;
    cursor: pointer;
  }

  #califichas-content-bad img{
    width: 35px;
    margin-top: 20px;
    cursor: pointer;
  }

  #content-socials-card{
    text-align: center;
  }

  #score-card {
  }

  #score-card img{
    /* margin-top: -3px; */
    width: 85px;
    /* margin-left: 35px; */
    cursor: pointer;
  }

  #score-card span{
    margin-top: 24px;
    position: absolute;
    font-size: 32px;
    letter-spacing: 2px;
    margin-left: -63px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
  }

  #score-card span.menorVeinte{
    margin-top: 24px;
    position: absolute;
    font-size: 32px;
    letter-spacing: 2px;
    margin-left: -58px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
  }

  #score-card span.menorDiez{
    margin-top: 24px;
    position: absolute;
    font-size: 32px;
    letter-spacing: 2px;
    margin-left: -55px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
  }

  #score-card p{
    margin-top: -61px;
    position: absolute;
    font-size: 32px;
    letter-spacing: 2px;
    margin-left: 13px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
  }

  #text-chamber-card{
    font-size: 30px;
    margin-top: 7px;
    margin-right: 20px;
    text-transform: uppercase;
    text-align: right;
    color: #BBB;
    cursor: pointer;
  }

  #text-state-card{
    font-size: 23px;
    text-transform: capitalize;
    text-align: right;
    margin-right: 20px;
    color: #BBB;
    letter-spacing: 2px;
    cursor: pointer;
  }

  #text-state-card span{
    font-size: 23px;
    text-transform: capitalize;
    text-align: right;
    margin-right: 0px;
    color: #BBB;
    letter-spacing: 2px;
    cursor: pointer;
  }

  #image-card img{
    width: 170px;
    height: 170px;
    margin-top: -25px;
    margin-left: 15px;
    border-radius: 50%;
    cursor: pointer;
  }

  #image-party-card img{
    width: 65px;
    margin-left: -15px;
    margin-top: 81px;
    cursor: pointer;
  }

  #image-state-card {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    cursor: pointer;
  }

  #facebook-card img{
    margin-top: 5px;
    width: 35px;
    cursor: pointer;
  }

  #twitter-card img{
    margin-top: 5px;
    width: 35px;
    cursor: pointer;
  }

  #mail-card img{
    margin-top: 5px;
    width: 35px;
    cursor: pointer;
  }

  #text-name-card{
    font-size: 19px;
    margin-top: 3px;
    color: #EE4656;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 3px;
    cursor: pointer;
  }

  #text-election-card{
    font-size: 19px;
    margin-top: 3px;
    margin-left: 0px;
    color: #BBB;
    text-transform: capitalize;
    text-align: left;
    cursor: pointer;
  }

  #text-commission-card{
    font-size: 19px;
    margin-left: 0px;
    padding-bottom: 5px;
    text-transform: capitalize;
    color: #BBB;
    text-align: left;
    cursor: pointer;
  }

  md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
    margin-left: 170px;
    color:#FFF;
  }

  md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
    color:#FFF;
  }

  #depscontent{
    background: #EEE;
  }

  #senatorscontent{
    background: #EEE;
  }

  /* ************** */

  /* Styles Profile */
  #califichas-content-happy-profile img{
    width: 55px;
    margin-top: 80px;
    cursor: pointer;
    margin-left: 0px;
  }

  #califichas-content-sad-profile img{
    width: 55px;
    margin-top: 80px;
    cursor: pointer;
    margin-left: 7px;
  }

  #califichas-content-bad-profile{
    z-index: 2;
  }

  #califichas-content-bad-profile img{
    width: 55px;
    margin-top: 80px;
    cursor: pointer;
    margin-left: 10px;
  }

  #content-socials-card-profile{
    text-align: center;
    margin-left: 0px;
    margin-top: 35px;
  }

  #score-card-profile {
    margin-top: -12px;
    margin-left: 33px;
    z-index: 2;
  }

  #score-card-profile img{
    margin-top: 50px;
    width: 150px;
    margin-left: -5px;
  }

  #score-card-profile span{
    margin-top: -54px;
    position: absolute;
    font-size: 55px;
    letter-spacing: 2px;
    margin-left: -13px;
    font-weight: bold;
    color: #FFF;
  }

  #score-card-profile span.menorVeinte{
    margin-top: 24px;
    position: absolute;
    font-size: 32px;
    letter-spacing: 2px;
    margin-left: -58px;
    font-weight: bold;
    color: #FFF;
  }

  #score-card-profile span.menorDiez {
    margin-top: -57px;
    position: absolute;
    font-size: 55px;
    letter-spacing: 2px;
    margin-left: 7px;
    font-weight: bold;
    color: #FFF;
  }

  #score-card-profile p{
    margin-top: -55px;
    position: absolute;
    font-size: 55px;
    letter-spacing: 2px;
    margin-left: -27px;
    font-weight: bold;
    color: #FFF;
  }

  #text-chamber-card-profile{
    font-size: 30px;
    margin-top: 94px;
    margin-right: 26px;
    text-transform: uppercase;
    text-align: right;
    color: #BBB;
    font-weight: bold;
    letter-spacing: 9px;
  }

  #text-state-card-profile {
    font-size: 25px;
    text-transform: uppercase;
    text-align: right;
    margin-right: 36px;
    color: #BBB;
    letter-spacing: 2px;
    font-weight: bold;
  }

  #text-state-card-profile span{
    font-size: 18px;
    /* margin-top: 2px; */
    margin-right: 0px;
    text-transform: uppercase;
    text-align: right;
    color: #BBB;
    letter-spacing: 3px;
  }

  .image-card-profile img{
    width: 230px;
    height: 230px;
    margin-top: -40px;
    margin-left: 0px;
    border-radius: 50%;
  }

  .image-party-card-profile img{
    width: 95px;
    margin-left: -12px;
    margin-top: 95px;
  }

  #image-state-card-profile {
    width: 75px;
    height: 76px;
    margin-left: -20px;
    margin-top: 105px;
  }

  #facebook-card-profile img{
    margin-top: -30px;
    width: 55px;
    margin-left: 2px;
  }

  #twitter-card-profile img{
    margin-top: 15px;
    width: 55px;
  }

  #mail-card-profile img{
    margin-top: 15px;
    width: 55px;
  }

  #text-name-card-profile{
    font-size: 25px;
    margin-top: 3px;
    color: #EE4656;
    text-transform: capitalize;
    text-align: left;
    letter-spacing: 3px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 100px;
  }

  #text-election-card-profile{
    font-size: 20px;
    margin-top: 3px;
    color: #BBB;
    text-transform: capitalize;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    margin-left: 100px;
  }

  #text-commission-card-profile{
    font-size: 20px;
    padding-bottom: 5px;
    text-transform: capitalize;
    color: #BBB;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    margin-left: 100px;
    margin-bottom: 10px;
  }

  #style-trabajo{
    color: #EE4455;
    font-weight: bold;
    margin-top: 100px;
    letter-spacing: 2px;
    font-size: 25px;
    margin-left: -100px;
  }

  #style-rol{
    color:#FFC73F;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 25px;
    margin-left: -100px;
  }

  #style-extra{
    color:#FF974C;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 25px;
    margin-left: -100px;
  }

  #style-trabajo .letter {
    margin-left: -65px;
  }

  #style-rol .letter{
    margin-left: -65px;
  }

  #style-extra .letter{
    margin-left: -65px;
  }

  #content-cards-profile{
    margin-top:60px;
    height:275px;
    padding:20px;
  }

  #content-cards-profile-graph{
    padding-top:125px;
    padding-left: 110px;
  }

  @media only screen and (max-width: 2560px) {
    #image-card img {
      margin-left: 50px;
    }
  }


  @media only screen and (max-width: 2455px) {
    #content-socials-card-profile {
      margin-left: 45px;
    }

    .image-party-card-profile img {
      margin-left: 10px;
    }
  }

  @media only screen and (max-width: 2299px) {
    #image-card img {
      margin-left: 20px;
    }

    #score-card-profile p {
      margin-left: -18px;
    }
   }

  @media only screen and (max-width: 1950px) {
    #image-card img {
      margin-left: 0px;
    }
  }

  @media only screen and (max-width: 1920px) {
    #style-trabajo .letter {
        margin-left: -30px;
    }

    #style-trabajo {
      margin-left: 0px;
      margin-top: 55px;
    }

    #style-rol .letter {
        margin-left: -30px;
    }

    #style-rol {
      margin-left: 0px;
    }

    #style-extra .letter {
        margin-left: -30px;
    }

    #style-extra {
      margin-left: 0px;
    }

    #content-socials-card-profile {
      margin-left: 85px;
    }

    .image-party-card-profile img {
      margin-left: 30px;
    }

    #score-card-profile p {
      margin-left: -2px;
      font-size: 45px;
      margin-top: -45px;
    }

    #califichas-content-happy-profile img {
      width: 45px;
    }

    #califichas-content-sad-profile img {
      width: 45px;
    }

    #califichas-content-bad-profile img {
      width: 45px;
    }

    #facebook-card-profile img {
      width: 45px;
    }

    #twitter-card-profile img {
      width: 45px;
    }

    #mail-card-profile img {
      width: 45px;
    }
  }

  @media only screen and (max-width: 1919px) {
    #image-card img {
      margin-left: 30px;
    }
  }

  @media only screen and (max-width: 1680px) {
    #image-card img {
      margin-left: 10px;
    }

    #text-chamber-card{
      font-size: 25px;
      margin-right: 10px;
    }

    #text-state-card{
      font-size: 18px;
      margin-right: 10px;
    }

    #text-state-card span{
      font-size: 18px;
    }

    #text-name-card{
      font-size: 17px;
    }

    #text-election-card{
      font-size: 17px;
    }

    #text-commission-card{
      font-size: 17px;
    }


      #score-card-profile p {
        margin-left: 5px;
        font-size: 45px;
        margin-top: -48px;
      }

      .image-card-profile img {
        width: 200px;
        height: 200px;
      }

      .image-party-card-profile img {
        margin-left: 43px;
        width: 70px;
      }

      #califichas-content-happy-profile img {
        width: 40px;
      }

      #califichas-content-sad-profile img {
          width: 40px;
      }

      #califichas-content-bad-profile img {
          width: 40px;
      }

      #facebook-card-profile img {
        width: 40px;
      }

      #twitter-card-profile img {
          width: 40px;
      }

      #mail-card-profile img {
          width: 40px;
      }

      #text-name-card-profile {
        font-size: 20px;
      }

      #text-chamber-card-profile {
        font-size: 25px;
      }
  }

  @media only screen and (max-width: 1520px) {
    #text-chamber-card-profile {
      font-size: 20px;
    }

    #style-trabajo .letter {
      margin-left: -5px;
    }

    #style-extra .letter {
      margin-left: -5px;
    }

    #style-rol .letter {
      margin-left: -5px;
    }
  }

  @media only screen and (max-width: 1486px) {
    #score-card span {
      margin-top: -60px;
      margin-left: 23px;
    }

    #score-card span.menorVeinte {
        margin-top: -60px;
        margin-left: 25px;
    }

    #score-card span.menorDiez {
      margin-top: -60px;
      margin-left: 31px;
    }

  }
  @media only screen and (max-width: 1440px) {
    #image-card img {
      margin-left: 0px;
    }

    #image-state-card {
      width: 35px;
      height: 35px;
    }

    #text-chamber-card-profile {
      font-size: 18px;
    }

    #califichas-content-sad-profile img {
      margin-left: 10px;
    }

    #califichas-content-bad-profile img {
      margin-left: 10px;
    }

    #text-state-card-profile span {
      font-size: 17px;
    }

    #image-state-card-profile {
      width: 50px;
      height: 50px;
    }
  }

  @media only screen and (max-width: 1366px) {
    #text-name-card{
      margin-left: 15px;
    }

    #text-election-card{
      margin-left: 15px;
    }

    #text-commission-card{
      margin-left: 15px;
    }

    #image-card img {
      width: 160px;
      height: 160px;
    }

    #text-chamber-card {
      font-size: 22px;
      margin-right: 10px;
    }

    #score-card-profile img {
      margin-top: 75px;
      width: 120px;
    }

    #score-card-profile p {
      font-size: 35px;
      margin-top: -25px;
    }

    .image-card-profile img {
      width: 180px;
      height: 180px;
    }

    #content-cards-profile-graph {
      padding-top: 145px;
    }
  }

  @media only screen and (max-width: 1280px) {

    #califichas-content-bad-profile img {
      margin-left: 19px;
    }

    #score-card-profile img {
      margin-top: 90px;
      width: 100px;
    }

    #score-card-profile p {
      font-size: 28px;
      margin-top: -12px;
    }

    #text-name-card-profile {
      font-size: 16px;
    }

    #text-election-card-profile {
      font-size: 16px;
    }

    #text-commission-card-profile {
      font-size: 16px;
    }

    #text-chamber-card-profile {
      font-size: 15px;
    }

    #text-state-card-profile span {
      font-size: 15px;
    }

    .image-party-card-profile img {
      width: 65px;
      margin-top: 85px;
    }

    #twitter-card-profile img {
      margin-top: 10px;
    }

    #mail-card-profile img {
      margin-top: 10px;
    }

    #content-cards-profile-graph {
      padding-top: 165px;
    }

    #califichas-content-happy-profile img {
      width: 35px;
    }

    #califichas-content-sad-profile img {
        width: 35px;
    }

    #califichas-content-bad-profile img {
        width: 35px;
    }

    #facebook-card-profile img {
      width: 35px;
    }

    #twitter-card-profile img {
      width: 35px;
    }

    #mail-card-profile img {
      width: 35px;
    }

    #style-trabajo {
      margin-top: 22px;
      font-size: 18px;
    }

    #style-rol {
      font-size: 18px;
    }

    #style-extra {
      font-size: 18px;
    }
  }

  @media only screen and (max-width: 1279px) {
    #image-card img {
      width: 120px;
      height: 120px;
    }

    #image-party-card img {
      width: 45px;
      margin-left: -15px;
      margin-top: 53px;
    }

    #facebook-card img {
      width: 30px;
    }

    #twitter-card img {
      width: 30px;
    }

    #mail-card img {
      width: 30px;
    }

    #califichas-content-happy img {
      width: 30px;
    }

    #califichas-content-sad img {
      width: 30px;
    }

    #califichas-content-bad img {
      width: 30px;
    }
  }

  @media only screen and (max-width: 1175px) {
    #score-card-profile img {
        margin-top: 90px;
        width: 85px;
    }

    #score-card-profile p {
      font-size: 24px;
      margin-top: -2px;
      margin-left: 2px;
    }
  }

  @media only screen and (max-width: 1024px) {

    #score-card img {
      margin-top: 25px;
      width: 70px;
      /* margin-left: 35px; */
      cursor: pointer;
    }

    #score-card p {
      margin-top: -50px;
      font-size: 24px;
    }

    #image-card img {
      width: 100px;
      height: 100px;
    }

    #image-party-card img {
      width: 45px;
      margin-left: -15px;
      margin-top: 35px;
    }

    #text-name-card {
      font-size: 13px;
      margin-left: 25px;
    }

    #text-election-card {
      font-size: 13px;
      margin-left: 25px;
    }

    #text-commission-card {
      font-size: 13px;
      margin-left: 25px;
    }

    #califichas-content-happy img {
      width: 25px;
    }

    #califichas-content-sad img {
      width: 25px;
    }

    #califichas-content-bad img {
      width: 25px;
    }

    #facebook-card img {
      width: 25px;
    }

    #twitter-card img {
      width: 25px;
    }

    #mail-card img {
      width: 25px;
    }

    #text-chamber-card {
      font-size: 20px;
    }

    #content-cards {
      height: 155px;
    }

    #score-card span {
      margin-top: -48px;
      font-size: 24px;
      margin-left: 19px;
    }

    #text-state-card {
      font-size: 16px;
      margin-right: 10px;
    }

    #score-card span.menorVeinte {
      margin-top: -48px;
      margin-left: 22px;
      font-size: 24px;
    }

    #score-card span.menorDiez {
      margin-top: -47px;
      margin-left: 27px;
      font-size: 24px;
    }

    .image-card-profile img {
      width: 150px;
      height: 150px;
    }

    .image-party-card-profile img {
      width: 55px;
      margin-top: 61px;
    }

    #califichas-content-happy-profile img {
      width: 30px;
    }

    #califichas-content-sad-profile img {
      width: 30px;
    }

    #califichas-content-bad-profile img {
      width: 30px;
    }

    #score-card-profile p {
      font-size: 20px;
      margin-top: 2px;
      margin-left: 10px;
    }

    #text-chamber-card-profile {
      letter-spacing: 5px;
    }
  }

  @media only screen and (max-width: 960px) {

    #slide-head {
      background-size: auto 405px;
      width: auto;
    }

    #div-buttons-score {
      width: auto;
    }

    #image-party-card img {
      margin-left: -15px;
      margin-top: 45px;
    }

    #div-circle-score {
      width: auto;
    }

    #logo_score {
      background-size: 190px;
    }

    #content-socials-card {
      margin-left: 10px;
    }

    #image-card img{
      margin-top: -15px;
    }

    #image-state-card {
      width: 25px;
      height: 35px;
    }

    #califichas-content-happy img {
      width: 25px;
      margin-top: 43px;
    }

    #califichas-content-sad img {
      width: 25px;
      margin-top: 43px;
    }

    #califichas-content-bad img {
      width: 25px;
      margin-top: 43px;
    }

    #facebook-card-profile img {
      width: 25px;
    }

    #twitter-card-profile img {
        width: 25px;
    }

    #mail-card-profile img {
        width: 25px;
    }

    #score-card-profile img {
      margin-top: 102px;
      width: 73px;
    }

    #score-card-profile p {
      font-size: 20px;
      margin-top: 7px;
      margin-left: 3px;
    }

    #style-trabajo {
      font-size: 18px;
    }

    #style-extra {
      font-size: 18px;
    }

    #style-rol {
      font-size: 18px;
    }


  }

  @media only screen and (max-width: 959px) {
    #image-card img {
      margin-top: -20px;
      width: 130px;
      height: 130px;
      margin-left: 10px;
    }

    #text-name-card {
      margin-left: 0px;
    }

    #text-election-card {
      margin-left: 0px;
    }

    #text-commission-card {
      margin-left: 0px;
    }

    #text-chamber-card {
      margin-top: 60px;
    }

    #image-state-card {
      width: 50px;
      height: 40px;
      margin-top: 5px;
    }

    #image-party-card img {
      margin-left: 0px;
      margin-top: 67px;
    }

    md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
      margin-left: 200px;
      color: #FFF;
      font-size: 25px;
    }

    #text-name-card-profile {
      margin-left: 0px;
    }

    #score-card-profile p {
      margin-left: -10px;
    }

    #text-state-card-profile {
      font-size: 20px;
    }

    #image-state-card-profile {
      width: 75px;
      height: 76px;
      margin-left: -20px;
      margin-top: 97px;
    }

    #text-election-card-profile {
      margin-left: 0px;
    }

    #text-commission-card-profile {
      margin-left: 0px;
    }

    #image-state-card-profile {
      margin-top: 155px;
      width: 50px;
      height: 50px;
    }

    #text-chamber-card-profile {
      letter-spacing: 5px;
      margin-top: 150px;
    }

    #content-socials-card-profile {
      margin-left: -20px;
      margin-top: 135px;
    }

    .image-card-profile img {
      width: 175px;
      height: 175px;
      margin-top: 47px;
      margin-left: 50px;
    }

    .image-party-card-profile img {
      width: 55px;
      margin-top: 165px;
      margin-left: -2px;
    }

    #style-trabajo {
      font-size: 15px;
      margin-top: 5px;
    }

    #style-rol {
      font-size: 15px;
    }

    #style-extra {
      font-size: 15px;
    }

    #style-trabajo .letter {
      margin-left: 10px;
    }

    #style-rol .letter {
      margin-left: 10px;
    }

    #style-extra .letter {
      margin-left: 10px;
    }
  }

  @media only screen and (max-width: 900px) {
    #content-socials-card-profile {
        margin-left: 0px;
        margin-top: 135px;
    }
  }

  @media only screen and (max-width: 768px) {
    #image-party-card img {
      margin-left: -15px;
      margin-top: 45px;
    }

      md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
      margin-left: 140px;
    }

    #logo_score {
      background-size: 135px;
    }

    #image-card img {
      margin-top: -20px;
      width: 115px;
      height: 115px;
      margin-left: 0px;
    }

    #image-party-card img {
      margin-left: -5px;
      margin-top: 52px;
    }

    #text-state-card span {
      font-size: 15px;
    }

    #text-state-card {
      font-size: 15px;
      margin-right: 0px;
    }

    #text-chamber-card {
      margin-top: 40px;
      margin-right: 38px;
    }

    #image-state-card {
      width: 40px;
      height: 35px;
      margin-top: -20px;
      /* z-index: 1; */
    }

    .image-card-profile img {
      margin-left: 5px;
    }

    #score-card-profile p {
      margin-left: -2px;
    }
  }

  @media only screen and (max-width: 736px) {

    md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
      margin-left: 125px;
    }

    #logo_score {
      background-size: 130px;
    }
  }

  @media only screen and (max-width: 667px) {

    md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
      margin-left: 105px;
    }

    #logo_score {
      background-size: 130px;
    }

    #image-card img {
      margin-left: -10px;
    }

    #content-socials-card-profile {
      margin-left: 40px;
      margin-top: 135px;
    }

    #califichas-content-sad-profile img {
      margin-left: 20px;
    }

    #score-card-profile p {
      margin-left: 0px;
    }
  }

  @media only screen and (max-width: 568px) {

    #logo_score {
      background-size: 113px;
    }

    md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
      margin-left: 65px;
    }

    #image-card img {
      margin-left: 10px;
    }

    #text-chamber-card {
      margin-top: 40px;
      margin-right: 56px;
    }

    #califichas-content-happy-profile img {
        width: 35px;
        margin-left: 0px;
    }

    #califichas-content-sad-profile img {
      width: 35px;
      margin-left: 0px;
    }

    #califichas-content-bad-profile img {
      width: 35px;
      margin-left: 0px;
    }

    #score-card-profile p {
      margin-left: -20px;
      margin-top: 0px;
      font-size: 20px;
    }

    #content-socials-card-profile {
      margin-left: -10px;
    }

    #image-state-card-profile {
      margin-left: 6px;
      width: 30px;
      height: 30px;
    }

    #text-chamber-card-profile {
      margin-right: -3px;
    }

    #text-state-card-profile span {
      margin-right: -35px;
    }

    .image-card-profile img {
      margin-left: 45px;
    }

    #score-card-profile img {
      margin-top: 90px;
      width: 90px;
      margin-left: -30px;
    }
  }

  @media only screen and (max-width: 414px) {

    #califichas-content-happy img {
      width: 30px;
      margin-top: 40px;
      margin-left: -30px;
    }

    #califichas-content-sad img {
      width: 30px;
      margin-top: 40px;
      margin-left: -20px;
    }

    #califichas-content-bad img {
      width: 30px;
      margin-top: 40px;
      margin-left: -10px;
    }

     #input-project {
       margin-left: -4px;
    }

    md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
      margin-left: 20px;
    }

    #text-chamber-card {
      margin-top: 40px;
      margin-right: 43px;
      font-size: 17px;
    }

    #text-name-card {
      font-size: 12px;
    }

    #content-socials-card {
      margin-left: 20px;
    }

    #image-card img {
      margin-left: -10px;
    }

    #logo_score {
      background-size: 66px;
    }

    #image-card img {
      margin-left: -18px;
    }

    .image-card-profile img {
      margin-left: 5px;
      width: 155px;
      margin-top: 65px;
      height: 155px;
    }

    #score-card-profile p {
      margin-left: -16px;
    }

    .image-party-card-profile img {
      margin-left: -25px;
      margin-top: 165px;
    }

    #content-socials-card-profile {
      margin-left: 0px;
    }
   }

   @media only screen and (max-width: 375px) {

     #califichas-content-happy img {
       width: 30px;
       margin-top: 40px;
       margin-left: -30px;
     }

     #califichas-content-sad img {
       width: 30px;
       margin-top: 40px;
       margin-left: -20px;
     }

     #califichas-content-bad img {
       width: 30px;
       margin-top: 40px;
       margin-left: -10px;
     }

    md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
      font-size: 20px;
    }

    #content-socials-card {
      margin-left: 25px;
    }

    #text-state-card {
      font-size: 15px;
      margin-right: -15px;
    }

    #text-chamber-card {
      margin-top: 40px;
      margin-right: 27px;
      font-size: 17px;
    }

    .image-card-profile img {
      margin-left: -5px;
      width: 145px;
      margin-top: 65px;
      height: 145px;
    }
  }

  @media only screen and (max-width: 320px) {

    #califichas-content-happy img {
      width: 28px;
      margin-top: 40px;
      margin-left: -30px;
    }

    #califichas-content-sad img {
      width: 28px;
      margin-top: 40px;
      margin-left: -21px;
    }

    #califichas-content-bad img {
      width: 28px;
      margin-top: 40px;
      margin-left: -10px;
    }

   md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
    font-size: 14px;
    margin-left: 25px;
  }

  #image-party-card img {
      margin-left: 8px;
      margin-top: 52px;
  }

  #icon-menu {
    margin-left: 70px;
    width: 25px;
    margin-top: 1px;
  }

  #text-chamber-card {
    font-size: 15px;
    margin-right: 19px;
  }

  #text-state-card span {
    font-size: 12px;
  }

  #content-socials-card {
    margin-left: 35px;
  }
    /******/

    /*Styles Home - Profile*/

    #califichas-content-happy-profile img{
      width: 30px;
      margin-top: 40px;
      margin-left: 0px;
    }

    #califichas-content-sad-profile img{
      width: 30px;
      margin-top: 40px;
      margin-left: 0px;
    }


    #califichas-content-bad-profile img{
      width: 30px;
      margin-top: 40px;
      margin-left: 0px;
    }

    #score-card-profile p {
      margin-left: 10px;
      margin-top: 5px;
    }

    #content-socials-card-profile{
      text-align: center;
      margin-left: 10px;
      margin-top: 80px;
    }

    #score-card-profile {
      margin-top: 7px;
      margin-left: -10px;
      z-index: 1;
    }

    #score-card-profile img{
      margin-top: 30px;
      width: 75px;
      margin-left: 2px;
    }

    #score-card-profile span{
      margin-top: -54px;
      position: absolute;
      font-size: 28px;
      letter-spacing: 2px;
      margin-left: -10px;
    }

    #text-chamber-card-profile{
      font-size: 15px;
      margin-top: 70px;
      margin-right: 28px;
      text-transform: uppercase;
      text-align: right;
      color: #BBB;
      font-weight: bold;
      cursor: pointer;
      letter-spacing: 2px;
    }

    #text-state-card-profile{
      font-size: 15px;
      text-transform: uppercase;
      text-align: right;
      margin-right: 28px;
      color: #BBB;
      letter-spacing: 2px;
      font-weight: bold;
      cursor: pointer;
    }

    #text-state-card-profile span{
      font-size: 15px;
      text-transform: uppercase;
      text-align: right;
      margin-right: -1px;
      color: #BBB;
      letter-spacing: 2px;
      font-weight: bold;
      cursor: pointer;
    }

    .image-card-profile img{
      width: 130px;
      height: 130px;
      margin-top: 10px;
      margin-left: 0px;
      border-radius: 50%;
    }

    .image-party-card-profile img {
      width: 50px;
      margin-left: -15px;
      margin-top: 90px;
    }

    #image-state-card-profile {
      width: 45px;
      height: 45px;
      margin-left: -18px;
      margin-top: 75px;
    }

    #facebook-card-profile img{
      margin-top: -30px;
      width: 30px;
      cursor: pointer;
      margin-left: 2px;
    }

    #twitter-card-profile img{
      margin-top: 5px;
      width: 30px;
    }

    #mail-card-profile img{
      margin-top: 5px;
      width: 30px;
    }

    #text-name-card-profile{
      font-size: 15px;
      margin-top: 3px;
      text-align: left;
      letter-spacing: 3px;
      font-weight: bold;
      margin-left: 4px;
    }

    #text-election-card-profile{
      font-size: 13px;
      margin-top: 3px;
      text-align: left;
      font-weight: bold;
      margin-left: 4px;
    }

    #text-commission-card-profile{
      font-size: 13px;
      padding-bottom: 5px;
      text-align: left;
      font-weight: bold;
      margin-left: 4px;
      margin-bottom: 10px;
    }

    #style-trabajo {
      color: #EE4455;
      font-weight: bold;
      margin-top: 0px;
      letter-spacing: 1px;
      font-size: 13px;
    }

    #style-rol{
      color:#FFC73F;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 13px;
    }

    #style-extra{
      color:#FF974C;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 13px;
    }

    #text-graphics-profile{
      margin-left: 4px;
      color:#FFC73F;
      font-weight: bold;
      font-size: 10px
    }

    #style-trabajo .letter{
      margin-left: 20px;
    }

    #style-rol .letter{
      margin-left: 20px;
    }

    #style-extra .letter{
      margin-left: 20px;
    }

    .icon-dwn {
      margin-top: -1px;
    }

    .icon-question {
      margin-top: -1px;
    }

    .icon-party {
      margin-top: 0px;
    }

    .icon-search {
      margin-top: 0px;
      margin-left: 2px;
    }
    /******/
 }
