
@media only screen and (max-width: 1366px) {

  #tit-federal span{
    padding-left: 29px;
  }

  #tit-puebla span{
    padding-left: 36px;
  }

  #tit-jalisco span{
    padding-left: 36px;
  }

  #tit-cdmx span{
    padding-left: 43px;
  }
}
