/*SLIDE STYLES*/
#slide-head{
  background-image: url(../imgs/png/slide_head.png);
  min-height: 715px;
  background-size: 100% 715px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: auto;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

#div-circle-score{
  width: auto;
  /* background: purple; */
  margin-top: 205px;
  height: 365px;
}

#div-buttons-score{
  width: auto;
  opacity: 0.5;
  margin-top: -13px;
  height: 19px;
}

#logo_score{
  background: url(../imgs/svg/logo_circle.svg);
  background-size: 255px;
  margin-top: 4px;
  background-repeat: no-repeat;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

.color-btn{
  background: #000;
  opacity: 1.0;
  min-height: 80px;
  cursor: pointer;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}


.btn-text-one{
  color: #FFF;
  margin-top: 33px;
  position: absolute;
  margin-left: 55px;
  letter-spacing: 2px;
  font-size: 19px;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

.icon-dwn{
  width: 40px;
  margin-left: 10px;
  margin-top: 20px;
  position: absolute;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

.icon-question{
  width: 30px;
  margin-left: 14px;
  margin-top: 13px;
  position: absolute;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

.icon-party{
  width: 30px;
  margin-left: 14px;
  margin-top: 25px;
  position: absolute;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

.icon-search{
  width: 37px;
  margin-left: 10px;
  margin-top: 20px;
  position: absolute;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

#content-senado{
  color: #FFF;
  font-size: 50px;
  letter-spacing: 30px;
  text-transform: uppercase;
  margin-top: 70px;
  font-family: 'Montserrat';
  transition: all 500ms;
  -webkit-transition:all 500ms;
}

#content-dip{
  color: #FFF;
  font-size: 50px;
  letter-spacing: 30px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  margin-top: 70px;
  transition: all 500ms;
  -webkit-transition:all 500ms;
}


@media only screen and (max-width: 2420px) {
  .btn-text-one {
    font-size: 17px;
  }

  #content-senado{
    font-size: 47px;
  }

  #content-dip {
    font-size: 47px;
  }

  #logo_score {
    margin-left: -10px;
  }
}

@media only screen and (max-width: 2250px) {
  .btn-text-one {
    font-size: 15px;
  }

  #content-senado{
    font-size: 45px;
    letter-spacing: 27px;
  }

  #content-dip {
    font-size: 45px;
    letter-spacing: 27px;
  }
}

@media only screen and (max-width: 2126px) {

  #content-senado{
    letter-spacing: 25px;
  }

  #content-dip {
    letter-spacing: 25px;
  }
}

@media only screen and (max-width: 2060px) {
  .btn-text-one {
    font-size: 13px;
  }
  #content-senado{
    font-size: 40px;
  }

  #content-dip {
    font-size: 40px;
  }

  #logo_score {
    margin-left: -25px;
  }
}

@media only screen and (max-width: 1885px) {
  #content-senado{
    letter-spacing: 23px;
  }

  #content-dip {
    letter-spacing: 23px;
  }
}

@media only screen and (max-width: 1840px) {
  #content-senado{
    letter-spacing: 21px;
  }

  #content-dip {
    letter-spacing: 21px;
  }
}
