/*SLIDE STYLES*/
#slide-head{
  background-image: url(../imgs/png/slide_head.jpg);
  /*min-height: 550px;*/
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: auto;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

#div-circle-score{
  width: auto;
  /* background: purple; */
  margin-top: 100px;
  margin-top: 73px;
  height: 300px;
}

#div-buttons-score{
  width: auto;
  opacity: 0.5;
  margin-top: -13px;
  height: 19px;
}

#logo_score{
  background: url(../imgs/svg/logo_circle.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  background-position: center;
}

#color-btn{
  background: #000;
  opacity: 1.0;
  border: 1px solid #FFF;
  margin-top: 0px;
  min-height: 50px;
  cursor: pointer;
  text-align: center;
  padding-top: 13px;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

.icon-dwn{
  width: 40px;
  margin-left: 10px;
  margin-top: 5px;
  position: absolute;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

.icon-question{
  width: 36px;
  margin-left: 12px;
  margin-top: 7px;
  position: absolute;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

.icon-party{
  width: 32px;
  margin-left: 14px;
  margin-top: 10px;
  position: absolute;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

.icon-search{
  width: 40px;
  margin-left: 10px;
  margin-top: 5px;
  position: absolute;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

#content-senado{
  color: #FFF;
  font-size: 50px;
  letter-spacing: 30px;
  text-transform: uppercase;
  margin-top: 70px;
  font-family: 'Montserrat';
  border-left: 1px solid #FFF;
  padding-bottom: 10px;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

#content-dip{
  color: #FFF;
  font-size: 50px;
  letter-spacing: 30px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  border-right: 1px solid #FFF;
  margin-top: 70px;
  padding-bottom: 10px;
  transition: all 500ms;
  -webkit-transition:all 500ms;
}

#slide-head-profile-dip{
  background-image: url(../imgs/png/slide_head_dip.jpg);
  min-height: 650px;
  background-size: 100% 950px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: auto;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

#slide-head-profile-sen{
  background-image: url(../imgs/png/slide_head_sen.jpg);
  min-height: 250px;
  background-size: 100% 250px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: auto;
  transition: all 500ms;
  -webkit-transition: all 500ms;
}

@media only screen and (max-width: 2420px) {

  #content-senado{
    font-size: 47px;
  }

  #content-dip {
    font-size: 47px;
  }
}

@media only screen and (max-width: 2250px) {
  #content-senado{
    font-size: 45px;
    letter-spacing: 27px;
  }

  #content-dip {
    font-size: 45px;
    letter-spacing: 27px;
  }
}

@media only screen and (max-width: 2126px) {

  #content-senado{
    letter-spacing: 25px;
  }

  #content-dip {
    letter-spacing: 25px;
  }
}

@media only screen and (max-width: 2060px) {
  #content-senado{
    font-size: 40px;
  }

  #content-dip {
    font-size: 40px;
  }
}

@media only screen and (max-width: 1920px) {
  #slide-head-profile-dip{
    min-height: 550px;
  }
}

@media only screen and (max-width: 1885px) {
  #content-senado{
    letter-spacing: 23px;
  }

  #content-dip {
    letter-spacing: 23px;
  }
}

@media only screen and (max-width: 1840px) {
  #content-senado{
    letter-spacing: 21px;
  }

  #content-dip {
    letter-spacing: 21px;
  }
}

@media only screen and (max-width: 1680px) {
  #slide-head-profile-dip{
    background-size: 100% 540px;
  }

}

@media only screen and (max-width: 1520px) {
  #color-btn {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1440px) {
  #slide-head-profile-dip{
    background-size: 100% 375px;
  }

  #color-btn{
    background: #000;
    opacity: 1.0;
    min-height: 45px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 1366px) {
  #slide-head-profile-dip{
    background-size: 100% 450px;
  }

  #color-btn {
    background: #000;
    opacity: 1.0;
    min-height: 50px;
  }
}

@media only screen and (max-width: 1280px) {
  #slide-head-profile-dip {
    background-size: 100% 550px;
  }

  #color-btn{
    min-height: 35px;
  }
}

@media only screen and (max-width: 1279px){
  #slide-head {
    background-size: cover;
     background-position: center;
  }

  #color-btn {
    min-height: 35px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 1024px) {
  #slide-head-profile-dip{
    background-size: 100% 375px;
  }

  #color-btn{
    min-height: 30px;
    margin-bottom: 2px;
  }
}

@media only screen and (max-width: 959px) {
  #slide-head {
    min-height: 400px;
  }
}

@media only screen and (max-width: 768px) {
  #slide-head-profile-dip{
    min-height: auto;
    background-size: 100% 595px;
  }

  #slide-head {
    min-height: 200px;
    background-size: 414px 200px;
    background-position: top;
  }

  #color-btn{
    min-height: 22px;
  }
}

@media only screen and (max-width: 568px) {
  #slide-head {
    min-height: 220px;
    background-size: 568px 220px;
  }
}

@media only screen and (max-width: 414px) {
  #slide-head {
    min-height: 200px;
  }

  #color-btn {
   min-height: 25px;
  }
}

@media only screen and (max-width: 375px) {
  #slide-head-profile-dip {
    background-size: 100% 460px;
  }

  #slide-head {
    background-size: 375px 200px;
  }

  #color-btn {
    min-height: 20px;
  }
}

@media only screen and (max-width: 320px) {
  #slide-head-profile-dip {
      background-size: 100% 465px;
  }

  #slide-head {
    background-size: 400px 200px;
  }

  #color-btn{
    padding-top: 3px;
    max-height: 0px;
  }
}
