
@media only screen and (max-width: 768px) {

    #boton-menu{
      margin-top: 4px;
      margin-left: 20px;
    }

    #boton-borde{
      margin-top: 4px;
      margin-left: 4px;
    }

    #icon-logo{
      background-size: 79px;
      margin-top: 16px;
      margin-left: 32px;
    }

    #icon-logo-profile{
      background-size: 79px;
      margin-top: 16px;
      margin-left: 32px;
    }
}
