@media only screen and (max-width: 2560px) {
  #d2 {
    margin-left: 205px;
    margin-top: 100px;
   }
}

@media only screen and (max-width: 2560px) {
  #d2 {
      margin-left: 125px;
      margin-top: 100px;
  }
}

@media only screen and (max-width: 1920px) {
  #content-dip {
    font-size: 37px;
  }

  #content-senado {
    font-size: 37px;
    margin-left: -5px;
  }

  #d2 {
    margin-left: 50px;
    margin-top: 50px;
   }
}

@media only screen and (max-width: 1919px) {

  #div-buttons-score {
    margin-top: -15px;
  }

  #boton-borde {
    margin-left: 62px;
  }

}

@media only screen and (max-width: 1840px) {
  #boton-borde {
    margin-left: 55px;
  }
}

@media only screen and (max-width: 1780px) {
  .btn-text-one {
    font-size: 13px;
    letter-spacing: 1px;
  }

  #content-dip {
    font-size: 36px;
  }

  #content-senado {
    font-size: 36px;
  }
}

@media only screen and (max-width: 1680px) {

  #boton-borde {
    margin-left: 34px;
  }

  #content-senado {
    font-size: 32px;
  }

  #content-dip {
    font-size: 32px;
  }

  #d2 {
    margin-left: 50px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 1640px) {
  #content-dip {
    font-size: 32px;
    margin-top: 60px;
  }

  #content-senado {
    font-size: 32px;
    margin-top: 60px;
  }
}

@media only screen and (max-width: 1540px) {

  #content-dip {
    font-size: 28px;
  }

  #content-senado {
    font-size: 28px;
  }
}

@media only screen and (max-width: 1536px) {
  #content-senado {
      font-size: 27px;
  }

  #content-dip {
    font-size: 27px;
  }
}

@media only screen and (max-width: 1520px) {
  .color-btn {
    margin-top: 20px;
  }

  #content-senado {
    font-size: 28px;
    margin-top: 50px;
  }

  #content-dip {
    font-size: 28px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 1500px) {
  #div-circle-score {
    height: 270px;
  }
}



@media only screen and (max-width: 1440px) {

 #div-circle-score{
   margin-top: 86px;
   height: 211px;
 }

 #div-buttons-score{
   opacity: 0.5;
   margin-top: 15px;
   height: 19px;
 }

 .color-btn{
   background: #000;
   opacity: 1.0;
   min-height: 45px;
   margin-top: 0px;
 }

 .btn-text-one {
   font-size: 13px;
   margin-left: 33px;
   margin-top: 16px;
 }

 .icon-dwn{
   width: 25px;
   margin-left: 5px;
   margin-top: 10px;
 }

 .icon-question{
   width: 24px;
   margin-left: 5px;
   margin-top: 10px;
 }

 .icon-party{
   width: 20px;
   margin-left: 7px;
   margin-top: 12px;
 }

 .icon-search{
   width: 23px;
   margin-left: 3.5px;
   margin-top: 11px;
 }

  #boton-borde {
    margin-left: 10px;
  }

  #content-dip {
    margin-top: 35px;
    font-size: 25px;
  }

  #content-senado {
    font-size: 25px;
    margin-top: 35px;
  }

  #d2 {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 1400px) {
  #content-senado {
      font-size: 23px;
      margin-top: 35px;
  }

  #content-dip {
    font-size: 23px;
    margin-top: 35px;
  }
}

@media only screen and (max-width: 1366px) {

  .btn-text-one {
    font-size: 11px;
    margin-left: 38px;
    margin-top: 18px;
  }

  .icon-dwn {
    width: 25px;
    margin-left: 6px;
    margin-top: 12px;
  }

  .icon-question {
    width: 25px;
    margin-left: 6px;
    margin-top: 12px;
  }

  .icon-party {
    width: 20px;
    margin-left: 7px;
    margin-top: 14px;
  }

  .icon-search {
    width: 23px;
    margin-left: 7px;
    margin-top: 12px;
  }

  .color-btn {
    background: #000;
    opacity: 1.0;
    min-height: 50px;
  }
}

@media only screen and (max-width: 1280px) {
 #div-buttons-score{
   opacity: 0.5;
   margin-top: 15px;
   height: 19px;
 }

 .color-btn{
   min-height: 35px;
 }

 .btn-text-one{
   font-size: 10px;
   margin-top: 11px;
 }

 .icon-dwn {
   width: 22px;
   margin-top: 5px;
 }

 .icon-question{
   width: 21px;
   margin-top: 5px;
 }

 .icon-party{
   width: 17px;
   margin-top: 7px;
 }

 .icon-search{
   width: 20px;
   margin-top: 5px;
 }

  #content-senado{
    font-size: 19px;
    margin-top: 20px;
  }

  #content-dip{
    font-size: 19px;
    margin-top: 20px;
  }

  #boton-menu {
    margin-top: 5px;
  }

  #boton-borde {
    margin-top: 5px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1279px) {
  #content-senado {
    font-size: 20px;
    margin-top: 60px;
    margin-left: 0px;
  }

  #content-dip{
    font-size: 20px;
    margin-top: 60px;
  }

  .color-btn {
    min-height: 35px;
    margin-bottom: 5px;
  }

  .btn-text-one {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 50px;
  }

  .icon-dwn {
    width: 30px;
    margin-top: 2px;
    margin-left: 7px;
  }

  .icon-question {
    width: 30px;
    margin-left: 7px;
    margin-top: 3px;
  }

  .icon-party {
    width: 30px;
    margin-left: 7px;
    margin-top: 3px;
  }

  .icon-search {
    width: 30px;
    margin-left: 7px;
    margin-top: 2px;
  }
}

@media only screen and (max-width: 1024px) {

  #content-senado {
    font-size: 14px;
    margin-top: 46px;
    margin-left: 0px;
  }

  #content-dip {
    font-size: 14px;
    margin-top: 46px;
  }

  #div-buttons-score{
    opacity: 0.5;
    margin-top: 20px;
    height: 19px;
  }

  .color-btn{
    min-height: 30px;
    margin-bottom: 2px;
  }


  .btn-text-one{
    font-size: 17px;
    margin-top: 5px;
    margin-left: 40px;
  }

  .icon-dwn{
    width: 25px;
    margin-top: 3px;
  }

  .icon-question {
    margin-top: 0px;
    margin-left: 4px;
    width: 30px;
  }

  .icon-party{
    width: 20px;
    margin-top: 5px;
  }

  .icon-search{
    width: 25px;
    margin-top: 3px;
  }

  #d1 {
    max-width: 100px;
  }

  #content-dip {
    /* font-size: 14px; */
    margin-top: 46px;
    font-size: 21px;
    letter-spacing: 15px;
  }

  #content-senado {
    /* font-size: 14px; */
    margin-top: 46px;
    font-size: 21px;
    letter-spacing: 15px;
  }

}

@media only screen and (max-width: 960px) {

  #content-dip {
    font-size: 18px;
    letter-spacing: 15px;
  }

  #content-senado {
    font-size: 18px;
    letter-spacing: 15px;
  }
}

@media only screen and (max-width: 959px) {
  #boton-borde {
    margin-left: 45px;
  }
}

@media only screen and (max-width: 840px) {
  #boton-borde {
    margin-left: 25px;
  }
}

@media only screen and (max-width: 768px) {
 #div-circle-score{
   height: 139px;
 }

 #div-buttons-score{
   margin-top: 16px;
 }


 .color-btn{
   min-height: 22px;
 }

 .btn-text-one{
   font-size: 13px;
   margin-top: 2px;
 }

 .btn-text-two-csv{
   font-size: 8.5px;
   margin-top: -10px;
   margin-left: 25px;
 }

 .btn-text-two-func{
   font-size: 8.5px;
   margin-top: -10px;
   margin-left: 20px;
 }

 .btn-text-two{
   font-size: 8.5px;
   margin-top: -10px;
   margin-left: 22px;
 }

 .btn-text-two-search{
   font-size: 8.5px;
   margin-top: -10px;
   margin-left: 22px;
 }

 .icon-dwn{
   width: 22px;
   margin-top: 0px;
 }

 .icon-question{
   width: 25px;
   margin-top: -1px;
 }

 .icon-party{
   width: 20px;
   margin-top: 1px;
 }

 .icon-search{
   width: 20px;
 }

 #d1 {
   max-width: 90px;
   margin-left: 230px;
   margin-top: 0px;
  }

  #boton-borde {
    margin-left: 0px;
  }

}

@media only screen and (max-width: 736px) {

   .icon-question {
      width: 22px;
      margin-top: -1px;
      margin-left: 7px;
  }

  #d1 {
    max-width: 90px;
    margin-left: 230px;
    margin-top: 0px;
   }
}

@media only screen and (max-width: 667px) {

 #d1{
   max-width: 105px;
   margin-left: 180px;
 }

}

@media only screen and (max-width: 568px) {

  #div-circle-score {
    margin-top: 35px;
    height: 135px;
  }

 #div-buttons-score{
   margin-top: -3px;
 }
 /*Styles Home - Profile*/
 #w {
   position: relative;
   height: 100px;
   width: 317px;
   /* border: 1px solid red; */
 }

 #d1{
   max-width: 90px;
   margin-left: 150px;
   margin-top: 6px;
 }

  #d1 {
    top: 0px;
    left: 0px;
  }
}


@media only screen and (max-width: 414px) {

 #div-circle-score{
   height: 114px;
 }

 #div-buttons-score{
  margin-top: -9px
 }

 .btn-text-one {
   font-size: 11px;
   margin-top: 5px;
 }

 .color-btn {
  min-height: 25px;
 }

 .icon-dwn{
   margin-top: 2px;
 }

 .icon-question{
   margin-top: 2px;
 }

 .icon-party{
   margin-top: 2px;
 }

 .icon-search{
   margin-top: 2px;
 }

 /*
 Profiles styles
 */

 #d1 {
    max-width: 90px;
    margin-left: 105px;
    margin-top: 0px;
  }
}


@media only screen and (max-width: 375px) {

 .color-btn {
   min-height: 20px;
 }

 #div-circle-score{
   margin-top: 15px;
   height: 160px;
 }

 #div-buttons-score{
   margin-top: -27px;
   height: 0px;
 }

 .btn-text-one{
   margin-left: 36px;
   font-size: 10px;
   margin-top: 4px;
 }

 .btn-text-two-csv{
   font-size: 8.5px;
   margin-top: -10px;
   margin-left: 20px;
 }

 .btn-text-two-func{
   font-size: 8.5px;
   margin-top: -10px;
   margin-left: 15px;
 }

 .btn-text-two{
   font-size: 8.5px;
   margin-top: -10px;
   margin-left: 17px;
 }

 .btn-text-two-search{
   font-size: 8.5px;
   margin-top: -10px;
   margin-left: 17px;
 }

 .icon-dwn{
   margin-top: 0px;
 }

 .icon-question{
   margin-top: 0px;
 }

 .icon-party{
   margin-top: 2px;
 }

 .icon-search{
   margin-top: 1px;
 }

 #d1{
    max-width: 105px;
    margin-left: 65px;
 }
}
/*
    Styles Home
    Styles Home - Profile
*/
@media only screen and (max-width: 320px) {

 .btn-text-one{
   font-size: 8px;
   margin-top: 4px;
 }

 .btn-text-two-csv{
   font-size: 6.5px;
   margin-top: -11px;
 }

 .btn-text-two-func{
   font-size: 6.5px;
   margin-top: -11px;
 }

 .btn-text-two{
   font-size: 6.5px;
   margin-top: -11px;
 }

 .btn-text-two-search{
   font-size: 6.5px;
   margin-top: -11px;
 }

 /*Styles Home - Profile*/

 #d1{
   max-width: 90px;
   max-height: 90px;
   margin-left: 58px;
   margin-top: -5px;

 }

 .icon-dwn {
   margin-top: -1px;
 }

 .icon-question {
   margin-top: -1px;
 }

 .icon-party {
   margin-top: 0px;
 }

 .icon-search {
   margin-top: 0px;
   margin-left: 10px;
 }
 /*****/
}
