@media only screen and (max-width: 480px) {

  #icon-logo {
    background-size: 71px;
  }

  #input-project {
    width: 225px;
    margin-left: 1px;
    margin-top: -5px;
  }

  #boton-menu {
    margin-left: 103px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 414px) {

  #icon-logo {
    background-size: 71px;
    margin-top: 4px;
  }

  #icon-logo-profile {
    background-size: 71px;
    margin-top: 4px;
    margin-left: 7px;
  }

  #img-site-panel {
    width: 55px;
  }

  #text-site-panel-menu {
    margin-top: 22px;
    margin-left: 77px;
  }

  #close-btn {
    margin-left: 309px;
  }

  #icon-menu {
    width: 38px;
    margin-left: 80px;
    margin-top: -1.5px;
  }

  #input-project {
    margin-left: -2px;
    margin-top: 2px;
  }

  #img-site-panel {
    width: 55px;
  }

  #text-site-panel-menu {
    margin-top: 24px;
    margin-left: 65px;
  }
}

@media only screen and (max-width: 375px) {
  #close-btn {
      margin-left: 272px;
  }

}

@media only screen and (max-width: 360px) {
  #boton-menu {
    margin-left: 62px;
  }

  #close-btn {
    margin-left: 218px;
  }

}
