@media only screen and (max-width: 667px) {
  #navbar{
    background: #000;
  }

  #icon-logo{
   width: 100px;
   margin: 20px;
  }

  #input-project{
    margin-left: 193px;
  }

  #boton-menu{
    margin-top: 14px;
    margin-left: 22px;
  }

  #boton-borde{
    margin-top: 14px;
    margin-left: 65px;
  }
}

@media only screen and (max-width: 667px) {

  #boton-borde {
      margin-left: 55px;
  }

  #input-project {
    margin-left: 188px;
  }
}

@media only screen and (max-width: 580px) {

  #boton-menu {
    margin-left: 121px;
  }

  #input-project {
    margin-left: 167px;
    width: 280px;
  }

}
