@media only screen and (max-width: 667px) {
  #input-project{
    margin-left: 193px;
  }
  #boton-borde{
    margin-left: 65px;
  }
}

@media only screen and (max-width: 667px) {

  #boton-borde {
      margin-left: 4px;
  }

  #boton-menu {
    margin-left: 3px;
  }

  #input-project {
    margin-left: 103px;
  }
}

@media only screen and (max-width: 580px) {

  #input-project {
    margin-left: 167px;
    width: 280px;
  }

}
