<html>
<head>
  <meta charset="UTF-8"></meta>
  <meta name="description" content="Web Site For Present Information about legislators"></meta>
  <meta name="keywords" content="Legisladores,Senadores,Diputados"></meta>
  <meta name="author" content="Michelle Garduño"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
  <title>Borde Score</title>
  <link rel="shortcut icon" href="imgs/png/logo.png"  type="image/x-icon" sizes="16x16">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="css/angular-material.css">
  <!--Sty-->
  <link rel="stylesheet" href="css/styles_index.css">
  <link rel="stylesheet" href="css/styles_index_slide.css">
  <link rel="stylesheet" href="css/styles_hover.css">
  <link rel="stylesheet" href="css/styles_index_panel_2560.css">
  <link rel="stylesheet" href="css/styles_index_panel_736.css">
  <link rel="stylesheet" href="css/styles_index_panel_667.css">
  <link rel="stylesheet" href="css/styles_index_panel_320.css">
  <link rel="stylesheet" href="css/styles_index_1920.css">
  <link rel="stylesheet" href="css/styles_index_1440.css">
  <link rel="stylesheet" href="css/styles_index_1366.css">
  <link rel="stylesheet" href="css/styles_index_1280.css">
  <link rel="stylesheet" href="css/styles_index_1024.css">
  <link rel="stylesheet" href="css/styles_index_768.css">
  <link rel="stylesheet" href="css/styles_index_736.css">
  <link rel="stylesheet" href="css/styles_index_667.css">
  <link rel="stylesheet" href="css/styles_index_568.css">
  <link rel="stylesheet" href="css/styles_index_480.css">
  <link rel="stylesheet" href="css/styles_index_375.css">
  <link rel="stylesheet" href="css/styles_index_320.css">
  <link rel="stylesheet" href="css/slide_head/styles_slide_1920.css">
  <link rel="stylesheet" href="css/slide_head/styles_slide_1440.css">
  <link rel="stylesheet" href="css/slide_head/styles_slide_1280.css">
  <link rel="stylesheet" href="css/slide_head/styles_slide_1024.css">
  <link rel="stylesheet" href="css/slide_head/styles_slide_768.css">
  <link rel="stylesheet" href="css/slide_head/styles_slide_736.css">
  <link rel="stylesheet" href="css/slide_head/styles_slide_667.css">
  <link rel="stylesheet" href="css/slide_head/styles_slide_568.css">
  <link rel="stylesheet" href="css/slide_head/styles_slide_414.css">
  <link rel="stylesheet" href="css/slide_head/styles_slide_375.css">
  <link rel="stylesheet" href="css/slide_head/styles_slide_320.css">
  <link rel="stylesheet" href="css/loader.css">
  <link rel="stylesheet" href="css/content_score_party/styles_content.css">
  <link rel="stylesheet" href="css/content_legislators/styles_content_legislators_768.css">
  <link rel="stylesheet" href="css/content_legislators/styles_content_legislators_736.css">
  <link rel="stylesheet" href="css/content_legislators/styles_content_legislators_667.css">
  <link rel="stylesheet" href="css/content_legislators/styles_content_legislators_568.css">
  <link rel="stylesheet" href="css/content_legislators/styles_content_legislators_375.css">
  <link rel="stylesheet" href="css/content_legislators/styles_content_legislators_320.css">
</head>
<body ng-app="score_federal" ng-cloak onload="myFunction()" >


  <div layout="row" style="display:none;" id="myDiv" class="animate-bottom">

  <!--navbar content-->
  <div id="navbar" layout-xs="row" layout-sm="row" layout-md="row" layout-gt-md="row" layout-gt-lg="row" layout-lg="row" layout-xl="row">
     <div ng-controller="OpenHomeController" ng-click="openHome()" id="icon-logo" flex-offset-xs="5" flex-xs="25" flex-offset-sm="5" flex-sm="10" flex-offset-md="20" flex-md="10"  flex-gt-lg="10" flex-offset-gt-lg="20" flex-lg="10" flex-offset-lg="20" flex-offset-xl="20" flex-xl="10" >
     </div>
     <div flex-xs="40" flex-sm="60" flex-md="35" flex-gt-md="40" flex-lg="40" flex-gt-lg="40" flex-xl="40" >
        <div hide show-xs show-sm layout-xs="column">
          <div ng-controller="SelectAsyncController" layout-xs="column" layout-sm="column" ng-cloak>
              <md-select ng-cloak id="input-project" placeholder="PROYECTO" ng-model="selectedUser" md-on-open="loadUsers()" >
                <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
              </md-select>
          </div>
        </div>
        <div layout-md="row" layout-gt-md="row" layout-lg="row" layout-gt-lg="row" layout-xl="row" hide-xs hide-sm  >
          <div flex-offset-md="25" flex-md="75" flex-offset-gt-md="25" flex-gt-md="75" flex-offset-gt-lg="25" flex-gt-lg="75" flex-offset-lg="25" flex-lg="75" flex-offset-xl="25" flex-xl="75" >
            <div layout-md="row" layout-lg="row" layout-gt-md="row">
              <div ng-controller="OpenFederalController" ng-click="openFederal()" id="tit-federal" flex-md="25" flex-gt-md="25" flex-lg="25" flex-gt-lg="25" >
                <span>FEDERAL</span>
              </div>
              <div ng-controller="OpenPueblaController" ng-click="openPuebla()" id="tit-puebla" flex-md="25" flex-gt-md="25" flex-lg="25" flex-gt-lg="25">
                <span>PUEBLA</span>
              </div>
              <div ng-controller="OpenJaliscoController" ng-click="openJalisco()" id="tit-jalisco" flex-md="25" flex-gt-md="25" flex-lg="25" flex-gt-lg="25">
                <span>JALISCO</span>
              </div>
              <div ng-controller="OpenCDMXController" ng-click="openCDMX()" id="tit-cdmx" flex-md="25" flex-gt-md="25" flex-lg="25" flex-gt-lg="25">
                <span>CDMX</span>
              </div>
            </div>
          </div>
        </div>
     </div>
     <div flex-xs="30" flex-sm="25" flex-md="35" flex-gt-md="30" flex-lg="30" flex-gt-lg="30" flex-xl="30">
      <md-button hide-xs id="boton-borde" ng-cloak="" ng-controller="OpenBordePanel" ng-click="openBordePanel()" aria-label="Menu" class="sidenavdemoBasicUsage md-fab">
        <img id="icon-menu" src="imgs/svg/logo_b.svg">
       </md-button>
       <md-button hide-xs id="boton-menu" ng-cloak="" ng-controller="PanelCtrl" class="sidenavdemoBasicUsage md-fab"  aria-label="Menu"  ng-click="toggleRight()" ng-hide="isOpenRight()">
         <img id="icon-menu" src="imgs/svg/menu.svg"  >
       </md-button>
       <img hide show-xs id="icon-menu" src="imgs/svg/menu-responsive.svg" ng-controller="PanelCtrl" class="sidenavdemoBasicUsage" ng-click="toggleRight()" ng-hide="isOpenRight()">
     </div>
  </div>

  <!--slide content-->
  <div id="slide-head" layout-xs="column" layout-sm="column" layout-md="column" layout-gt-md="column" layout-gt-lg="column" layout-lg="column" layout-xl="column">
    <div layout-xs="row" layout-sm="row" layout-md="row" layout-gt-md="row" layout-lg="row" layout-xl="row" id="div-circle-score">
       <div flex-xs="40" flex-sm="40" flex-md="40" flex-gt-md="40" flex-lg="40" flex-gt-lg="40" flex-xl="45">
       </div>
       <div id="logo_score" flex-xs="20" flex-sm="20" flex-md="20" flex-gt-md="20" flex-lg="20" flex-gt-lg="20" flex-xl="15">
       </div>
       <div flex-xs="40" flex-sm="40" flex-md="40" flex-gt-md="40" flex-lg="40" flex-gt-lg="40" flex-xl="40">
       </div>
    </div>
    <div layout-xs="row" layout-sm="row" layout-md="row" layout-gt-md="row" layout-lg="row" id="div-buttons-score">
       <div  flex-xs="45" flex-offset-sm="5" flex-sm="40" flex-offset-md="20" flex-md="25"  flex-lg="50" flex-gt-lg="50" flex-xl="50">
         <div layout-xs="column" layout-sm="column" layout-md="column" layout-gt-md="column" layout-lg="row" layout-xl="row">
           <div  class="color-btn" ng-controller="OpenCSVController" ng-click="openCSV()" flex-offset-xs="5" flex-xs="45" flex-sm="50"   flex-md="50"  flex-offset-lg="40" flex-lg="25" flex-offset-xl="40" flex-xl="25">
             <img class="icon-dwn" src="imgs/svg/download_logo.svg">
             <span class="btn-text-one" >DESCARGAR CSV</span>
           </div>
           <div class="color-btn" ng-controller="OpenHowAboutController" ng-click="openAbout()" flex-offset-xs="5" flex-xs="45" flex-sm="50"  flex-md="50" flex-offset-lg="5" flex-lg="25" flex-offset-xl="5" flex-xl="25">
             <img class="icon-question" src="imgs/svg/question_logo.svg">
             <span class="btn-text-one">COMO FUNCIONA</span>
           </div>
           <div hide-xs hide-sm  hide-md  flex-lg="5"  flex-xl="5">
           </div>
         </div>
       </div>
       <div flex-offset-xs="10" flex-xs="40" flex-offset-sm="10" flex-sm="40"  flex-offset-md="10" flex-md="25"  flex-lg="50" flex-gt-lg="50" flex-xl="50">
         <div layout-xs="column" layout-sm="column" layout-md="column" layout-gt-md="row" layout-lg="row" layout-xl="row">
           <div class="color-btn" ng-controller="OpenPartyScoreController" ng-click="showAdvanced($event)" ng-cloak flex-xs="50" flex-sm="50"  flex-md="50"  flex-offset-lg="5" flex-lg="25" flex-offset-xl="5" flex-xl="25">
             <img class="icon-party" src="imgs/svg/party_logo.svg">
             <span class="btn-text-one">POR PARTIDO</span>
           </div>
           <div class="color-btn" flex-xs="50" flex-sm="50"  flex-md="50"  flex-offset-lg="5" flex-lg="25" flex-offset-xl="5" flex-xl="25">
             <img class="icon-search" src="imgs/svg/search_logo.svg">
             <span class="btn-text-one">BUSCAR LEGISLADOR</span>
           </div>
           <div  hide-xs hide-sm hide-md flex-lg="40" flex-xl="40">
           </div>
         </div>
       </div>
    </div>
    <div hide show-md show-lg show-xl layout-md="row" layout-gt-md="row" layout-lg="row" layout-xl="row">
      <div id="content-dip" flex-md="50" flex-gt-md="50" flex-lg="50" flex-gt-lg="50" flex-xl="50">
        <div layout-md="row" layout-gt-md="row" layout-lg="row" layout-xl="row">
          <div flex-offset-md="40" flex-md="60" flex-offset-gt-md="45" flex-gt-md="25" flex-offset-lg="40" flex-lg="60" flex-offset-xl="40" flex-xl="60">
            <div layout-md="row" layout-gt-md="row" layout-lg="row" layout-xl="row">
              <div flex-md="50" flex-gt-md="50" flex-lg="50" flex-gt-lg="50" flex-xl="50">
                <span>diputados</span>
              </div>
              <div flex-md="50" flex-gt-md="50" flex-lg="50" flex-gt-lg="50" flex-xl="50">
              </div>
           </div>
          </div>
        </div>
      </div>
       <div  id="content-senado" flex-md="50" flex-gt-md="50" flex-lg="50" flex-gt-lg="50" flex-xl="50" >
         <div layout-md="row" layout-gt-md="row" layout-lg="row" layout-xl="row">
           <div flex-offset-md="10" flex-md="90" flex-offset-gt-md="45" flex-gt-md="25" flex-offset-lg="15" flex-lg="85"  flex-offset-gt-lg="15" flex-gt-lg="85" flex-offset-xl="15" flex-xl="85">
             <div layout-md="row" layout-gt-md="row" layout-lg="row" layout-xl="row">
               <div flex-md="50" flex-gt-md="50" flex-lg="50" flex-gt-lg="50" flex-xl="100">
                 <span>senadores</span>
               </div>
               <div flex-md="50" flex-gt-md="50" flex-lg="50" flex-gt-lg="50" flex-xl="">
               </div>
            </div>
           </div>
         </div>
       </div>
      </div>
    </div>
    <div hide-md hide-lg hide-xl ng-cloak layout-xs="column" layout-sm="column">
      <md-content  style="background:#000;">
        <md-tabs id="tabs-responsive"  md-border-bottom>
          <md-tab label="Diputados">
            <md-content style="background:#EEE;" class="md-padding">
              <div ng-controller="DeputysController" id="content-deputys" >
                <div layout-xs="column" layout-sm="column" ng-repeat="item in deputys">
                  <md-list ng-controller="AppCtrl">
                    <div id="content-cards"  layout-xs="row" layout-sm="row">
                        <div flex-xs="30">
                          <div id="califichas-content" layout-xs="column" layout-sm="column">
                            <div layout-xs="row" layout-sm="row">
                              <div flex-xs="33" flex-sm="33">
                                <a href="#">
                                  <img src="imgs/svg/cali_happy.svg">
                                </a>
                              </div>
                              <div flex-xs="33" flex-sm="33">
                                <a href="#">
                                  <img src="imgs/svg/cali_sad.svg">
                                </a>
                              </div>
                              <div flex-xs="33" flex-sm="33">
                                <a href="#">
                                  <img src="imgs/svg/cali_bad.svg">
                                </a>
                              </div>
                           </div>
                            <div id="image-card" layout-xs="column" layout-sm="column">
                              <img src="http:{{item.image}}">
                            </div>
                            <div id="image-party-card" layout-xs="column" layout-sm="column">
                              <img src="{{item.image_party}}">
                            </div>
                         </div>
                       </div>
                        <div style="text-align:center;" flex-xs="10" flex-sm="10">
                          <div id="score-card"  layout-xs="column" layout-sm="column">
                            <img src="imgs/svg/score.svg">
                            <span>{{item.score}}</span>
                          </div>
                        </div>
                        <div flex-xs="60" flex-sm="60">
                          <div id="text-chamber-card" layout-xs="column" layout-sm="column">
                            {{item.chamber}}
                          </div>
                          <div id="text-state-card" layout-xs="column" layout-sm="column">
                          <span>  Nacido en: </span>
                            {{item.state}}
                            <!-- <img id="image-state-card" src="{{item.img_state}}"> -->
                          </div>
                          <div id="text-name-card" layout-xs="column" layout-sm="column">
                            {{item.name}}
                          </div>
                          <div id="text-election-card" layout-xs="column" layout-sm="column">
                            {{item.election}}
                          </div>
                          <div id="text-commission-card" layout-xs="column" layout-sm="column">
                            {{item.commission}}
                          </div>
                          <div style="text-align:right;" layout-xs="row" layout-sm="row">
                            <div id="facebook-card" flex-xs="33" flex-sm="33">
                                <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fapp.bordepolitico.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">
                                  <img src="imgs/svg/facebook_cards.svg">
                                </a>
                            </div>
                            <div id="twitter-card" flex-xs="33" flex-sm="33">
                              <a href="https://twitter.com/share?hashtags=BordeScore%2CBordePolitico&text=Nuevo%20Twit%20Para%20@{{item.twiter}}&via=appbordepolitico.com" target="_blank">
                                <img src="imgs/svg/twiter_cards.svg">
                              </a>
                            </div>
                            <div id="mail-card" flex-xs="33" flex-sm="33">
                              <a href="mailto:{{item.mail}}">
                                <img src="imgs/svg/mail_cards.svg">
                              </a>
                            </div>
                          </div>
                        </div>

                    </div>
                    <md-divider ng-if="!$last"></md-divider>

                  </md-list>
                </div>
              </div>
            </md-content>
          </md-tab>
          <md-tab label="Senadores">
            <md-content style="background:#EEE;" class="md-padding">
              <div ng-controller="SenatorsController" id="content-senators" >
                <div layout-xs="column" layout-sm="column"  ng-repeat="item in senators">
                  <md-list ng-controller="AppCtrl">
                    <div id="content-cards"  layout-xs="row" layout-sm="row">
                        <div flex-xs="30" flex-sm="30">
                          <div id="califichas-content" layout-xs="column" layout-sm="column">
                            <div layout-xs="row" layout-sm="row">
                              <div flex-xs="33" flex-sm="33">
                                <a href="#">
                                  <img src="imgs/svg/cali_happy.svg">
                                </a>
                              </div>
                              <div flex-xs="33" flex-sm="33">
                                <a href="#">
                                  <img src="imgs/svg/cali_sad.svg">
                                </a>
                              </div>
                              <div flex-xs="33" flex-sm="33">
                                <a href="#">
                                  <img src="imgs/svg/cali_bad.svg">
                                </a>
                              </div>
                           </div>
                            <div id="image-card" layout-xs="column" layout-sm="column">
                              <img ng-controller="OpenPerfilController" ng-click="openPerfil(item.id)" ng-cloak=""  src="http:{{item.image}}">
                            </div>
                            <div id="image-party-card" layout-xs="column" layout-sm="column">
                              <img src="{{item.image_party}}">
                            </div>
                         </div>
                       </div>
                        <div style="text-align:center;" flex-xs="10" flex-sm="10">
                          <div id="score-card"  layout-xs="column" layout-sm="column">
                            <img ng-controller="OpenPerfilController" ng-click="openPerfil(item.id)" ng-cloak=""  src="imgs/svg/score.svg">
                            <span>{{item.score}}</span>
                          </div>
                        </div>
                        <div flex-xs="60" flex-sm="60">
                          <div id="text-chamber-card" layout-xs="column" layout-sm="column">
                            {{item.chamber}}
                          </div>
                          <div id="text-state-card" layout-xs="column" layout-sm="column">
                          <span>  Nacido en: </span>
                            {{item.state}}
                            <!-- <img id="image-state-card" src="{{item.img_state}}"> -->
                          </div>
                          <div ng-controller="OpenPerfilController" ng-click="openPerfil(item.id)" ng-cloak=""  id="text-name-card" layout-xs="column">
                            {{item.name}}
                          </div>
                          <div ng-controller="OpenPerfilController" ng-click="openPerfil(item.id)" ng-cloak=""  id="text-election-card" layout-xs="column">
                            {{item.election}}
                          </div>
                          <div ng-controller="OpenPerfilController" ng-click="openPerfil(item.id)" ng-cloak=""  id="text-commission-card" layout-xs="column">
                            {{item.commission}}
                          </div>
                          <div style="text-align:right;" layout-xs="row" layout-sm="row">
                            <div id="facebook-card" flex-xs="33" flex-sm="33">
                                <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fapp.bordepolitico.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">
                                  <img src="imgs/svg/facebook_cards.svg">
                                </a>
                            </div>
                            <div id="twitter-card" flex-xs="33" flex-sm="33">
                              <a href="https://twitter.com/share?hashtags=BordeScore%2CBordePolitico&text=Nuevo%20Twit%20Para%20@{{item.twiter}}&via=appbordepolitico.com" target="_blank">
                                <img src="imgs/svg/twiter_cards.svg">
                              </a>
                            </div>
                            <div id="mail-card" flex-sm="33" flex-xs="33">
                              <a href="mailto:{{item.mail}}">
                                <img src="imgs/svg/mail_cards.svg">
                              </a>
                            </div>
                          </div>
                        </div>

                    </div>
                    <md-divider ng-if="!$last"></md-divider>

                  </md-list>
                </div>
              </div>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
    <div show-md show-lg show-xl hide-xs hide-sm>
      <div layout-md="row" layout-gt-md="row" layout-lg="row" layout-xl="row">

      </div>
    </div>
  </div>
  <div>
    <div id="loader"></div>
    <span id="loader-text">Cargando información necesaria</span><br>
    <span id="loader-text-br">Espere un momento por favor...</span>
  </div>
  <md-sidenav  class="md-sidenav-right md-whiteframe-4dp" md-component-id="right" style="position:fixed;">
    <!--panel section head-->
    <md-toolbar flex="row"  id="nav-menu-index" >
      <div>
        <img ng-controller="OpenBordePanel" ng-click="openBordePanel()"  id="img-site-panel" src="imgs/png/logo_borde.png">
        <span flex id="text-site-panel-menu">Menú Principal</span>
          <md-button id="close-btn" ng-controller="RightCtrl" ng-click="close()" class="md-icon-button md-accent" aria-label="Favorite">
            <img id="icon-close" src="imgs/svg/close.svg">
          </md-button>
      </div>
    </md-toolbar>
    <!--panel section content-->
    <md-content ng-controller="RightCtrl" layout-padding="">
      <md-subheader id="subheaderDirectorio" class="md-no-sticky">Directorio Legisladores</md-subheader>
      <md-list ng-controller="PanelContentIndexController" ng-cloak flex>
        <md-list-item id="NoHover" ng-href="{{item.address}}"  target="_blank"  class="md-3-line" ng-repeat="item in linksDirectory" >
          <img id="icon-panel" ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
          <div class="md-list-item-text" layout="column">
            <span class="links-panel">{{ item.who }}</span>
          </div>
        </md-list-item>
      </md-list>
      <md-divider ></md-divider>
      <md-subheader class="md-no-sticky">Otros Sitios Borde</md-subheader>
      <md-list ng-controller="PanelContentIndexController" ng-cloak flex>
        <md-list-item id="NoHover" ng-href="{{item.address}}"  target="_blank"  class="md-3-line" ng-repeat="item in linksDirectoryOtherSites" ng-click="null">
          <img id="icon-panel" ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
          <div class="md-list-item-text" layout="column">
            <span class="links-panel">{{ item.who }}</span>
          </div>
        </md-list-item>
      </md-list>
      <md-divider></md-divider>
      <md-subheader id="NoHover" class="md-no-sticky">Contacto</md-subheader>
      <md-list ng-controller="PanelContentIndexController" ng-cloakflex>
        <md-list-item class="md-3-line" ng-repeat="item in phones" ng-click="null">
          <img id="icon-panel" ng-src="{{item.options.face}}?{{$index}}" class="md-avatar" alt="{{item.type}}" />
          <div class="md-list-item-text" layout="column">
            <a href="tel:{{ item.number }} " class="links-panel">{{ item.number }}  {{ item.type }}</a>
          </div>
        </md-list-item>
      </md-list>
      <!-- class="fabSpeedDialdemoBasicUsage" -->
      <div style="text-align:center;" ng-cloak=""  >
        <md-button ng-controller="OpenFacebookController" ng-click="openFace()" ng-cloak="" aria-label="Facebook" class="md-fab md-primary md-hue-2 md-mini test-tooltip">
          <md-tooltip hide-xs md-direction="top">Borde Politico</md-tooltip>
          <img id="facebook-panel" src="imgs/svg/facebook.svg" aria-label="Facebook">
        </md-button>
        <md-button ng-controller="OpenTwitterController" ng-click="openTwit()" ng-cloak=""  aria-label="Twitter" class="md-fab md-primary md-hue-2 md-mini test-tooltip">
          <md-tooltip hide-xs md-direction="top">@BordePolitico</md-tooltip>
          <img id="twiter-panel" src="imgs/svg/twitter.svg" aria-label="Twitter">
        </md-button>
        <md-button  aria-label="Liked" class="md-fab md-primary md-hue-2 md-mini test-tooltip">
          <md-tooltip hide-xs md-direction="top">Me Gusta</md-tooltip>
          <img id="heart-panel" src="imgs/svg/heart.svg" aria-label="Me gusta">
        </md-button>
      </div>
    </md-content>
  </md-sidenav>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/methods_nav.js"></script>
  <script src="js/external_windows.js"></script>
  <script src="js/methods_panel.js"></script>
  <script src="js/loader.js"></script>
  <script src="js/deputy_content.js"></script>
  <script src="js/senator_content.js"></script>
  <script src="js/graphs.js"></script>
  <!-- <script src="components/angular/angular.min.js"></script>
  <script src="components/chart.js/dist/Chart.min.js"></script>
  <script src="components/angular-chart.js/dist/angular-chart.min.js"></script> -->
</body>
</html>
