
<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div id="toolbar-score-party"  class="md-toolbar-tools">
        <span class="title-score-party">Borde Score <br hide show-xs>
        (por Partido Politico)</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="imgs/svg/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div id="content-score-party"  class="md-dialog-content" >
        <div id="content-row-party-score"  layout-xs="row" >
          <div  id="content-imgs-party-score" flex-xs="20" >
            <img src="imgs/svg/partys/mc.svg" class="md-avatar" alt="{{item.who}}">
          </div>
          <div  id="content-bars-party-score" flex-xs="65" layout-xs="row">
            <div class="content-deputy-party-mc" flex-xs="65">
              37
            </div>
            <div class="content-senator-party-mc" flex-xs="35">
              34
            </div>
          </div>
          <div id="content-res-party-score" flex-xs="15" >
              32
          </div>
        </div>
        <div id="content-row-party-score" layout-xs="row" >
          <div  id="content-imgs-party-score" flex-xs="20" >
            <img  src="imgs/svg/partys/pvem.svg" class="md-avatar" alt="{{item.who}}">
          </div>
          <div  id="content-bars-party-score" flex-xs="65" layout-xs="row">
            <div class="content-deputy-party-pvem" flex-xs="65">
              37
            </div>
            <div class="content-senator-party-pvem" flex-xs="35">
              34
            </div>
          </div>
          <div id="content-res-party-score" flex-xs="15" >
              32
          </div>
        </div>
        <div id="content-row-party-score" layout-xs="row" >
          <div  id="content-imgs-party-score" flex-xs="20" >
            <img src="imgs/svg/partys/pan.svg" class="md-avatar" alt="{{item.who}}">
          </div>
          <div  id="content-bars-party-score" flex-xs="65" layout-xs="row">
            <div class="content-deputy-party" flex-xs="50">
              20
            </div>
            <div class="content-senator-party" flex-xs="50">
              29
            </div>
          </div>
          <div id="content-res-party-score" flex-xs="15" >
              30
          </div>
        </div>
        <div id="content-row-party-score" layout-xs="row" >
          <div  id="content-imgs-party-score" flex-xs="20" >
            <img src="imgs/svg/partys/pes.svg" class="md-avatar" alt="{{item.who}}">
          </div>
          <div  id="content-bars-party-score" flex-xs="65" layout-xs="row">
            <div class="content-deputy-party" flex-xs="50">
              8
            </div>
            <div class="content-senator-party" flex-xs="50">
              26
            </div>
          </div>
          <div id="content-res-party-score" flex-xs="15" >
              30
          </div>
        </div>
        <div id="content-row-party-score" layout-xs="row" >
          <div  id="content-imgs-party-score" flex-xs="20" >
            <img src="imgs/svg/partys/prd.svg" class="md-avatar" alt="{{item.who}}">
          </div>
          <div  id="content-bars-party-score" flex-xs="65" layout-xs="row">
            <div class="content-deputy-party" flex-xs="65">
              37
            </div>
            <div class="content-senator-party" flex-xs="35">
              34
            </div>
          </div>
          <div id="content-res-party-score" flex-xs="15" >
              32
          </div>
        </div>
        <div id="content-row-party-score" layout-xs="row" >
          <div  id="content-imgs-party-score" flex-xs="20" >
            <img src="imgs/svg/partys/pri.svg" class="md-avatar" alt="{{item.who}}">
          </div>
          <div  id="content-bars-party-score" flex-xs="65" layout-xs="row">
            <div class="content-deputy-party" flex-xs="65">
              37
            </div>
            <div class="content-senator-party" flex-xs="35">
              34
            </div>
          </div>
          <div id="content-res-party-score" flex-xs="15" >
              32
          </div>
        </div>
        <div id="content-row-party-score" layout-xs="row" >
          <div  id="content-imgs-party-score" flex-xs="20" >
            <img src="imgs/svg/partys/panal.svg" class="md-avatar" alt="{{item.who}}">
          </div>
          <div  id="content-bars-party-score" flex-xs="65" layout-xs="row">
            <div class="content-deputy-party" flex-xs="65">
              37
            </div>
            <div class="content-senator-party" flex-xs="35">
              34
            </div>
          </div>
          <div id="content-res-party-score" flex-xs="15" >
              32
          </div>
        </div>
        <div id="content-row-party-score" layout-xs="row" >
          <div  id="content-imgs-party-score" flex-xs="20" >
            <img src="imgs/svg/partys/morena.svg" class="md-avatar" alt="{{item.who}}">
          </div>
          <div  id="content-bars-party-score" flex-xs="65" layout-xs="row">
            <div class="content-deputy-party" flex-xs="65">
              37
            </div>
            <div class="content-senator-party" flex-xs="35">
              34
            </div>
          </div>
          <div id="content-res-party-score" flex-xs="15" >
            32
          </div>
        </div>
        <div id="content-row-party-score" layout-xs="row" >
          <div  id="content-imgs-party-score" flex-xs="20" >
            <img src="imgs/svg/partys/pt.svg" class="md-avatar" alt="{{item.who}}">
          </div>
          <div  id="content-bars-party-score" flex-xs="65" layout-xs="row">
            <div class="content-deputy-party" flex-xs="65">
              37
            </div>
            <div class="content-senator-party" flex-xs="35">
              34
            </div>
          </div>
          <div id="content-res-party-score" flex-xs="15" >
              32
          </div>
        </div>
        <div id="content-row-party-score" layout-xs="row" >
          <div  id="content-imgs-party-score" flex-xs="20" >
            <img src="imgs/svg/partys/indi.svg" class="md-avatar" alt="{{item.who}}">
          </div>
          <div  id="content-bars-party-score" flex-xs="65" layout-xs="row">
            <div class="content-deputy-party" flex-xs="65">
              37
            </div>
            <div class="content-senator-party" flex-xs="35">
              34
            </div>
          </div>
          <div id="content-res-party-score" flex-xs="15" >
              32
          </div>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <div flex-xs="25">
        <img class="icon-dwn-dialog" src="imgs/svg/download_logo.svg"> <span class="text-icon-dialog">CSV<span>
      </div>
      <div flex-xs="75">
        <md-button href="http://bordepolitico.com/infografia-borde-score/" target="_blank" md-autofocus>
          Como funciona
        </md-button>
        </div>

      <!-- <md-button ng-click="answer('not useful')" >
      Cerrar
      </md-button> -->
      <!-- <md-button ng-click="answer('useful')">
        Useful
      </md-button> -->
    </md-dialog-actions>
  </form>
</md-dialog>
