/*
    Styles Home
    Styles Home - Profile
*/
@media only screen and (max-width: 320px) {
 #slide-head{
   min-height: 160px;
   background-size: 320px 160px;
   width: 320px;
 }

 #div-circle-score{
   width: 320px;
   height: 69px;
   margin-top: 39px;
 }

 #div-buttons-score{
   width: 320px;
   margin-top: 6px;
 }

 #logo_score{
   background-size: 64px;
   margin-top: 5px;
 }

 .btn-text-one{
   font-size: 9px;
   margin-top: 4px;
   margin-left: 25px;
 }

 .btn-text-two-csv{
   font-size: 6.5px;
   margin-top: -11px;
 }

 .btn-text-two-func{
   font-size: 6.5px;
   margin-top: -11px;
 }

 .btn-text-two{
   font-size: 6.5px;
   margin-top: -11px;
 }

 .btn-text-two-search{
   font-size: 6.5px;
   margin-top: -11px;
 }

 /*Styles Home - Profile*/

 #d1{
   max-width: 90px;
   max-height: 90px;
   margin-left: 58px;
   margin-top: -5px;

 }

 /*****/
}
