@media only screen and (max-width: 2560px) {
  #d2 {
    margin-left: 205px;
    margin-top: 100px;
   }
}

@media only screen and (max-width: 2560px) {
  #d2 {
      margin-left: 125px;
      margin-top: 100px;
  }
}

@media only screen and (max-width: 1920px) {
  #content-dip {
    font-size: 37px;
  }

  #content-senado {
    font-size: 37px;
    margin-left: -5px;
  }

  #d2 {
    margin-left: 50px;
    margin-top: 50px;
   }
}
@media only screen and (max-width: 1919px) {
 /*#slide-head{
   background-image: url(../../imgs/png/slide_head.png);
   min-height: 380px;
   background-size: 1920px 380px;
   background-attachment: fixed;
   background-repeat: no-repeat;
   width: 1920px;
 }

 #div-circle-score{
   width: 1920px;
   background: purple;
   margin-top: 86px;
   height: 211px;
 }

 #div-buttons-score{
   width: 1920px;
   opacity: 0.5;
   margin-top: 15px;
   height: 19px;
 }

 #logo_score{
   background: url(../../imgs/svg/logo_circle.svg);
   background-size: 204px;
   margin-top: 4px;
   margin-left: 154px;
   background-repeat: no-repeat;
 }

 .color-btn{
   background: #000;
   opacity: 1.0;
   min-height: 30px;
 }

 .btn-text-one{
   color: #FFF;
   font-size: 13px;
   margin-top: 7px;
   position: absolute;
   margin-left: 5px;
 }

 .btn-text-two-csv{
   color: #FFF;
   font-size: 13px;
   margin-top: 7px;
   position: absolute;
   margin-left: 96px;
 }

 .btn-text-two-func{
   color: #FFF;
   font-size: 13px;
   margin-top: 7px;
   position: absolute;
   margin-left: 56px;
 }

 .btn-text-two{
   color: #FFF;
   font-size: 13px;
   margin-top: 7px;
   position: absolute;
   margin-left: 41px;
 }

 .btn-text-two-search{
   color: #FFF;
   font-size: 13px;
   margin-top: 7px;
   position: absolute;
   margin-left: 68px;
 }

 .icon-dwn{
   width: 30px;
   margin-left: 3px;
 }

 .icon-question{
   width: 20px;
   margin-left: 3px;
 }

 .icon-party{
   width: 20px;
   margin-left: 3px;
   margin-top: 5px;
 }

 .icon-search{
   width: 28px;
   margin-left: 1.5px;
 }

  #content-senado{
    color: #FFF;
    font-size: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  #content-dip{
    color: #FFF;
    font-size: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }*/

  #div-buttons-score {
    margin-top: -15px;
  }

  #slide-head{
    min-height: 735px;
    background-size: 100% 735px;
  }

  #logo_score {
    margin-left: 100px;
  }

  #content-senado {
    font-size: 38px;
    margin-top: 90px;
  }

  #content-dip {
    font-size: 38px;
    margin-top: 90px;
  }

  #boton-borde {
    margin-left: 62px;
  }

  .icon-dwn{
    width: 30px;
  }

  .icon-question{
    width: 25px;
  }

  .icon-party{
    width: 25px;
  }

  .icon-search{
    width: 30px;
  }

  .btn-text-one {
    margin-left: 43px;
  }
}


@media only screen and (max-width: 1780px) {
  #logo_score {
    margin-left: 80px;
  }

  .btn-text-one {
    font-size: 13px;
    letter-spacing: 1px;
  }

  #content-dip {
    font-size: 36px;
  }

  #content-senado {
    font-size: 36px;
  }
}

@media only screen and (max-width: 1680px) {
  #content-senado {
    font-size: 32px;
  }

  #content-dip {
    font-size: 32px;
  }

  #d2 {
    margin-left: 50px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 1640px) {
  #logo_score {
    margin-left: 60px;
  }

  .btn-text-one {
    font-size: 12px;
  }

  #content-dip {
    font-size: 32px;
  }

  #content-senado {
    font-size: 32px;
  }
}

@media only screen and (max-width: 1540px) {
  #logo_score {
    margin-left: 40px;
  }

  .btn-text-one {
    font-size: 11px;
  }

  #content-dip {
    font-size: 28px;
  }

  #content-senado {
    font-size: 28px;
  }
}

@media only screen and (max-width: 1536px) {
  #content-senado {
      font-size: 27px;
  }

  #content-dip {
    font-size: 27px;
  }
}

@media only screen and (max-width: 1366px) {
  #content-senado {
      font-size: 22px;
  }

  #content-dip {
    font-size: 22px;
  }
}
