@media only screen and (max-width: 414px) {
 #slide-head{
   min-height: 222px;
   background-size: 414px 222px;
   width: 414px;
 }

 #div-circle-score{
   width: 414px;
   /*background: purple;*/
   margin-top: 59px;
   height: 114px;
 }

 #div-buttons-score{
  width: 414px;
  margin-top: -9px
 }

 #logo_score{
  background-size: 82px;
  margin-top: 2px;
 }

 .btn-text-one {
   font-size: 12px;
   margin-top: 5px;
   margin-left: 26px;
 }

 .color-btn {
  min-height: 25px;
 }

 .icon-dwn{
   margin-top: 5px;
 }

 .icon-question{
   margin-top: 5px;
 }

 .icon-party{
   margin-top: 7px;
 }

 .icon-search{
   margin-top: 6px;
 }
}
