@media only screen and (max-width: 1280px) {
 #slide-head{
   min-height: 405px;
   background-size: 1280px 405px;
   width: 1280px;
 }

 #div-circle-score{
   width: 1280px;
   /*background: purple;*/
   margin-top: 86px;
   height: 211px;
 }

 #div-buttons-score{
   width: 1280px;
   opacity: 0.5;
   margin-top: 15px;
   height: 19px;
 }

 #logo_score{
   background-size: 204px;
   margin-top: 4px;
   margin-left: 45px;
 }

 .color-btn{
   min-height: 35px;
 }

 .btn-text-one{
   font-size: 10px;
   margin-top: 11px;
   margin-left: 26px;
 }

 .icon-dwn {
   width: 22px;
   margin-top: 5px;
   margin-left: 3px;
 }

 .icon-question{
   width: 21px;
   margin-left: 3px;
   margin-top: 5px;
 }

 .icon-party{
   width: 17px;
   margin-left: 5px;
   margin-top: 7px;
 }

 .icon-search{
   width: 20px;
   margin-left: 1.5px;
   margin-top: 5px;
 }

  #content-senado{
    font-size: 19px;
    margin-top: 35px;
  }

  #content-dip{
    font-size: 19px;
    margin-top: 35px;
  }

  #boton-menu {
    margin-top: 5px;
  }

  #boton-borde {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 1279px) {
  #content-senado {
    font-size: 24px;
    margin-top: 43px;
  }

  #content-dip{
    font-size: 24px;
    margin-top: 43px;
  }
}
