@media only screen and (max-width: 667px) {
 #slide-head{
   min-height: 270px;
   background-size: 667px 270px;
 }

 #div-circle-score{
   width: 667px;
 }

 #div-buttons-score{
   width: 667px;
 }

}
