@media only screen and (max-width: 375px) {
 #slide-head{
   min-height: 194px;
   background-size: 375px 194px;
   width: 375px;

 }

 #div-circle-score{
   width: 375px;
 }

 #div-buttons-score{
   width: 375px;
   margin-top: -27px;
   height: 0px;

 }

 #logo_score{
   background-size: 75px;
   margin-top: -5px
 }

 .btn-text-one{
   margin-left: 28px;
   font-size: 9px;
 }

 .btn-text-two-csv{
   font-size: 8.5px;
   margin-top: -10px;
   margin-left: 20px;
 }

 .btn-text-two-func{
   font-size: 8.5px;
   margin-top: -10px;
   margin-left: 15px;
 }

 .btn-text-two{
   font-size: 8.5px;
   margin-top: -10px;
   margin-left: 17px;
 }

 .btn-text-two-search{
   font-size: 8.5px;
   margin-top: -10px;
   margin-left: 17px;
 }
}
