@media only screen and (max-width: 768px) {
 #slide-head{
   min-height: 290px;
   background-size: 768px 290px;
   width: 768px;
 }

 #div-circle-score{
   width: 768px;
   height: 139px;
 }

 #div-buttons-score{
   width: 768px;
   margin-top: 16px;
 }

 #logo_score{
   background-size: 135px;
 }

 .color-btn{
   min-height: 20px;
 }

 .btn-text-one{
   font-size: 14px;
   margin-top: 1px;
 }

 .btn-text-two-csv{
   font-size: 8.5px;
   margin-top: -10px;
   margin-left: 25px;
 }

 .btn-text-two-func{
   font-size: 8.5px;
   margin-top: -10px;
   margin-left: 20px;
 }

 .btn-text-two{
   font-size: 8.5px;
   margin-top: -10px;
   margin-left: 22px;
 }

 .btn-text-two-search{
   font-size: 8.5px;
   margin-top: -10px;
   margin-left: 22px;
 }

 .icon-dwn{
   width: 20px;
   margin-top: 0px;
   margin-left: 1px;
 }

 .icon-question{
   width: 20px;
   margin-top: 0px;
   margin-left: 1px;
 }

 .icon-party{
   width: 15px;
   margin-top: 2px;
 }

 .icon-search{
   width: 19px;
   margin-top: 1px;
 }
}
