@media only screen and (max-width: 568px) {
 #slide-head{
   min-height: 222px;
   background-size: 568px 222px;
 }

 #div-circle-score{
   width: 568px;
   /*background: purple;*/
   margin-top: 59px;
   height: 114px;
 }

 #div-buttons-score{
   width: 568px;
 }

 #logo_score{
   background-size: 112px;
   margin-top: 2px;
 }

}
