@media only screen and (max-width: 736px) {
   #slide-head{
     background-size: 736px 290px;
     width: 736px;
   }

   #div-circle-score{
     width: 736px;
   }

   #div-buttons-score{
     width: 736px;
   }

   #logo_score{
     background-size: 131px;
   }

   .color-btn{
     min-height: 20px;
   }

   .icon-question {
      width: 22px;
      margin-top: -1px;
      margin-left: 3px;
  }
}
