@media only screen and (max-width: 1440px) {
 #slide-head{
   min-height: 420px;
   background-size: 1440px 420px;
   width: 1440px;
 }

 #div-circle-score{
   width: 1440px;
   /*background: purple;*/
   margin-top: 86px;
   height: 211px;
 }

 #div-buttons-score{
   width: 1440px;
   opacity: 0.5;
   margin-top: 15px;
   height: 19px;
 }

 #logo_score{
   background-size: 204px;
   margin-top: 4px;
   margin-left: 74px;
 }

 .color-btn{
   background: #000;
   opacity: 1.0;
   min-height: 30px;
 }

 .btn-text-one {
   font-size: 11px;
   margin-left: 28px;
   margin-top: 9px;
 }

 .icon-dwn{
   width: 25px;
   margin-left: 2px;
   margin-top: 2px;
 }

 .icon-question{
   width: 20px;
   margin-left: 3px;
   margin-top: -1px;
 }

 .icon-party{
   width: 20px;
   margin-left: 3px;
   margin-top: 5px;
 }

 .icon-search{
   width: 25px;
   margin-left: 1.5px;
   margin-top: 3px;
 }


  #content-senado{
    font-size: 22px;
    margin-top: 12px
  }

  #content-dip{
    font-size: 22px;
    margin-top: 12px;
    margin-left: 948px;
    position: absolute;
  }

  #boton-borde {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 1366px) {
  #slide-head {
    min-height: 410px;
    background-size: 1366px 410px;
    width: 1366px;
  }

  #div-circle-score{
    width: 1366px;
  }

  #div-buttons-score{
    width: 1366px;
  }

  #content-dip {
    margin-left: 892px;
  }
}
