@media only screen and (max-width: 1024px) {
  #slide-head {
    min-height: 405px;
    background-size: 1024px 405px;
    width: 1024px;
  }

  #div-circle-score{
    width: 1024px;
    /*background: purple;*/
    margin-top: 86px;
    height: 211px;
  }

  #div-buttons-score{
    width: 1024px;
    opacity: 0.5;
    margin-top: 20px;
    height: 19px;
  }

  #logo_score{
    background-size: 204px;
    margin-top: 4px;
    margin-left: 0px;
  }

  .color-btn{
    min-height: 30px;
    margin-bottom: 2px;
  }


  .btn-text-one{
    font-size: 15px;
    margin-top: 6px;
    margin-left: 40px;
  }

  .icon-dwn{
    width: 25px;
    margin-top: 3px;
  }

  .icon-question {
    margin-top: 2px;
    margin-left: 7px;
  }

  .icon-party{
    width: 20px;
    margin-left: 3px;
    margin-top: 5px;
  }

  .icon-search{
    width: 28px;
    margin-left: 1px;
    margin-top: 2px;
  }

  #content-senado {
    margin-top: 44px;
    margin-left: -20px;
  }

  #content-dip {
    margin-top: 44px;
    margin-left: 640px;
  }
}
