@media only screen and (max-width: 736px) {
  #tabs-responsive {
    min-height: 615px;
  }

  #content-cards{
    padding:5px;
  }

  #califichas-content-happy img{
    width: 30px;
    margin-top: -10px;
    margin-left: 108px;
  }

  #califichas-content-sad img{
    width: 30px;
    margin-top: -10px;
    margin-left: 55px;
  }

  #califichas-content-bad img{
    width: 30px;
    margin-top: -10px;
  }

  #content-socials-card{
    text-align: center;
    margin-left: -90px;
    margin-top: 5px;
  }

  #score-card {
    margin-top: 15px;
    width: 50px;
    margin-left: -35px;
  }

  #score-card img{
    margin-top: -25px;
    width: 85px;
    margin-left: -35px;
  }

  #score-card span{
    margin-top: 2px;
    position: absolute;
    font-size: 25px;
    letter-spacing: 2px;
    margin-left: -62px;
    font-weight: bold;
  }

  #text-chamber-card{
    font-size: 25px;
    margin-top: 0px;
  }

  #text-state-card{
    font-size: 17px;
  }

  #text-state-card span{
    font-size: 10px;
    margin-top: 2px;
  }

  #image-card img{
    width: 185px;
    height: 200px;
    margin-top: -45px;
    margin-left: 155px;
  }

  #image-party-card img{
    width: 55px;
    margin-left: -5px;
    margin-top: 100px;
  }

  #image-state-card {
    width: 46px;
    margin-left: 3px;
    margin-top: 10px;
  }

  #facebook-card img{
    margin-top: 5px;
    width: 30px;
  }

  #twitter-card img{
    margin-top: 10px;
    width: 30px;
  }

  #mail-card img{
    margin-top: 10px;
    width: 30px;
  }

  #text-name-card{
    font-size: 17px;
    margin-top: 3px;
  }

  #text-election-card{
    font-size: 13px;
    margin-top: 3px;
    margin-left: 6px;
    text-align: right;
  }


  #text-commission-card{
    font-size: 13px;
    margin-top: 3px;
    margin-left: 6px;
    padding-bottom: 5px;
    text-align: right;
  }

  md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
    margin-left: 170px;
  }

  /* ************** */

  /* Styles Profile */
  #califichas-content-happy-profile img{
    width: 35px;
    margin-top: 80px;
    margin-left: 53px;
  }

  #califichas-content-sad-profile img{
    width: 35px;
    margin-top: 80px;
    margin-left: -15px;
    cursor: pointer;
  }

  #califichas-content-bad-profile{
    z-index: 2;
  }

  #califichas-content-bad-profile img{
    width: 35px;
    margin-top: 80px;
    margin-left: -83px;
  }

  #content-socials-card-profile{
    text-align: center;
    margin-left: -135px;
    margin-top: 105px;
  }

  #score-card-profile {
    margin-top: 50px;
    margin-left: -90px;
    z-index: 2;
  }

  #score-card-profile img{
    margin-top: 30px;
    width: 85px;
    margin-left: 2px;
  }

  #score-card-profile span{
    margin-top: 50px;
    position: absolute;
    font-size: 35px;
    letter-spacing: 2px;
    margin-left: -75px;
    font-weight: bold;
    color: #FFF;
  }

  #text-chamber-card-profile{
    font-size: 20px;
    margin-top: 100px;
    margin-right: 85px;
    text-transform: uppercase;
    text-align: right;
    color: #BBB;
    font-weight: bold;
    letter-spacing: 9px;
  }

  #text-state-card-profile {
    font-size: 15px;
    text-transform: uppercase;
    text-align: right;
    margin-right: 84px;
    color: #BBB;
    letter-spacing: 2px;
    font-weight: bold;
  }

  #text-state-card-profile span{
    font-size: 10px;
    /* margin-top: 2px; */
    margin-right: 0px;
    text-transform: uppercase;
    text-align: right;
    color: #BBB;
    letter-spacing: 3px;
  }

  #image-card-profile img{
    width: 170px;
    height: 180px;
    margin-top: 30px;
    margin-left: 160px;
    border-radius: 50%;
  }

  #image-party-card-profile img{
    width: 60px;
    margin-left: -27px;
    margin-top: 153px;
  }

  #image-state-card-profile {
    width: 50px;
    height: 50px;
    margin-left: -80px;
    margin-top: 100px;
  }

  #facebook-card-profile img{
    margin-top: -30px;
    width: 30px;
    margin-left: 2px;
  }

  #twitter-card-profile img{
    margin-top: 5px;
    width: 30px;
  }

  #mail-card-profile img{
    margin-top: 5px;
    width: 30px;
  }

  #text-name-card-profile{
    font-size: 16px;
    margin-top: 3px;
    color: #EE4656;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 78px;
  }

  #text-election-card-profile{
    font-size: 12px;
    margin-top: 3px;
    color: #BBB;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    margin-left: 88px;
  }

  #text-commission-card-profile{
    font-size: 12px;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: #BBB;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    margin-left: 88px;
    margin-bottom: 10px;
  }

  #style-trabajo{
    color: #EE4455;
    font-weight: bold;
    margin-top: 15px;
    letter-spacing: 2px;
    font-size: 20px;
  }

  #style-rol{
    color:#FFC73F;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
  }

  #style-extra{
    color:#FF974C;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
  }

  #style-trabajo .letter{
    margin-left:-15px;
  }

  #style-rol .letter{
    margin-left:-15px;
  }

  #style-extra .letter{
    margin-left:-15px;
  }
  /******/

}
