@media only screen and (max-width: 1280px) {
  #tabs-responsive {
    min-height: 734px;
  }

  #content-cards{
    padding:5px;
    height: 200px;
  }

  #califichas-content-happy img{
    width: 30px;
    margin-top: 10px;
    margin-left: 0px;
  }

  #califichas-content-sad img{
    width: 30px;
    margin-top: 10px;
    margin-left: 0px;
  }

  #califichas-content-bad img{
    width: 30px;
    margin-top: 10px;
    margin-left: 0px;
  }

  #content-socials-card{
    text-align: center;
    margin-left: -31px;
    margin-top: 75px;
  }

  #score-card {
    margin-top: 30px;
    width: 50px;
    margin-left: -50px;
    z-index: 2;
  }

  #score-card img{
    margin-top: -3px;
    width: 52px;
    margin-left: 35px;
  }

  #score-card span{
    margin-top: -36px;
    position: absolute;
    font-size: 17px;
    letter-spacing: 2px;
    margin-left: 22px;
    font-weight: bold;
    color: #FFF;
  }

  #text-chamber-card{
    font-size: 22px;
    margin-top: 7px;
    text-transform: uppercase;
    text-align: right;
    color: #BBB;
  }

  #text-state-card{
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
    color: #BBB;
  }

  #text-state-card span{
    font-size: 10px;
    /*margin-top: 2px;*/
    text-transform: uppercase;
    text-align: right;
    color: #BBB;
  }

  #image-card img{
    width: 135px;
    height: 135px;
    margin-top: -35px;
    margin-left: 5px;
    border-radius: 50%;
  }

  #image-party-card img{
    width: 45px;
    margin-left: -5px;
    margin-top: 65px;
  }

  #image-state-card {
    width: 46px;
    margin-left: -12px;
    margin-top: 10px;
  }

  #facebook-card img{
    margin-top: 5px;
    width: 30px;
  }

  #twitter-card img{
    margin-top: 5px;
    width: 30px;
  }

  #mail-card img{
    margin-top: 5px;
    width: 30px;
  }

  #text-name-card{
    font-size: 13px;
    margin-top: 3px;
  }

  #text-election-card{
    font-size: 13px;
    margin-top: 3px;
    margin-left: 6px;
  }

  #text-commission-card{
    font-size: 13px;
    margin-left: 6px;
    padding-bottom: 5px;
  }

  #content-cards-profile{
    margin-top:60px;
    height:275px;
    padding:20px;
  }

  #content-cards-profile-graph{
    padding-top:125px;
    padding-left: 20px;
  }

}
