@media only screen and (max-width: 1920px) {
  #tabs-responsive {
    min-height: 734px;
  }

  #content-cards {
    height: 210px;
  }

  #score-card {
    margin-top: 3px;
    margin-left: -45px;
  }

  #score-card img{
    margin-top: -3px;
    width: 70px;
    margin-left: 35px;
  }

  #score-card span{
    margin-top: -45px;
    font-size: 20px;
    margin-left: 30px;
  }

  #text-chamber-card{
    font-size: 25px;
  }

  #text-state-card{
    font-size: 16px;
  }

  #text-state-card span{
    font-size: 13px;
  }

  #image-card img{
    width: 140px;
    height: 140px;
    margin-top: -30px;
    margin-left: 1px;
  }

  #image-party-card img{
    width: 45px;
    margin-left: 5px;
    margin-top: 67px;
  }

  #image-state-card {
    width: 40px;
    margin-left: -10px;
    margin-top: 5px;
  }

  #facebook-card img{
    width: 40px;
  }

  #twitter-card img{
    width: 40px;
  }

  #mail-card img{
    width: 40px;
  }

  #text-name-card{
    font-size: 17px;
    margin-left: -15px;
  }

  #text-election-card{
    font-size: 14px;
    margin-left: -15px;
  }

  #text-commission-card{
    font-size: 14px;
    margin-left: -15px;
  }

}


@media only screen and (max-width: 1919px) {
  #tabs-responsive {
    min-height: 734px;
  }

  #content-cards {
    height: 200px;
  }

  #score-card {
    margin-top: 20px;
    margin-left: -68px;
  }

  #score-card img{
    margin-top: -3px;
    width: 80px;
    margin-left: 20px;
  }

  #score-card span{
    margin-top: -55px;
    font-size: 30px;
    margin-left: -3px;
  }

  #text-chamber-card{
    font-size: 25px;
  }

  #text-state-card{
    font-size: 16px;
  }

  #text-state-card span{
    font-size: 13px;
  }

  #image-card img{
    width: 145px;
    height: 145px;
    margin-top: -60px;
    margin-left: 21px;
  }

  #image-party-card img{
    width: 55px;
    margin-left: -30px;
    margin-top: 30px;
  }

  #image-state-card {
    width: 40px;
    margin-left: -10px;
    margin-top: 5px;
  }

  #facebook-card img{
    width: 30px;
  }

  #twitter-card img{
    width: 30px;
  }

  #mail-card img{
    width: 30px;
  }

  #text-name-card{
    font-size: 17px;
    margin-left: -20px;
  }

  #text-election-card{
    font-size: 14px;
    margin-left: -20px;
  }

  #text-commission-card{
    font-size: 14px;
    margin-left: -20px;
  }

  #content-socials-card {
    text-align: center;
    margin-left: -55px;
    margin-top: 75px;
  }

}

@media only screen and (max-width: 1680px) {
  #content-cards {
    height: 246px;
  }

  #image-card img {
    margin-left: 7px;
  }

  #score-card {
    margin-top: 35px;
    margin-left: -85px;
    z-index: 2;
  }

  #image-party-card img {
    width: 50px;
    margin-left: -32px;
    margin-top: 60px;
  }

  #content-socials-card {
    text-align: center;
    margin-left: -70px;
    margin-top: 100px;
  }

  #text-name-card {
    font-size: 15px;
    margin-left: -5px;
  }

  #text-election-card{
    margin-left: -5px;
  }

  #text-commission-card{
    margin-left: -5px;
  }
}
