@media only screen and (max-width: 1440px) {
  #tabs-responsive {
    min-height: 734px;
  }

  #content-cards{
    padding: 5px;
    height: 210px;
  }

  #califichas-content-happy img{
    width: 30px;
    margin-top: 10px;
    margin-left: 0px;
  }

  #califichas-content-sad img{
    width: 30px;
    margin-top: 10px;
    margin-left: 0px;
  }

  #califichas-content-bad img{
    width: 30px;
    margin-top: 10px;
    margin-left: 0px;
  }

  #content-socials-card{
    text-align: center;
    margin-left: -35px;
    margin-top: 70px;
  }

  #score-card {
    margin-top: 25px;
    width: 55px;
    margin-left: -50px;
    z-index: 2;
  }

  #score-card img{
    margin-top: -19px;
    width: 70px;
    margin-left: 35px;
  }

  #score-card span{
    margin-top: -47px;
    position: absolute;
    font-size: 23px;
    letter-spacing: 2px;
    margin-left: 22px;
    font-weight: bold;
    color: #FFF;
  }

  #text-chamber-card{
    font-size: 22px;
    margin-top: 7px;
    text-transform: uppercase;
    text-align: right;
    color: #BBB;
  }

  #text-state-card{
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
    color: #BBB;
  }

  #text-state-card span{
    font-size: 11px;
    /*margin-top: 2px;*/
    text-transform: uppercase;
    text-align: right;
    color: #BBB;
  }

  #image-card img{
    /* width: 110px; */
    /* height: 110px; */
    margin-top: -35px;
    margin-left: 5px;
    border-radius: 50%;
  }

  #image-party-card img{
    width: 50px;
    margin-left: -15px;
    margin-top: 65px;
  }

  #image-state-card {
    width: 45px;
    height: 50px;
    margin-left: -8px;
    margin-top: 10px;
  }

  #facebook-card img{
    margin-top: 5px;
    width: 35px;
  }

  #twitter-card img{
    margin-top: 5px;
    width: 35px;
  }

  #mail-card img{
    margin-top: 5px;
    width: 35px;
  }

  #text-name-card{
    font-size: 15px;
    margin-top: 3px;
    color: #EE4656;
    margin-left: 6px;
    text-transform: uppercase;
    text-align: left;
  }

  #text-election-card{
    font-size: 13px;
    margin-top: 3px;
    margin-left: 6px;
    color: #BBB;
    text-transform: uppercase;
    text-align: left;
  }

  #text-commission-card{
    font-size: 13px;
    margin-left: 6px;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: #BBB;
    text-align: left;
  }



  md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
    margin-left: 170px;
    color:#FFF;
  }

  md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
    color:#FFF;
  }

}
