/*
    Styles Home
    Styles Home - Profile
*/
@media only screen and (max-width: 320px) {

  /*Styles Home*/
  #tabs-responsive{
    min-height:405px;
  }

  #califichas-content-happy img{
    margin-left: 15px;
  }

  #califichas-content-sad img{
    margin-left: 8px;
  }

  #califichas-content-bad img{
    width: 30px;
    margin-top: -10px;
  }

  #content-socials-card{
    margin-left: 14px;
  }

  #score-card {
    margin-top: 15px;
    width: 50px;
    margin-left: -25px;
  }

  #score-card img{
    width: 60px;
    margin-left: 20px;
  }

  #score-card span{
    margin-top: -40px;
    font-size: 17px;
    margin-left: 12px;
  }

  #text-chamber-card{
    font-size: 20px;
  }

  #text-state-card{
    font-size: 16px;
  }

  #text-state-card span{
    font-size: 9px;
    margin-top: 3px;
  }

  #image-card img{
    width: 120px;
    height: 130px;
    margin-top: -25px;
    margin-left: 43px;
  }

  #image-party-card img{
    width: 45px;
    margin-left: -3px;
  }

  #image-state-card {
    width: 46px;
    margin-left: 3px;
    margin-top: 10px;
  }

  #facebook-card img{
    margin-top: 5px;
  }

  #twitter-card img{
    margin-top: 5px;
  }


  #mail-card img{
    margin-top: 5px;
  }

  #text-name-card{
    font-size: 12px;
  }

  #text-election-card{
    font-size: 11px;
  }


  #text-commission-card{
    font-size: 11px;
  }

  md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
      margin-left:25px;
  }

  #icon-menu {
    margin-left: 70px;
    width: 25px;
    margin-top: 1px;
  }
  /******/

  /*Styles Home - Profile*/

  #califichas-content-happy-profile img{
    width: 30px;
    margin-top: 40px;
    margin-left: 20px;
  }

  #califichas-content-sad-profile img{
    width: 30px;
    margin-top: 40px;
    margin-left: 9px;
  }


  #califichas-content-bad-profile img{
    width: 30px;
    margin-top: 40px;
    margin-left: -3px;
  }

  #content-socials-card-profile{
    text-align: center;
    margin-left: 10px;
    margin-top: 50px;
  }

  #score-card-profile {
    margin-top: 7px;
    margin-left: -10px;
    z-index: 1;
  }

  #score-card-profile img{
    margin-top: 30px;
    width: 75px;
    margin-left: 2px;
  }

  #score-card-profile span{
    margin-top: -54px;
    position: absolute;
    font-size: 28px;
    letter-spacing: 2px;
    margin-left: -9px;
  }

  #text-chamber-card-profile{
    font-size: 15px;
    margin-top: 13px;
    margin-right: 28px;
    text-transform: uppercase;
    text-align: right;
    color: #BBB;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
  }

  #text-state-card-profile{
    font-size: 15px;
    text-transform: uppercase;
    text-align: right;
    margin-right: 28px;
    color: #BBB;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
  }

  #text-state-card-profile span{
    font-size: 15px;
    text-transform: uppercase;
    text-align: right;
    margin-right: -1px;
    color: #BBB;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
  }

  #image-card-profile img{
    width: 140px;
    height: 140px;
    margin-top: -18px;
    margin-left: 32px;
    border-radius: 50%;
  }

  #image-party-card-profile img{
    width: 50px;
    margin-left: 0px;
    margin-top: 72px;
  }

  #image-state-card-profile {
    width: 45px;
    height: 45px;
    margin-left: -18px;
    margin-top: 15px;
  }

  #facebook-card-profile img{
    margin-top: -30px;
    width: 30px;
    cursor: pointer;
    margin-left: 2px;
  }

  #twitter-card-profile img{
    margin-top: 5px;
    width: 30px;
  }

  #mail-card-profile img{
    margin-top: 5px;
    width: 30px;
  }

  #text-name-card-profile{
    font-size: 17px;
    margin-top: 3px;
    text-align: left;
    letter-spacing: 3px;
    font-weight: bold;
    margin-left: 4px;
  }

  #text-election-card-profile{
    font-size: 11px;
    margin-top: 3px;
    text-align: left;
    font-weight: bold;
    margin-left: 4px;
  }

  #text-commission-card-profile{
    font-size: 11px;
    padding-bottom: 5px;
    text-align: left;
    font-weight: bold;
    margin-left: 4px;
    margin-bottom: 10px;
  }

  #style-trabajo{
    color:#EE4455;
    font-weight: bold;
    margin-top: 15px;
    letter-spacing: 1px;
    font-size: 15px;
  }

  #style-rol{
    color:#FFC73F;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
  }

  #style-extra{
    color:#FF974C;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
  }

  #text-graphics-profile{
    margin-left: 4px;
    color:#FFC73F;
    font-weight: bold;
    font-size: 10px
  }

  #style-trabajo .letter{
    margin-left: 6px;
  }

  #style-rol .letter{
    margin-left: 6px;
  }

  #style-extra .letter{
    margin-left: 6px;
  }
  /******/


}
