@media only screen and (max-width: 375px) {

  #califichas-content-happy img{
    margin-left: 25px;
  }

  #califichas-content-sad img{
    margin-left: 13px;
  }

  #califichas-content-bad img{
    width: 30px;
    margin-top: -10px;
  }

  #content-socials-card{
    margin-left: 0px;
    margin-top: -7px;
  }

  #score-card {
    margin-left: -23px;
  }

  #score-card span {
    margin-left: 20px;
  }
  
  #text-state-card span{
    font-size: 10px;
    margin-top: 2px;
  }

  #image-card img{
    margin-top: -45px;
    margin-left: 51px;
  }

  md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
    margin-left: 44px;
  }

}
