@media only screen and (max-width: 568px) {
  #tabs-responsive {
      min-height: 517px;
  }
  #content-cards{
    padding:5px;
  }

  #califichas-content-happy img{
    width: 30px;
    margin-top: -10px;
    margin-left: 68px;
  }

  #califichas-content-sad img{
    width: 30px;
    margin-top: -10px;
    margin-left: 35px;
  }

  #califichas-content-bad img{
    width: 30px;
    margin-top: -10px;
  }

  #content-socials-card{
    text-align: center;
    margin-left: -35px;
    margin-top: 0px;
  }

  #score-card {
    margin-top: 15px;
    width: 50px;
    margin-left: -35px;
    z-index: 1;
  }

  #score-card img{
    margin-top: -25px;
    width: 85px;
    margin-left: 5px;
  }

  #score-card span{
    margin-top: -57px;
    position: absolute;
    font-size: 25px;
    letter-spacing: 2px;
    margin-left: -15px;
    font-weight: bold;
  }

  #text-chamber-card{
    font-size: 25px;
    margin-top: 0px;
  }

  #text-state-card{
    font-size: 17px;
  }

  #text-state-card span{
    font-size: 10px;
    margin-top: 2px;
  }

  #image-card img{
    width: 150px;
    height: 160px;
    margin-top: -39px;
    margin-left: 118px;
  }

  #image-party-card img{
    width: 50px;
    margin-left: 5px;
    margin-top: 75px;
  }

  #image-state-card {
    width: 46px;
    margin-left: 3px;
    margin-top: 10px;
  }

  #facebook-card img{
    margin-top: 5px;
    width: 30px;
  }

  #twitter-card img{
    margin-top: 10px;
    width: 30px;
  }

  #mail-card img{
    margin-top: 10px;
    width: 30px;
  }

  #text-name-card{
    font-size: 17px;
    margin-top: 3px;

  }

  #text-election-card{
    font-size: 13px;
    margin-top: 3px;
    margin-left: 6px;
    text-align: right;

  }


  #text-commission-card{
    font-size: 13px;
    margin-top: 3px;
    margin-left: 6px;
    padding-bottom: 5px;
    text-align: right;

  }

}
