@media only screen and (max-width: 736px) {
  #tabs-responsive {
    min-height: 615px;
  }

  #content-cards{
    padding:5px;
  }

  #califichas-content-happy img{
    width: 30px;
    margin-top: -10px;
    margin-left: 108px;
  }

  #califichas-content-sad img{
    width: 30px;
    margin-top: -10px;
    margin-left: 55px;
  }

  #califichas-content-bad img{
    width: 30px;
    margin-top: -10px;
  }

  #content-socials-card{
    text-align: center;
    margin-left: -90px;
    margin-top: 5px;
  }

  #score-card {
    margin-top: 15px;
    width: 50px;
    margin-left: -35px;
  }

  #score-card img{
    margin-top: -25px;
    width: 85px;
    margin-left: -35px;
  }

  #score-card span{
    margin-top: 2px;
    position: absolute;
    font-size: 25px;
    letter-spacing: 2px;
    margin-left: -62px;
    font-weight: bold;
  }

  #text-chamber-card{
    font-size: 25px;
    margin-top: 0px;
  }

  #text-state-card{
    font-size: 17px;
  }

  #text-state-card span{
    font-size: 10px;
    margin-top: 2px;
  }

  #image-card img{
    width: 185px;
    height: 200px;
    margin-top: -45px;
    margin-left: 155px;
  }

  #image-party-card img{
    width: 55px;
    margin-left: -5px;
    margin-top: 100px;
  }

  #image-state-card {
    width: 46px;
    margin-left: 3px;
    margin-top: 10px;
  }

  #facebook-card img{
    margin-top: 5px;
    width: 30px;
  }

  #twitter-card img{
    margin-top: 10px;
    width: 30px;
  }

  #mail-card img{
    margin-top: 10px;
    width: 30px;
  }

  #text-name-card{
    font-size: 17px;
    margin-top: 3px;
  }

  #text-election-card{
    font-size: 13px;
    margin-top: 3px;
    margin-left: 6px;
    text-align: right;
  }


  #text-commission-card{
    font-size: 13px;
    margin-top: 3px;
    margin-left: 6px;
    padding-bottom: 5px;
    text-align: right;
  }

  md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
    margin-left: 170px;
  }
}
