/*
    Styles Home
    Styles Home - Profile
*/
@media only screen and (max-width: 568px) {
  #tabs-responsive {
    min-height: 517px;
  }

  #content-cards{
    padding:5px;
  }

  #califichas-content-happy img{
    width: 30px;
    margin-top: -10px;
    margin-left: 68px;
  }

  #califichas-content-sad img{
    width: 30px;
    margin-top: -10px;
    margin-left: 35px;
  }

  #califichas-content-bad img{
    width: 30px;
    margin-top: -10px;
  }

  #content-socials-card{
    text-align: center;
    margin-left: -35px;
    margin-top: 0px;
  }

  #score-card {
    margin-top: 15px;
    width: 50px;
    margin-left: -35px;
  }

  #score-card img{
    margin-top: -25px;
    width: 85px;
    margin-left: 5px;
  }

  #score-card span{
    margin-top: -57px;
    position: absolute;
    font-size: 25px;
    letter-spacing: 2px;
    margin-left: -15px;
    font-weight: bold;
  }

  #text-chamber-card{
    font-size: 25px;
    margin-top: 0px;
  }

  #text-state-card{
    font-size: 17px;
  }

  #text-state-card span{
    font-size: 10px;
    margin-top: 2px;
  }

  #image-card img{
    width: 150px;
    height: 160px;
    margin-top: -39px;
    margin-left: 118px;
  }

  #image-party-card img{
    width: 50px;
    margin-left: 5px;
    margin-top: 75px;
  }

  #image-state-card {
    width: 46px;
    margin-left: 3px;
    margin-top: 10px;
  }

  #facebook-card img{
    margin-top: 5px;
    width: 30px;
  }

  #twitter-card img{
    margin-top: 10px;
    width: 30px;
  }

  #mail-card img{
    margin-top: 10px;
    width: 30px;
  }

  #text-name-card{
    font-size: 17px;
    margin-top: 3px;
  }

  #text-election-card{
    font-size: 13px;
    margin-top: 3px;
    margin-left: 6px;
    text-align: right;
  }

  #text-commission-card{
    font-size: 13px;
    margin-top: 3px;
    margin-left: 6px;
    padding-bottom: 5px;
    text-align: right;
  }

  md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
    margin-left: 107px;
  }

  /* ************** */

  /* Styles Profile */
  #califichas-content-happy-profile img{
    width: 35px;
    margin-top: 40px;
    margin-left: 25px;
  }

  #califichas-content-sad-profile img{
    width: 35px;
    margin-top: 40px;
    margin-left: 0px;
    cursor: pointer;
  }

  #califichas-content-bad-profile{
    z-index: 2;
  }

  #califichas-content-bad-profile img{
    width: 35px;
    margin-top: 40px;
    margin-left: -27px;
  }

  #content-socials-card-profile{
    text-align: center;
    margin-left: -65px;
    margin-top: 72px;
  }

  #score-card-profile {
    margin-top: 7px;
    margin-left: -42px;
    z-index: 1;
  }

  #score-card-profile img{
    margin-top: 30px;
    width: 85px;
    margin-left: 2px;
  }

  #score-card-profile span{
    margin-top: -65px;
    position: absolute;
    font-size: 35px;
    letter-spacing: 2px;
    margin-left: -27px;
    font-weight: bold;
    color: #FFF;
  }

  #text-chamber-card-profile{
    font-size: 20px;
    margin-top: 50px;
    margin-right: 45px;
    text-transform: uppercase;
    text-align: right;
    color: #BBB;
    font-weight: bold;
    letter-spacing: 9px;
  }

  #text-state-card-profile {
    font-size: 15px;
    text-transform: uppercase;
    text-align: right;
    margin-right: 53px;
    color: #BBB;
    letter-spacing: 2px;
    font-weight: bold;
  }

  #text-state-card-profile span{
    font-size: 10px;
    /* margin-top: 2px; */
    margin-right: 0px;
    text-transform: uppercase;
    text-align: right;
    color: #BBB;
    letter-spacing: 3px;
  }

  #image-card-profile img{
    width: 180px;
    height: 180px;
    margin-top: -5px;
    margin-left: 100px;
    border-radius: 50%;
  }

  #image-party-card-profile img{
    width: 60px;
    margin-left: -9px;
    margin-top: 115px;
  }

  #image-state-card-profile {
    width: 50px;
    height: 50px;
    margin-left: -43px;
    margin-top: 53px;
  }

  #facebook-card-profile img{
    margin-top: -30px;
    width: 30px;
    margin-left: 2px;
  }

  #twitter-card-profile img{
    margin-top: 5px;
    width: 30px;
  }

  #mail-card-profile img{
    margin-top: 5px;
    width: 30px;
  }

  #text-name-card-profile{
    font-size: 17px;
    margin-top: 3px;
    text-align: left;
    letter-spacing: 3px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 38px;
  }

  #text-election-card-profile{
    font-size: 12px;
    margin-top: 3px;
    color: #BBB;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    margin-left: 38px;
  }

  #text-commission-card-profile{
    font-size: 12px;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: #BBB;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
    margin-left: 38px;
  }

  #style-trabajo{
    color:#EE4455;
    font-weight: bold;
    margin-top: 15px;
    letter-spacing: 2px;
    font-size: 20px;
  }

  #style-rol{
    color:#FFC73F;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
  }

  #style-extra{
    color:#FF974C;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
  }

  #style-trabajo .letter{
    margin-left:0px;
  }

  #style-rol .letter{
    margin-left:0px;
  }

  #style-extra .letter{
    margin-left:0px;
  }
  /******/
}

@media only screen and (max-width: 414px) {
  md-tabs.md-default-theme .md-tab, md-tabs .md-tab {
      margin-left: 55px;
  }

  #score-card img {
    margin-top: -25px;
    width: 80px;
    margin-left: 30px;
  }

  #score-card span {
    margin-top: -57px;
    position: absolute;
    font-size: 25px;
    letter-spacing: 2px;
    margin-left: 18px;
    font-weight: bold;
  }

  #image-card img {
    width: 150px;
    height: 160px;
    margin-top: -39px;
    margin-left: 65px;
  }

  #content-socials-card {
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
  }

  #califichas-content-happy img {
    width: 30px;
    margin-top: -10px;
    margin-left: 34px;
  }

  #califichas-content-sad img {
    width: 30px;
    margin-top: -10px;
    margin-left: 18px;
  }

  #icon-menu {
    width: 38px;
    margin-left: 80px;
    margin-top: -1.5px;
  }


    /* ************** */

    /* Styles Profile */
    #califichas-content-happy-profile img{
      width: 35px;
      margin-top: 40px;
      margin-left: 25px;
    }

    #califichas-content-sad-profile img{
      width: 35px;
      margin-top: 40px;
      margin-left: 3px;
      cursor: pointer;
    }

    #califichas-content-bad-profile{
      z-index: 2;
    }

    #califichas-content-bad-profile img{
      width: 35px;
      margin-top: 40px;
      margin-left: -20px;
    }

    #content-socials-card-profile{
      text-align: center;
      margin-left: -35px;
      margin-top: 65px;
    }

    #score-card-profile {
      margin-top: 7px;
      margin-left: -42px;
      z-index: 1;
    }

    #score-card-profile img{
      margin-top: 30px;
      width: 85px;
      margin-left: 2px;
    }

    #score-card-profile span{
      margin-top: -65px;
      position: absolute;
      font-size: 35px;
      letter-spacing: 2px;
      margin-left: -18px;
      font-weight: bold;
      color: #FFF;
    }

    #text-chamber-card-profile{
      font-size: 20px;
      margin-top: 50px;
      margin-right: 15px;
      text-transform: uppercase;
      text-align: right;
      color: #BBB;
      font-weight: bold;
      letter-spacing: 9px;
    }

    #text-state-card-profile {
      font-size: 15px;
      text-transform: uppercase;
      text-align: right;
      margin-right: 35px;
      color: #BBB;
      letter-spacing: 2px;
      font-weight: bold;
    }

    #text-state-card-profile span{
      font-size: 10px;
      /* margin-top: 2px; */
      margin-right: 0px;
      text-transform: uppercase;
      text-align: right;
      color: #BBB;
      letter-spacing: 3px;
    }

    #image-card-profile img{
      width: 160px;
      height: 170px;
      margin-top: -5px;
      margin-left: 50px;
      border-radius: 50%;
    }

    #image-party-card-profile img{
      width: 60px;
      margin-left: -17px;
      margin-top: 107px;
    }

    #image-state-card-profile {
      width: 50px;
      height: 50px;
      margin-left: -33px;
      margin-top: 53px;
    }

    #facebook-card-profile img{
      margin-top: -30px;
      width: 30px;
      margin-left: 2px;
    }

    #twitter-card-profile img{
      margin-top: 5px;
      width: 30px;
    }

    #mail-card-profile img{
      margin-top: 5px;
      width: 30px;
    }

    #text-name-card-profile{
      font-size: 17px;
      margin-top: 3px;
      text-align: left;
      letter-spacing: 3px;
      cursor: pointer;
      font-weight: bold;
      margin-left: 38px;
    }

    #text-election-card-profile{
      font-size: 12px;
      margin-top: 3px;
      text-align: left;
      cursor: pointer;
      font-weight: bold;
      margin-left: 38px;
    }

    #text-commission-card-profile{
      font-size: 12px;
      padding-bottom: 5px;
      text-align: left;
      cursor: pointer;
      font-weight: bold;
      margin-left: 38px;
    }

    #style-trabajo{
      color:#EE4455;
      font-weight: bold;
      margin-top: 15px;
      letter-spacing: 2px;
      font-size: 15px;
    }

    #style-rol{
      color:#FFC73F;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 15px;
    }

    #style-extra{
      color:#FF974C;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 15px;
    }

    #style-trabajo .letter{
      margin-left:0px;
    }

    #style-rol .letter{
      margin-left:0px;
    }

    #style-extra .letter{
      margin-left:0px;
    }
    /******/
}
